<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Bản sao kỹ thuật số | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Bản sao kỹ thuật số (Digital Twin) là một phiên bản số hóa chính xác của đối tượng, quá trình hoặc hệ thống thực tế. Nó được tạo ra thông qua việc kết hợp sử dụng các công nghệ kỹ thuật số như phần mềm, cảm biến và mô phỏng." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail"
        content="https://portcoast-bim.com/public/images/solutions/digital-twin/digital-twin-01.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Bản sao kỹ thuật số | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/giai-phap/ban-sao-ky-thuat-so" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Bản sao kỹ thuật số | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Bản sao kỹ thuật số (Digital Twin) là một phiên bản số hóa chính xác của đối tượng, quá trình hoặc hệ thống thực tế. Nó được tạo ra thông qua việc kết hợp sử dụng các công nghệ kỹ thuật số như phần mềm, cảm biến và mô phỏng." />
    <meta property="og:image"
        content="https://portcoast-bim.com/public/images/solutions/digital-twin/digital-twin-01.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/giai-phap/ban-sao-ky-thuat-so" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Bản sao kỹ thuật số | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Bản sao kỹ thuật số (Digital Twin) là một phiên bản số hóa chính xác của đối tượng, quá trình hoặc hệ thống thực tế. Nó được tạo ra thông qua việc kết hợp sử dụng các công nghệ kỹ thuật số như phần mềm, cảm biến và mô phỏng." />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/solutions/digital-twin/digital-twin-01.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/giai-phap/ban-sao-ky-thuat-so" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <div class="pcc-solution">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">Giải pháp toàn diện</span>
                                        <h2 class="pcc-heading animate-box">Bản sao kỹ thuật số (Digital Twin)</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="animate-box" data-animate-effect="fadeInLeft">
                                        <p>Bản sao kỹ thuật số (Digital Twin) là một phiên bản số hóa chính xác của đối
                                            tượng, quá trình hoặc hệ thống thực tế. Nó được tạo ra thông qua việc kết
                                            hợp sử dụng các công nghệ kỹ thuật số như phần mềm, cảm biến và mô phỏng.
                                            Bản sao kỹ thuật số cung cấp đầy đủ các thông tin của đối tượng thực tế.

                                        </p>
                                        <p>Trong quy trình BIM, bản sao kỹ thuật số được sử dụng để quản lý thông tin
                                            chi tiết của tòa nhà hoặc hệ thống, bao gồm các thông tin về hình dạng, kích
                                            thước, vật liệu, các phương pháp xây dựng,...Ngoài ra, nó còn có thể được sử
                                            dụng để phân tích các thông tin quan trọng về hiệu suất và chi phí của dự
                                            án, giúp các nhà thiết kế và nhà quản lý dự án đưa ra các quyết định chính
                                            xác và hiệu quả hơn.</p>
                                    </div>
                                    <div class="animate-box" data-animate-effect="fadeInRight">
                                        <figure>
                                            <img src="/public/images/solutions/digital-twin/digital-twin-01.jpg" alt=""
                                                class="img-fluid">
                                            <figcaption>Mô hình Digital Twin cơ bản mô phỏng hệ thống cảng Cái Mép - Thị
                                                Vải</figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/solutions/digital-twin/digital-twin-02.jpg" alt=""
                                                class="img-fluid">
                                            <figcaption>Mô phỏng tàu cập cảng bên trong mô hình Digital Twin
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include(dir+'partials/solutions.ejs') %>
                    </div>
                </div>
                <%- include (dir+'partials/footer.ejs')%>
            </div>
        </div>

        <%- include (dir+'partials/js.ejs')%>

</body>

</html>