<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-language" content="vi" />
    <title>Khảo sát xây dựng | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chúng tôi chuyên cung cấp dịch vụ Khảo sát xây dựng gồm: Khảo sát Thủy văn - Khảo sát hiện trạng 3D Laser - Khảo sát Địa hình UAV - Lập bản đồ di động (Mobile Mapping)" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
	<meta name="robots" content="noodp, index, follow">
	<meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/cover-surveying.jpg" />

	<!-- GEO -->
	<meta name="DC.title" lang="vi" content="Khảo sát xây dựng | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta name="geo.region" content="VN" />
	<meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
	<meta name="DC.identifier" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-xay-dung" />
	<meta name="geo.position" content="10.798656;106.664696" />
	<meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Khảo sát xây dựng | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta property="og:description" content="Chúng tôi chuyên cung cấp dịch vụ Khảo sát xây dựng gồm: Khảo sát Thủy văn - Khảo sát hiện trạng 3D Laser - Khảo sát Địa hình UAV - Lập bản đồ di động (Mobile Mapping)" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/cover-surveying.jpg" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-xay-dung" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:type" content="website" />

    <meta name="twitter:title" content="Khảo sát xây dựng | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
	<meta name="twitter:description" content="Chúng tôi chuyên cung cấp dịch vụ Khảo sát xây dựng gồm: Khảo sát Thủy văn - Khảo sát hiện trạng 3D Laser - Khảo sát Địa hình UAV - Lập bản đồ di động (Mobile Mapping)" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/cover-surveying.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-xay-dung" />
    <%- include (dir+'partials/css.ejs')%>
</head>
<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Giải pháp toàn diện</span>
                            <h2 class="pcc-heading animate-box">Khảo sát xây dựng</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Phương pháp khảo sát độ nét cao (HDS) hoặc quét laser này chịu trách nhiệm chính trong việc thu thập dữ liệu tốc độ và chất lượng cao của một tòa nhà hoặc một vật thể khó nhìn thấy bằng mắt thường. Các chùm tia laze này được phát ra trong quá trình quét lấy hàng triệu pixel của một vật thể với độ chính xác cao. Chúng được sử dụng để đo cầu, tòa nhà, đường xá, v.v. Những chùm tia an toàn cho mắt này sau đó lấy các giá trị X, Y và Z chính xác trong vài phút.</p>
                            <p>Trung tâm chuyển đổi số Cơ sở hạ tầng tự hào là nhà cung cấp dịch vụ khảo sát bằng công nghệ 3D Laser hàng đầu tại Việt Nam. Cùng với kinh nghiệm và trang thiết bị được cập nhật mới liên tục, chúng tôi sẽ mang đến cho khách hàng chất lượng khảo sát tốt nhất, chính xác nhất. Chúng tôi cung cấp dịch vụ toàn diện bao gồm khảo sát địa hình trên bờ và địa hình dưới mặt nước.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/8ghJPMP4iJU" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                            <div class="fancy-collapse-panel">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Khảo sát thủy văn
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6 services-wrap">
                                                        <div class="solutions-img"
                                                        style="background-image: url(/public/images/solutions/hydro/hydrographic-survey.jpg)">
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Các công cụ khảo sát và lập bản đồ cần thiết để theo dõi xói mòn bờ biển, đo lường và lập bản đồ các vùng nước có thể điều hướng, giám sát đường bờ biển và bãi biển, cung cấp dữ liệu cho các chương trình khắc phục hậu quả bão, đo độ sâu và tính toán khối lượng cho các dự án nạo vét, định vị và lập bản đồ các chướng ngại vật ngập nước, và chuẩn bị cho công trình dưới nước và ven bờ.</p>
                                                        <p>Dịch vụ khảo sát thủy văn chúng tôi thực hiện bao gồm: single beam sonar, multibeam sonar, side scan sonar, magnetometer, sub-bottom profiling,...</p>
                                                        <p><a href="/vi/giai-phap/khao-sat-thuy-van" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                                                    </div>                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">Khảo sát hiện trạng 3D Laser
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6 services-wrap">
                                                        <div class="solutions-img"
                                                        style="background-image: url(/public/images/solutions/3d-laser-scanning/3d-laser-scanning.jpg)">
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Trung tâm chuyển đổi số Cơ sở hạ tầng chuyên cung cấp dịch vụ khảo sát bằng công nghệ 3D Laser. Chúng tôi thu thập một lượng lớn thông tin hiện trường trong một khoảng thời gian rất ngắn. Quá trình này hoạt động bằng cách chụp một loạt các bản quét laser 3D độ nét cao tại chỗ có thể được xử lý ngay lập tức để phân tích.</p>
                                                        <p>Thông qua quá trình quét, hàng triệu điểm 3D được ghi lại trong vòng vài giây và một đám mây điểm 3D được tạo ra. Các dữ liệu 3D đầy đủ thông tin cao độ, số đo, tọa độ, đường kính ống, và ảnh độ nét cao có thể được trích xuất bằng một cú nhấp chuột.</p>
                                                        <p><a href="/vi/giai-phap/khao-sat-hien-trang-3d-laser" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">Khảo sát địa hình UAV/Drone
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6 services-wrap">
                                                        <div class="solutions-img"
                                                        style="background-image: url(/public/images/solutions/uav-survey/rtk300.jpg)"></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Trung tâm chuyển đổi số Cơ sở hạ tầng chuyên cung cấp dịch vụ khảo sát thu thập dữ liệu địa hình bằng thiết bị bay không người lái UAV/Drone. Với công nghệ LiDAR trên máy bay không người lái đã đơn giản hóa toàn bộ quy trình khảo sát, an toàn hơn và tiết kiệm chi phí.</p>
                                                        <p>Chúng tôi ứng dụng giải pháp này cho khảo sát địa hình đất đai, tòa nhà, địa điểm xây dựng, mỏ đá, hầm mỏ và đường cao tốc, v.v.</p>
                                                        <p><a href="/vi/giai-phap/khao-sat-dia-hinh-uav" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseFive" aria-expanded="false"
                                                    aria-controls="collapseFive">Lập bản đồ di động (Mobile Mapping)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6 services-wrap">
                                                        <div class="solutions-img"
                                                        style="background-image: url(/public/images/solutions/mobile-mapping/mobile-mapping.jpg)">
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Lập bản đồ di động (Mobile Mapping) là quá trình thu thập dữ liệu không gian địa lý bằng cách sử dụng các thiết bị cảm biến lập bản đồ được gắn trên các nền tảng di chuyển như ô tô, tàu biển hoặc máy bay.</p>
                                                        <p>   <p>Trung tâm chuyển đổi số Cơ sở hạ tầng có kinh nghiệm thực hiện các cuộc khảo sát lập bản đồ di động để thu thập dữ liệu 3D đám mây điểm, ảnh chụp 360°, video độ nét cao và hình ảnh nhiệt cho hành lang tuyến đường.</p></p>
                                                        <p><a href="/vi/giai-phap/lap-ban-do-di-dong-mobile-mapping" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pcc-equipment">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Thiết bị</span>
                            <h2 class="pcc-heading">Những thiết bị hiện đại của chúng tôi</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                    alt="Trimble MX50 Mobile Mapping"></a>
                                        </div>
                                        <h3>Hệ thống lập bản đồ di động<br>Trimble MX50</h3>
                                        <p>Trimble MX50 là giải pháp lập bản đồ kết hợp dữ liệu LiDAR chính xác và hình
                                            ảnh trực quan để quản lý tài sản, lập bản đồ, bảo trì đường bộ,..</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                    alt="Polaris TLS"></a>
                                        </div>
                                        <h3>Thiết bị lập bản đồ di động<br>Polaris TLS</h3>
                                        <p>With an integrated high-resolution camera, inclinometers, compass, GPS
                                            receiver, and weather-proof housing, the Polaris can be deployed in many
                                            environments and orientations.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a><img src="/public/images/home/stormbee.jpg" alt="Stormbee UAV S-20<"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>Stormbee UAV S-20</h3>
                                        <p>Stormbee UAV S-20 là một thiết bị bay không người lái, nó kết hợp với máy
                                            quét Laser của Faro có thể dùng để khảo sát trên không, với độ chính xác cực
                                            kì cao. Sử dụng để khảo sát trên không các cơ sở công nghiệp, khu vực đất
                                            nông nghiệp và lâm nghiệp,...</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.dji.com/matrice-300" target="_blank"><img
                                                    src="/public/images/home/matrice-300-rtk.jpg"
                                                    alt="Matrice 300 RTK + Zenmuse L1 + Zenmuse P1"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>
                                            Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                        <p>Máy bay không người lái có cảm biến ở 6 hướng, hệ thống định vị RTK. Hệ thống
                                            Matrice 300RTK - Zenmuse L1 có khả năng thu thập dữ liệu hình ảnh đồng thời
                                            với đám mây điểm nhiều đặc tính nhờ 3 lần tín hiệu Lidar phản hồi và có khả
                                            năng xuyên qua tán lá…</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.shareuavtec.com/102V3" target="_blank"><img
                                                    src="/public/images/home/share-uav-psdk-102s-v3.jpg"
                                                    alt="Share UAV PSDK 102S V3"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>Share UAV PSDK 102S V3</h3>
                                        <p>PSDK 102S V3 với 5 ống kính với Gimbal ổn định 3 trục, là một máy ảnh khảo
                                            sát tích hợp cao chuyên về phép đo ảnh trên không. Tăng cường hiệu quả hoạt
                                            động hoàn toàn mang lại trải nghiệm vận hành chưa từng có.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/otter-pro.jpg"
                                                    alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                        </div>
                                        <h3>Tàu không người lái Otter Pro USV<br>Norbit iWBMS Multibeam Sonar & iLiDAR
                                        </h3>
                                        <p>Thiết bị USV OTTER Pro có hệ thống tích hợp giữa Đa tia iWBMS và Cảm biến
                                            Laser iLiDAR của NORBIT để ghi lại dữ liệu dưới nước và cả hai bên bờ. Giải
                                            pháp hiệu quả để khảo sát ở các khu vực nước nông như hồ, kênh, sông, ao và
                                            các khu vực bến cảng.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12"
                                                target="_blank"><img src="/public/images/home/trimble-sx12.jpg"
                                                    alt="Trimble SX12 Scanning Total Station"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser<br>Trimble SX12</h3>
                                        <p>GLS-2200 là 1 loại thiết bị san laser do hãng Topcon – Nhật Bản sản xuất.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-scanstation-p50"
                                                target="_blank"><img src="/public/images/home/leica-p50.jpg"
                                                    alt="Leica Scanstation P50"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser (Tầm xa)<br>Leica Scanstation P50</h3>
                                        <p>Leica ScanStation P50 là máy quét laser 3D tầm xa. Giúp tối đa hóa năng suất
                                            bằng cách quét các vị trí không thể tiếp cận mà chỉ cần đặt máy tại một vị
                                            trí an toàn trong khu vực quét, giúp tiết kiệm thời gian.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-rtc360"
                                                target="_blank"><img src="/public/images/home/leica-rtc360.jpg"
                                                    alt="Leica RTC360 3D Laser Scanner"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser<br>Leica RTC360</h3>
                                        <p>Máy quét 3D Laser Leica RTC360 là giải pháp thu thập dữ liệu thông tin môi
                                            trường, cho phép người dùng ghi lại và quét 3D toàn bộ cảnh quan, từ đó giúp
                                            nâng cao hiệu quả và năng suất nhanh chóng và chính xác.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                    alt="Leica iCON iCR80 Robotic Total Statio"></a>
                                        </div>
                                        <h3>Máy toàn đạc điện tử<br>Leica iCON iCR80 Robotic</h3>
                                        <p>Máy toàn đạc điện tử Leica iCON iCR80 Robotic giúp gia tăng số lượng các điểm
                                            quan nhờ vào công nghệ ATRplus với tính năng định vị tự động hóa cao cùng
                                            với khả năng khóa và khóa lại mạnh mẽ nhất trên thị trường hiện nay. Nó đặc
                                            biệt hữu ích ở các công trường đông đúc, nơi bị cản trở bởi nhiều máy móc và
                                            người di chuyển.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/leica-ts60.jpg" alt="">
                                        </div>
                                        <h3>Máy toàn đạc điện tử<br>Leica Nova TS60 Total Station</h3>
                                        <p>Thiết bị toàn đạc Leica Nova TS60 là thiết bị chính xác nhất trên thế giới
                                            hiện nay, được thiết kế để đáp ứng các dự án khắt khe nhất. Với độ chính xác
                                            đo góc 0,5” (ít hơn 1 giây) và đo chiều dài là 0,6mm+1ppm (ít hơn 1mm).</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.topconpositioning.com/scanning/laser-scanners/gls-2200"
                                                target="_blank"><img src="/public/images/home/topcon-gls-2200.jpg"
                                                    alt="Topcon GLS-2200"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser<br>Topcon GLS-2200</h3>
                                        <p>GLS-2200 là 1 loại thiết bị san laser do hãng Topcon – Nhật Bản sản xuất. Với
                                            công nghệ quét và quy trình làm việc mới nhất + phần mềm xử lý thân thiện
                                            với người dùng giúp cho chúng ta có thể hoàn thành công việc nhanh chóng và
                                            dễ dàng.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.faro.com/en/Products/Hardware/Focus-Laser-Scanners"
                                                target="_blank"><img src="/public/images/home/faro-s350a.jpg"
                                                    alt="FARO Focus S350-A"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser<br>FARO Focus S350-A</h3>
                                        <p>FARO Focus S350-A được thiết kế đặc biệt cho các ứng dụng ngoài trời với
                                            thiết kế gọn nhẹ và tầm quét rộng. Focus S350-A cho ra dữ liệu quét ngay cả
                                            trong môi trường đầy thách thức, khoảng không làm việc chật hẹp, các khu vực
                                            bụi bặm hoặc ẩm ướt, trong trời mưa hoặc trực tiếp dưới nắng.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://matterport.com/cameras/pro2-3D-camera" target="_blank"><img
                                                    src="/public/images/home/matterport.jpg" alt="MatterPort"></a>
                                        </div>
                                        <h3>Máy ảnh 3D<br>MatterPort Pro 2</h3>
                                        <p>Matterport là tiêu chuẩn để chụp không gian 3D. Nền tảng tất cả trong một của
                                            chúng tôi biến không gian trong đời thực thành các mô hình đôi kỹ thuật số
                                            sống động.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/unitree-go1.jpg"
                                                alt="Unitree Go1 Plus & Leica BLK 360">
                                        </div>
                                        <h3>Robot điều khiển<br>Unitree Go1 Plus &amp; Leica BLK 360</h3>
                                        <p>Chú chó điều khiển Unitree Go1 Plus mang theo máy quét 3D Laser Leica BLK
                                            360, khảo sát ở những nơi có môi trường không thuận tiện (khói, bụi,
                                            nhiệt,..).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
			<%- include (dir+'partials/brands.ejs')%>
			<%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>

</body>

</html>