<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Khảo sát Địa hình bằng UAV - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D
        Laser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Trung tâm chuyển đổi số Portcoast chuyên cung cấp dịch vụ khảo sát thu thập dữ liệu địa
                                hình bằng thiết bị bay không người lái UAV/Drone." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Khảo sát Địa hình bằng UAV - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-dia-hinh-uav" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Khảo sát Địa hình bằng UAV - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta property="og:description"
        content="Trung tâm chuyển đổi số Portcoast chuyên cung cấp dịch vụ khảo sát thu thập dữ liệu địa
                                hình bằng thiết bị bay không người lái UAV/Drone." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-dia-hinh-uav" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Khảo sát Địa hình bằng UAV - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta name="twitter:description"
        content="Trung tâm chuyển đổi số Portcoast chuyên cung cấp dịch vụ khảo sát thu thập dữ liệu địa
                                hình bằng thiết bị bay không người lái UAV/Drone." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-dia-hinh-uav" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <section class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Giải pháp toàn diện</span>
                            <h2 class="pcc-heading animate-box">Khảo sát Địa hình bằng UAV/Drone</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Trung tâm chuyển đổi số Portcoast chuyên cung cấp dịch vụ khảo sát thu thập dữ liệu địa
                                hình bằng thiết bị bay không người lái UAV/Drone. Với công nghệ LiDAR trên máy bay không người lái đã đơn giản hóa toàn bộ quy trình khảo sát, an toàn hơn và tiết kiệm chi phí. </p>
                            <p>Chúng tôi ứng dụng giải pháp này cho khảo sát địa hình đất đai, tòa nhà, địa điểm xây dựng, mỏ đá, hầm mỏ và đường cao tốc, v.v.</p>
                            <p>
                                <strong>Các ứng dụng cho khảo sát bằng máy bay không người lái:</strong></p>
                            <ul>
                                <li>Khảo sát địa hình đất đai
                                </li>
                                <li>Quy hoạch đô thị
                                </li>
                                <li>Đo đặc diện tích
                                </li>
                                <li>Quản lý và phát triển đất đai
                                </li>
                                <li>Tính toán thể tích
                                </li>
                                <li>Giám sát độ dốc
                                </li>
                            </ul>
                            <p>
                                <strong>Lợi ích của phương pháp khảo sát bằng UAV/Drone:</strong></p>
                             <ul>
                                 <li>Máy bay không người lái có thể thu thập dữ liệu có độ chính xác cao nhanh hơn nhiều so với các đội khảo sát truyền thống
                                 </li>
                                 <li>Việc thu thập dữ liệu và xử lý bằng phần mềm mạnh mẽ mang lại sản phẩm đầu ra cần thiết nhanh chóng. Kết quả khảo sát của chúng tôi có thể được gửi đến khách hàng một cách sớm nhất
                                 </li>
                                 <li>Việc sử dụng máy bay không người lái giúp tránh được nhu cầu tiếp cận của con người với địa hình và môi trường nguy hiểm, khó tiếp cận mà không làm gián đoạn các hoạt động hiện trường
                                 </li>
                                 <li>Dữ liệu kỹ thuật số cũng cho phép lưu trữ, truy xuất và so sánh dữ liệu dễ dàng trong môi trường Internet
                                 </li>
                                 <li>Các công cụ phân tích và xử lý dữ liệu dựa trên đám mây mang lại lợi ích hơn nữa cho nhóm của bạn bằng cách cho phép các kỹ sư, người quản lý dự án, người quản lý địa điểm và nhà thầu phụ thực hiện các phép đo và thực hiện tính toán trên dữ liệu khảo sát chỉ bằng PC, máy tính xách tay hoặc thậm chí máy tính bảng đơn giản, kết nối dữ liệu Internet hợp lý
                                 </li>
                             </ul>
                            <p>
                                <strong>Các sản phẩm đầu ra:</strong></p>
                            <ul>
                                <li>Mô hình độ cao kỹ thuật số
                                </li>
                                <li>Mô hình lưới 3D
                                </li>
                                <li>Mô hình 3D đám mây điểm 
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/Pj531Q5zKx4" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pcc-equipment">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Thiết bị</span>
                            <h2 class="pcc-heading">Những thiết bị khảo sát UAV/Drone</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a><img src="/public/images/home/stormbee.jpg" alt="Stormbee UAV S-20"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>Stormbee UAV S-20</h3>
                                        <p>Stormbee UAV S-20 là một thiết bị bay không người lái, nó kết hợp với máy
                                            quét Laser của Faro có thể dùng để khảo sát trên không, với độ chính xác cực
                                            kì cao. Sử dụng để khảo sát trên không các cơ sở công nghiệp, khu vực đất
                                            nông nghiệp và lâm nghiệp,...</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.dji.com/matrice-300" target="_blank"><img
                                                    src="/public/images/home/matrice-300-rtk.jpg"
                                                    alt="Matrice 300 RTK + Zenmuse L1 + Zenmuse P1"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>
                                            Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                        <p>Máy bay không người lái có cảm biến ở 6 hướng, hệ thống định vị RTK. Hệ thống
                                            Matrice 300RTK - Zenmuse L1 có khả năng thu thập dữ liệu hình ảnh đồng thời
                                            với đám mây điểm nhiều đặc tính nhờ 3 lần tín hiệu Lidar phản hồi và có khả
                                            năng xuyên qua tán lá…</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.shareuavtec.com/102V3" target="_blank"><img
                                                    src="/public/images/home/share-uav-psdk-102s-v3.jpg"
                                                    alt="Share UAV PSDK 102S V3"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>Matrice 300 RTK + Share PSDK 102S V3</h3>
                                        <p>PSDK 102S V3 với 5 ống kính với Gimbal ổn định 3 trục, là một máy ảnh khảo
                                            sát tích hợp cao chuyên về phép đo ảnh trên không. Máy ảnh được kết nối liền mạch với DJI 
                                            Matrice 300 RTK thông qua SkyPort.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/dji-matrice-30t.jpg"
                                                    alt="DJI Matrice 30T"></a>
                                        </div>
                                        <h3>Máy bay không người lái (Drone)<br>DJI Matrice 30T
                                        </h3>
                                        <p>Thiết bị bay không người lái model Matrice 30T là 1 trong 2 thiết bị thuộc dòng matrice 30 series mới được DJI ra mắt tháng 3 vừa qua. Nó là công cụ cực kì hữu ích đối với nhiều ngành công nghiệp. Với khả năng hình ảnh và camera nhiệt cho phép chúng thực hiện các công việc kiểm tra trong ngành công nghiệp năng lượng một cách nhanh chóng và hiệu quả.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/phantom-4-rtk.jpg"
                                                    alt="DJI Phantom 4 RTK"></a>
                                        </div>
                                        <h3>Máy bay không người lái (Drone)<br>DJI Phantom 4 RTK
                                        </h3>
                                        <p>Phantom 4 RTK là thiết bị bay không người lái tích hợp khả năng khảo sát địa hình, thu tín hiệu GPS 2 tần số, kết hợp với trạm base station…Nó mang lại hiệu quả cao trong các nhiệm vụ: bay chụp bản đồ địa chính, bay chụp bản đồ địa hình, bay chụp tuyến đường điện, hoặc đo động RTK thời gian thực, đo động PPK GPS xử lý sau…</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/brands.ejs')%>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include (dir+'partials/js.ejs')%>

</body>

</html>