<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Khảo sát Thủy văn | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Các dịch vụ khảo sát thủy văn chúng tôi thực hiện bao gồm: single beam sonar, multibeam sonar, side scan sonar, magnetometer, sub-bottom profiling,v.v." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/hydro/hydrographic-survey.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Khảo sát Thủy văn | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-thuy-van" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Khảo sát Thủy văn | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Các dịch vụ khảo sát thủy văn chúng tôi thực hiện bao gồm: single beam sonar, multibeam sonar, side scan sonar, magnetometer, sub-bottom profiling,v.v." />
    <meta property="og:image"
        content="https://portcoast-bim.com/public/images/solutions/hydro/hydrographic-survey.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-thuy-van" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Khảo sát Thủy văn | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Các dịch vụ khảo sát thủy văn chúng tôi thực hiện bao gồm: single beam sonar, multibeam sonar, side scan sonar, magnetometer, sub-bottom profiling,v.v." />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/solutions/hydro/hydrographic-survey.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/giai-phap/khao-sat-thuy-van" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Giải pháp toàn diện</span>
                            <h2 class="pcc-heading animate-box">Khảo sát Thủy văn</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Khảo sát thủy văn có thể được thực hiện ở nhiều địa điểm khác nhau, từ vùng nước nông ven
                                biển đến sông hồ. Bằng việc sử dụng máy đo sâu hồi âm đa tia và công nghệ liên quan được
                                gắn trên phương tiện không người lái mặt nước (USV).</p>
                            <p>Tại trung tâm chuyển đổi số cơ sở hạ tầng, chúng tôi có nhiều kinh nghiệm trong khảo sát
                                thủy văn và lập bản đồ đáy biển, cung cấp dịch vụ cho ngành xây dựng ngoài khơi và năng
                                lượng tái tạo, tư vấn môi trường. Các tàu khảo sát của chúng tôi được trang bị máy đo
                                tiếng vọng đa tia, hệ thống định vị, máy định hình đáy phụ và sonar quét bên để thực
                                hiện thu thập dữ liệu có độ phân giải cao cho nhiều ứng dụng khách hàng yêu cầu.</p>
                            <p>Các dịch vụ khảo sát thủy văn chúng tôi thực hiện bao gồm: single beam sonar, multibeam
                                sonar, side scan sonar, magnetometer, sub-bottom profiling,...
                            </p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/5-RkwL6wIWQ" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInRight">
                            <div class="fancy-collapse-panel">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Single Beam Sonar
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <p>Giải pháp sử dụng công nghệ sóng âm để tạo ra hình ảnh của đáy biển
                                                    hoặc các cấu trúc dưới nước khác. Kỹ thuật này sử dụng một bản đồ
                                                    chi tiết của độ sâu và các vật thể dưới nước, được tạo ra bằng cách
                                                    gửi sóng âm từ một thiết bị phát và nhận lại tín hiệu phản xạ từ các
                                                    vật thể dưới nước.</p>
                                                <p>Single beam sonar thường được sử dụng để thăm dò địa hình đáy biển, tìm kiếm tài nguyên dưới nước như dầu và khí đốt, đánh bắt cá, nghiên cứu động vật và thực vật dưới nước, đo lường mức nước và xác định vị trí các cấu trúc dưới nước như đường ống dẫn dầu, đường ống thoát nước và cảng biển.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">Multibeam Sonar
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <p>Giải pháp "Multibeam Sonar" công nghệ tạo hình ảnh dưới nước sử dụng nhiều tia sóng âm để tạo ra một hình ảnh chi tiết hơn và rõ ràng hơn về các cấu trúc dưới nước so với dịch vụ single beam sonar.</p>
                                                <p>Multibeam sonar sử dụng nhiều thiết bị phát sóng và bộ thu sóng để tạo ra một mạng lưới các tia sóng âm phát ra từ nhiều hướng khác nhau, tạo ra một bản đồ chi tiết hơn về đáy biển và các cấu trúc dưới nước. Các tín hiệu sóng âm được thu lại và xử lý để tạo ra hình ảnh chi tiết về độ sâu và các đối tượng dưới nước.</p>
                                                <p>Multibeam sonar thường được sử dụng trong các ứng dụng đòi hỏi độ chính xác và chi tiết cao hơn, chẳng hạn như xây dựng bản đồ đáy biển chi tiết, phát hiện các cấu trúc dưới nước như tàu đắm, tìm kiếm dầu mỏ và khí đốt, phát hiện mạng lưới ống dẫn dầu và khí đốt, và nghiên cứu động vật và thực vật dưới nước.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">Side Scan Sonar
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <p>Giải pháp Side Scan Sonar cung cấp thông tin về đáy biển và các cấu trúc dưới nước bằng cách sử dụng sóng âm. Kỹ thuật này sử dụng các thiết bị phát sóng và thu sóng để tạo ra hình ảnh chính xác về đáy biển, tàu chìm, đường ống dẫn dầu, tàn tích tàu thuyền và các cấu trúc khác trên đáy biển.</p>
                                                <p>Side Scan Sonar được sử dụng rộng rãi trong lĩnh vực khai thác tài nguyên dưới biển, tìm kiếm các đối tượng bị mất trôi trên biển, khảo sát đáy biển và các hoạt động thăm dò khác. Việc sử dụng Side Scan Sonar giúp giảm thời gian, chi phí và rủi ro so với việc sử dụng phương pháp thăm dò truyền thống.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseFive" aria-expanded="false"
                                                    aria-controls="collapseFive">Magnetometer
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                <p>Magnetometer là một phương pháp sử dụng thiết bị đo lường từ trường để thu thập thông tin về tính chất của đất và các cấu trúc bên trong đất. Kỹ thuật này được sử dụng để tìm kiếm các khoáng sản, tìm kiếm dầu khí, định vị các tàn tích cổ đại, tàu chìm và vật thể khác ở độ sâu khác nhau dưới mặt đất hoặc dưới đáy biển.</p>
                                                <p>Magnetometer sử dụng cảm biến từ trường để đo lường từ trường địa cầu tại vị trí đo. Khi các vật thể có khối lượng lớn như các mỏ đá hoặc dầu khí nằm dưới lòng đất, chúng sẽ gây ra sự thay đổi từ trường địa cầu, được phát hiện bởi magnetometer. Dữ liệu từ magnetometer sau đó được sử dụng để tạo ra hình ảnh các vật thể bên trong đất hoặc dưới đáy biển. Thường được sử dụng rộng rãi trong lĩnh vực khai thác tài nguyên và khảo sát địa chất, đặc biệt là trong việc tìm kiếm khoáng sản và tìm kiếm dầu khí. Ngoài ra, nó còn được sử dụng trong nghiên cứu địa chất, khảo sát địa hình, tìm kiếm các tàn tích cổ đại và các vật thể khác trên đất và dưới nước.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSix">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseSix" aria-expanded="false"
                                                    aria-controls="collapseSix">Sub-bottom Profiling
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="headingSix">
                                            <div class="panel-body">
                                                <p>Sub-bottom Profiling là phương pháp sử dụng sóng âm để thu thập thông tin về cấu trúc đất và địa chất dưới đáy biển. Kỹ thuật này được sử dụng để tìm kiếm các tàn tích cổ đại, khảo sát đáy biển, tìm kiếm dầu khí và khai thác các tài nguyên dưới biển khác.</p>
                                                <p>Sub-bottom Profiling sử dụng thiết bị phát sóng và thu sóng để tạo ra hình ảnh cắt ngang của đất và địa chất dưới đáy biển. Sóng âm được phát ra từ thiết bị phát sóng, đi qua nước và xuyên qua đáy biển. Khi sóng âm gặp phải các tầng khác nhau của đất và địa chất dưới đáy biển, nó sẽ bị phản xạ và trở lại được thu lại bởi thiết bị thu sóng. Dữ liệu thu được từ thiết bị thu sóng sau đó được sử dụng để tạo ra hình ảnh 3D của đất và địa chất dưới đáy biển. Được sử dụng rộng rãi trong lĩnh vực khai thác tài nguyên và khảo sát địa chất, đặc biệt là trong việc tìm kiếm dầu khí và khai thác tài nguyên dưới biển. Nó cũng được sử dụng để tìm kiếm các tàn tích cổ đại, khảo sát đáy biển và các hoạt động thăm dò khác. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pcc-equipment">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Thiết bị</span>
                            <h2 class="pcc-heading">Những thiết bị khảo sát thủy văn</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/otter-pro.jpg"
                                                    alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                        </div>
                                        <h3>Tàu không người lái Otter Pro USV<br>Norbit iWBMS Multibeam Sonar & iLiDAR
                                        </h3>
                                        <p>Thiết bị USV OTTER Pro có hệ thống tích hợp giữa Đa tia iWBMS và Cảm biến
                                            Laser iLiDAR của NORBIT để ghi lại dữ liệu dưới nước và cả hai bên bờ. Giải
                                            pháp hiệu quả để khảo sát ở các khu vực nước nông như hồ, kênh, sông, ao và
                                            các khu vực bến cảng.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.edgetech.com/wp-content/uploads/2019/07/0004840_REV_E.pdf"
                                                target="_blank"><img src="/public/images/home/edgetech-3200.jpg"
                                                    alt="Hệ thống EdgeTech 3200-XS Sub-bottom Profiling"></a>
                                        </div>
                                        <h3>Hệ thống<br>EdgeTech 3200-XS Sub-bottom Profiling</h3>
                                        <p>Hệ thống EdgeTech 3200-XS Sub-bottom Profiling là thiết bị đo địa tầng dưới
                                            đáy với tần số rộng (FM) và độ phân giải cao sử dụng công nghệ Full Spectrum
                                            CHIRP độc quyền của EdgeTech. Hệ thống truyền xung FM được quét tuyến tính
                                            trên tần số Toàn phổ. </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.edgetech.com/wp-content/uploads/2019/07/0004842_Rev_P.pdf"
                                                target="_blank"><img
                                                    src="/public/images/home/edg-tech-4200-mp-side-scan-sonar.jpg"
                                                    alt="Hệ thống EdgeTech 4200-MP Side Scan Sonar"></a>
                                        </div>
                                        <h3>Hệ thống<br>EdgeTech 4200-MP Side Scan Sonar</h3>
                                        <p>Hệ thống EdgeTech Side Scan Sonar 4200-MP có lợi thế độc đáo so với các hệ
                                            thống quét hai tần số thông thường là việc kết hợp các công nghệ Full
                                            Spectrum và Multi-Pulse của EdgeTech trong cùng một thiết bị; Cung cấp hình
                                            ảnh của đáy biển, sông, hồ với độ phân giải cao.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/brands.ejs')%>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include (dir+'partials/js.ejs')%>

</body>

</html>