<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Lập bản đồ di động Mobile Mapping | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Lập bản đồ di động (Mobile Mapping) là quá trình thu thập dữ liệu không gian địa lý bằng cách sử dụng các thiết bị cảm biến lập bản đồ được gắn trên các nền tảng di chuyển như ô tô, tàu biển hoặc máy bay." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail"
        content="https://portcoast-bim.com/public/images/solutions/mobile-mapping/mobile-mapping.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Lập bản đồ di động Mobile Mapping | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/giai-phap/lap-ban-do-di-dong-mobile-mapping" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Lập bản đồ di động Mobile Mapping | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Lập bản đồ di động (Mobile Mapping) là quá trình thu thập dữ liệu không gian địa lý bằng cách sử dụng các thiết bị cảm biến lập bản đồ được gắn trên các nền tảng di chuyển như ô tô, tàu biển hoặc máy bay." />
    <meta property="og:image"
        content="https://portcoast-bim.com/public/images/solutions/mobile-mapping/mobile-mapping.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/giai-phap/lap-ban-do-di-dong-mobile-mapping" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Lập bản đồ di động Mobile Mapping | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Lập bản đồ di động (Mobile Mapping) là quá trình thu thập dữ liệu không gian địa lý bằng cách sử dụng các thiết bị cảm biến lập bản đồ được gắn trên các nền tảng di chuyển như ô tô, tàu biển hoặc máy bay." />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/solutions/mobile-mapping/mobile-mapping.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/giai-phap/lap-ban-do-di-dong-mobile-mapping" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-solution">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">Giải pháp toàn diện</span>
                                        <h2 class="pcc-heading animate-box">Hệ thống lập bản đồ di động<br>(Mobile
                                            Mapping)</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="animate-box" data-animate-effect="fadeInLeft">
                                        <p>Lập bản đồ di động (Mobile Mapping) là quá trình thu thập dữ liệu không gian
                                            địa lý bằng cách sử dụng các thiết bị cảm biến lập bản đồ được gắn trên các
                                            nền tảng di chuyển như ô tô, tàu biển hoặc máy bay.</p>
                                        <p>Hệ thống bản đồ di động sử dụng công nghệ GNSS kết hợp với Hệ thống Định vị
                                            Quán tính (IMU) cho phép tính toán nhanh chóng và chính xác vị trí 3D, vận
                                            tốc và trạng thái liên tục. Điều quan trọng là tất cả dữ liệu vị trí
                                            GNSS/IMU được đồng bộ hóa theo thời gian với các cảm biến để cho phép lập
                                            bản đồ trực tiếp và chính xác các cảnh quan, vật thể. Lợi thế của giải pháp
                                            công nghệ lập bản đồ di động mới nhất cho phép chúng tôi cung cấp cho khách
                                            hàng của mình một cách hiệu quả về chi phí để thực hiện các cuộc khảo sát
                                            quy mô lớn trong khoảng thời gian ngắn.
                                        </p>
                                        <div class="video-container">
                                            <iframe src="https://www.youtube.com/embed/qxXKzquF01U"
                                                title="Mobile Mapping System" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </div>
                                        <div class="video-container">
                                            <iframe src="https://www.youtube.com/embed/iZHUCAvf2_s"
                                                title="Mobile Mapping System" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </div>
                                        <p>Trung tâm chuyển đổi số Cơ sở hạ tầng có kinh nghiệm thực hiện các cuộc khảo
                                            sát lập bản đồ di động để thu thập dữ liệu 3D đám mây điểm, ảnh chụp 360°,
                                            video độ nét cao và hình ảnh nhiệt cho hành lang tuyến đường.</p>
                                        <h5>Các ứng dụng của Lập bản đồ di động:</h5>
                                        <ul class="pcc-list">
                                            <li>Quản lý cơ sở hạ tầng đường bộ, đường cao tốc, đường sắt và đường thủy
                                            </li>
                                            <li>Quản lý cơ sở hạ tầng thành phố, đường băng và sân bay
                                            </li>
                                            <li>Cơ sở dữ liệu số 3D, phục vụ xây dựng thành phố thông minh – Smart City
                                            </li>
                                            <li>Lập bản đồ mỏ đá, đường hầm
                                            </li>
                                            <li>Khảo sát địa hình
                                            </li>
                                            <li>Lập hệ thống thông tin địa lý - GIS</li>
                                        </ul>
                                        <p>Giải pháp giúp tiết kiệm thời gian - phương tiện lập bản đồ di động có thể
                                            thu thập dữ liệu với tốc độ lên tới 50 dặm/giờ, bao quát khoảng cách đáng kể
                                            và thu thập lượng lớn dữ liệu rất nhanh chóng mà không gặp trở ngại.</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <%- include(dir+'partials/solutions.ejs') %>          
                    </div>
                </div>
            </section>
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Thiết bị</span>
                                <h2 class="pcc-heading">Những thiết bị Lập bản đồ di động</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                    target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                        alt="Trimble MX50 Mobile Mapping"></a>
                                            </div>
                                            <h3>Hệ thống lập bản đồ di động<br>Trimble MX50</h3>
                                            <p>Trimble MX50 là giải pháp lập bản đồ kết hợp dữ liệu LiDAR chính xác và
                                                hình
                                                ảnh trực quan để quản lý tài sản, lập bản đồ, bảo trì đường bộ,..</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                    target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                        alt="Polaris TLS"></a>
                                            </div>
                                            <h3>Thiết bị lập bản đồ di động<br>Polaris TLS</h3>
                                            <p>With an integrated high-resolution camera, inclinometers, compass, GPS
                                                receiver, and weather-proof housing, the Polaris can be deployed in many
                                                environments and orientations.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/brands.ejs')%>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include (dir+'partials/js.ejs')%>

</body>

</html>