<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Applications - Portcoast Digital Transformation | BIM & GIS Services | Scan to BIM & 3D Laser Scanning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-application.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Applications - Portcoast Digital Transformation | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/application" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Applications - Portcoast Digital Transformation | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta property="og:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/application" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Applications - Portcoast Digital Transformation | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta name="twitter:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/application" />
    <meta name="twitter:card" content="summary" />
    <%- include ('partials/css.ejs')%>

</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>

        <div id="pcc-main">
			<section class="pcc-application">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Application</span>
                            <h2 class="pcc-heading">Fields we apply Laser scanning & Scan to BIM</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/oil-industry.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Industry</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>

                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/construction.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>construction</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>

                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/map.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Survey &amp; Urban Planning</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>

                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/maritime.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Maritime</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/heritage.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Architecture &amp; Heritage</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/facility-management.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Facility Management</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/infratructure.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Infrastructure</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/accident.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Accident</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			<%- include ('partials/brands.ejs')%>
			<%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include ('partials/js.ejs')%>

</body>

</html>