<!DOCTYPE HTML>
<html lang="vi">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-language" content="vi" />
    <title>Dịch vụ - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chúng tôi cung cấp các sản phẩm từ giải pháp Scan to BIM: Khảo sát 3D Laser; Mô hình BIM; Mô hình mesh; Mô phỏng 3D; Lập bản đồ di động GIS; Web tham quan ảo;..." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
	<meta name="robots" content="noodp, index, follow">
	<meta name="thumbnail" content="https://www.portcoast.com.vn/public/images/cover-services.jpg" />

	<!-- GEO -->
	<meta name="DC.title" lang="vi" content="Dịch vụ - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta name="geo.region" content="VN" />
	<meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
	<meta name="DC.identifier" content="https://portcoast-bim.com/vi/dịch-vu" />
	<meta name="geo.position" content="10.798656;106.664696" />
	<meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Dịch vụ - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta property="og:description" content="Chúng tôi cung cấp các sản phẩm từ giải pháp Scan to BIM: Khảo sát 3D Laser; Mô hình BIM; Mô hình mesh; Mô phỏng 3D; Lập bản đồ di động GIS; Web tham quan ảo;..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-services.jpg" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/dịch-vu" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:type" content="website" />

    <meta name="twitter:title" content="Dịch vụ - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta name="twitter:description" content="Chúng tôi cung cấp các sản phẩm từ giải pháp Scan to BIM: Khảo sát 3D Laser; Mô hình BIM; Mô hình mesh; Mô phỏng 3D; Lập bản đồ di động GIS; Web tham quan ảo;..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-services.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/dịch-vu" />
	<meta name="twitter:card" content="summary" />

    <%- include('partials/css.ejs') %>

</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include('partials/nav.ejs') %>

        <div id="pcc-main">
			<div class="pcc-services">
				<div class="pcc-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">Dịch vụ</span>
							<h2 class="pcc-heading animate-box">Các sản phẩm của chúng tôi</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/scan-to-bim.jpg)"></div>
                                <div class="desc">
                                    <h3>Scan to BIM</h3>
                                </div>
                            </a>
                        </div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/point-cloud.jpg)"></div>
								<div class="desc">
									<h3>Quét Point cloud</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/bim-modeling.jpg)"></div>
								<div class="desc">
									<h3>Mô hình BIM</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/mesh-3d.jpg)"></div>
								<div class="desc">
									<h3>Mô hình Mesh</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/deformation-surveys.jpg)"></div>
								<div class="desc">
									<h3>Khảo sát biến dạng</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/volume-surveys.jpg)"></div>
								<div class="desc">
									<h3>Khảo sát khối lượng san lấp</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/clash-detection.jpg)"></div>
								<div class="desc">
									<h3>Phát hiện xung đột</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/topo-survey.jpg)"></div>
								<div class="desc">
									<h3>Khảo sát địa hình & Thủy văn</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/gis-services.jpg)"></div>
								<div class="desc">
									<h3>Dịch vụ GIS</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/simulation.jpg)"></div>
								<div class="desc">
									<h3>Mô phỏng 3D</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/game-ar-vr.jpg)"></div>
								<div class="desc">
									<h3>Thực tế ảo AR/VR/MR</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(/public/images/services/virtual-tour.jpg)"></div>
								<div class="desc">
									<h3>Tham quan ảo (Virtual tour 360°)</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<%- include ('partials/brands.ejs')%>
			<%- include ('partials/footer.ejs')%>
        </div>
    </div>

     <%- include('partials/js.ejs') %>

</body>

</html>