<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-language" content="vi" />
    <title>Giải pháp - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
	<meta name="robots" content="noodp, index, follow">
	<meta name="thumbnail" content="https://www.portcoast.com.vn/public/images/cover-application.jpg" />

	<!-- GEO -->
	<meta name="DC.title" lang="vi" content="Giải pháp - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta name="geo.region" content="VN" />
	<meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
	<meta name="DC.identifier" content="https://portcoast-bim.com/vi/giai-phap" />
	<meta name="geo.position" content="10.798656;106.664696" />
	<meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Giải pháp - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta property="og:description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/giai-phap" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:type" content="website" />

    <meta name="twitter:title" content="Giải pháp - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta name="twitter:description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/giai-phap" />
    <%- include ('partials/css.ejs')%>
</head>
<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>
        <div id="pcc-main">
			<div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="about-desc">
                                <span class="heading-meta">Giải pháp toàn diện</span>
                                <h2 class="pcc-heading">Khảo sát</h2>
                                <p>Chuúg tôi tự hào là Cty hàng đầu về Khảo sát công nghệ LIDAR. Chúng tôi có các thiết bị quét Laser 3D hiện đại và UAV gắn LIDAR theo ý của chúng tôi, do đó chất lượng dữ liệu ở mức cao nhất được đảm bảo. Máy quét laze 3D cho phép thu thập dữ liệu có độ chính xác cao cho nhiều khu vực, đặc biệt là các khu vực khó tiếp cận và các khu vực nguy hiểm tiềm ẩn như khu vực sạt lở đất, tường hố khai thác, khu vực chất thải, đường cao tốc, v.v. </p>
                                <p><a href="/vi/ve-chung-toi" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/topo-hydro-survey.jpg);">
                            </div>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/bim-modeling.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <h2 class="pcc-heading">Mô hình thông tin (BIM)</h2>
                            <p>Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm
                                tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng. Chúng
                                tôi cung cấp cho khách hàng các giải pháp công nghệ BIM hàng đầu nhằm tối ưu hóa giá trị
                                và nâng cao chất lượng của các dự án, đặc biệt là trong Scan-to-BIM.</p>
                            <p><a href="/vi/ve-chung-toi" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <h2 class="pcc-heading">Hệ thống thông tin địa lý (GIS)</h2>
                            <p>Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm
                                tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng. Chúng
                                tôi cung cấp cho khách hàng các giải pháp công nghệ BIM hàng đầu nhằm tối ưu hóa giá trị
                                và nâng cao chất lượng của các dự án, đặc biệt là trong Scan-to-BIM.</p>
                            <p><a href="/vi/ve-chung-toi" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/bim-and-gis.jpg);">
                            </div>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/digital-twin.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <h2 class="pcc-heading">Digital Twin</h2>
                            <p>Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm
                                tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng. Chúng
                                tôi cung cấp cho khách hàng các giải pháp công nghệ BIM hàng đầu nhằm tối ưu hóa giá trị
                                và nâng cao chất lượng của các dự án, đặc biệt là trong Scan-to-BIM.</p>
                            <p><a href="/vi/ve-chung-toi" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                        </div>
                    </div>
                </div>
            </div>
			<%- include ('partials/brands.ejs')%>
			<%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include ('partials/js.ejs')%>

</body>

</html>