<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Giới thiệu - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/about-us/about.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Giới thiệu - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/gioi-thieu" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Giới thiệu - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta property="og:description"
        content="Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/about-us/about.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/gioi-thieu" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Giới thiệu - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM & GIS | Scan to BIM & Khảo sát 3D Laser" />
    <meta name="twitter:description"
        content="Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/about-us/about.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/gioi-thieu" />
    <%- include('partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include('partials/nav.ejs') %>
        <div id="pcc-main">
            <div class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/k8opmQIB-LA"
                                    title="4 Công nghệ của Portcoast" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="about-desc">
                                <span class="heading-meta">Chào mừng</span>
                                <h2 class="pcc-heading">Chúng tôi là...</h2>
                                <p><strong>Trung tâm Chuyển đổi số Portcoast (PORTCOAST DT)</strong> là đơn vị trực
                                    thuộc của <a href="#">Công ty Cổ phần Tư vấn Thiết kế Cảng - Kỹ thuật Biển
                                        (PORTCOAST)</a>, được thành lập dựa trên nhu cầu thực tiễn ngành xây dựng trong
                                    thời gian gần đây nhằm nghiên cứu, ứng dụng công nghệ mới vào hoạt động xây dựng của
                                    Công ty cũng như cung cấp các dịch vụ các đơn vị đối tác. Trung tâm chuyển đổi số
                                    Portcoast chuyên nghiên cứu, ứng dụng, phát triển và cung cấp các dịch vụ công nghệ
                                    trong lĩnh vực xây dựng mô hình thông tin (BIM) và kỹ thuật công nghệ cao (BIM và
                                    SCAN-to-BIM) ứng dụng vào hoạt động xây dựng. </p>
                            </div>
                            <!-- <div class="row padding">
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a href="#" class="steps active">
                                        <p class="icon"><span><i class="icon-check"></i></span></p>
                                        <h3>We are <br>pasionate</h3>
                                    </a>
                                </div>
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a href="#" class="steps">
                                        <p class="icon"><span><i class="icon-check"></i></span></p>
                                        <h3>Honest <br>Dependable</h3>
                                    </a>
                                </div>
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a href="#" class="steps">
                                        <p class="icon"><span><i class="icon-check"></i></span></p>
                                        <h3>Always <br>Improving</h3>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <h2 class="pcc-heading">Thành viên</h2>
                            <p>Chúng tôi tự hào có một đội ngũ trẻ, năng động, nhiệt huyết và luôn đi đầu trong việc tìm
                                tòi, nghiên cứu và ứng dụng các công nghệ mới trên thế giới vào ngành xây dựng. Chúng
                                tôi cung cấp cho khách hàng các giải pháp công nghệ BIM hàng đầu nhằm tối ưu hóa giá trị
                                và nâng cao chất lượng của các dự án, đặc biệt là trong Scan-to-BIM.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/about-us/about.jpg);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ('partials/brands.ejs')%>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include('partials/js.ejs') %>

</body>

</html>