<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Home - Portcoast Digital Transformation | BIM Services | Scan to BIM & 3D Laser Scanning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Portcoast Digital Transformation Center provides construction digitization solutions, BIM services, Scan to BIM and 3D Laser Survey." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Home - Portcoast Digital Transformation | BIM Services | Scan to BIM & 3D Laser Scanning" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Home - Portcoast Digital Transformation | BIM Services | Scan to BIM & 3D Laser Scanning" />
    <meta property="og:description"
        content="Portcoast Digital Transformation Center provides construction digitization solutions, BIM services, Scan to BIM and 3D Laser Survey." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Home - Portcoast Digital Transformation | BIM Services | Scan to BIM & 3D Laser Scanning" />
    <meta name="twitter:description"
        content="Portcoast Digital Transformation Center provides construction digitization solutions, BIM services, Scan to BIM and 3D Laser Survey." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com" />
    <meta name="twitter:card" content="summary" />
    <%- include ('partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Section-Intro-Video -->
            <section id="pcc-intro">
                <div class="bg-video-wrap">
                    <video src="/public/images/video-bg/video-background.mp4" loop muted autoplay>
                    </video>
                    <div class="overlay1">
                    </div>
                    <div class="pcc-text">
                        <h1>Portcoast Digital Transformation Center
                        </h1>
                        <p>We provide technology services in the fields of building information modeling (BIM) and
                            high-tech engineering (BIM and SCAN-to-BIM) applied to construction activities.</p>
                        <p><a href="/en/about" class="btn btn-primary btn-learn">Learn more!</a></p>
                    </div>
                </div>
            </section>
            <!-- Section-Solution Scan to BIM -->
            <section class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/bg-scan-to-bim.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="about-desc">
                                <span class="heading-meta">Solution</span>
                                <h2 class="pcc-heading">Scan to BIM</h2>
                                <p>Scan to BIM is the process of using 3D data to create a standard information model.
                                    The Scan operation will use the 3D Laser machine to scan the object to collect 3D
                                    data with the highest accuracy. This data is entered into the system to build the
                                    initial standard data warehouse. From this 3D standard data warehouse will be used
                                    for all items and activities related to the construction project.</p>
                                <p>
                                    This data collection process is fast, information is easily shared, eliminates the
                                    hassle and errors made when using traditional methods… Scan to BIM is the best
                                    solution for the job. design, construction, and progress assessment in this vast
                                    field.</p>
                            </div>
                            <div class="row padding">
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a class="steps">
                                        <p class="icon"><span><i class="icon-target3"></i></span></p>
                                        <h3>Scan</h3>
                                    </a>
                                </div>
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a class="steps">
                                        <p class="icon"><span><i class="icon-spinner6"></i></span></p>
                                        <h3>Process</h3>
                                    </a>
                                </div>
                                <div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
                                    <a class="steps">
                                        <p class="icon"><span><i class="icon-check"></i></span></p>
                                        <h3>Products</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="row padding animate-box" data-animate-effect="fadeInLeft">
                                <p><a class="btn btn-primary btn-learn">Learn more!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Application -->
            <section class="pcc-application">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Applications</span>
                            <h2 class="pcc-heading">Fields we apply Laser scanning</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/oil-industry.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Industry</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>

                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/construction.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Contruction</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>

                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/map.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Survey &amp; Urban Planning</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>

                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/maritime.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Maritime</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/heritage.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Architecture &amp; Heritage</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/facility-management.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Facility Management</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/infratructure.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Infrastructure</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
                                    <div class="pcc-icon">
                                        <img src="/public/images/icon/accident.png">
                                    </div>
                                    <div class="pcc-text">
                                        <a>
                                            <h3>Accident</h3>
                                        </a>
                                        <p><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Equipment -->
            <section class="pcc-equipment">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Technology</span>
                            <h2 class="pcc-heading">Our state-of-the-art equipment</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                    alt="Trimble Mobile Mapping MX50"></a>
                                        </div>
                                        <h3>Trimble Mobile Mapping MX50</h3>
                                        <p>The Trimble MX50's is a practical field to finish moblie mapping solution for
                                            asset management, mapping, road maintenance. Mobile mapping system combining
                                            precise LiDAR data and immersive panoramic imagery at highway speed..</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                    alt="Polaris TLS"></a>
                                        </div>
                                        <h3>Polaris TLS</h3>
                                        <p>With an integrated high-resolution camera, inclinometers, compass, GPS
                                            receiver, and weather-proof housing, the Polaris can be deployed in many
                                            environments and orientations.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/stormbee.jpg" alt="">
                                        </div>
                                        <h3>Stormbee UAV S-20</h3>
                                        <p>STORMBEE is a user-friendly Unmanned Aerial Vehicle (UAV) custom designed for
                                            lasers canning with a FARO Focus laser scanner.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/matrice-300-rtk.jpg" alt="">
                                        </div>
                                        <h3>Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                        <p>This is one of the most advanced drones. Equipping sensors in multiple
                                            directions gives the Matrice 300RTK outstanding safety. The Matrice 300RTK -
                                            Zenmuse L1 system is capable of capturing image and point cloud data, based
                                            on 3 times response signal from the Lidar and penetrating through the
                                            foliage…</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/share-uav-psdk-102s-v3.jpg" alt="">
                                        </div>
                                        <h3>Share UAV PSDK 102S V3</h3>
                                        <p>PPSDK 102S V3, the 5-lens oblique camera with 3-Axis Stabilized Gimbal, is a
                                            highly integrated surveying camera specialized in aerial photogrammetry.
                                            Full-on efficiency booster brings unprecedented operating experience. The
                                            adjustable parameter allows camera applicated in various scenarios. Also
                                            widely compatible with open-source payloads.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/otter-pro.jpg"
                                                    alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                        </div>
                                        <h3>Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR</h3>
                                        <p>The OTTER Pro had integrated system between a Norbit's iWBMS Multibeam and a
                                            NORBIT's iLiDAR Laser Sensor to recorded underwater data and both sides.
                                            This system is an efficient solution (reduce cost and schedule) for
                                            surveying in shallow water areas such as lakes, canals, rivers, ponds and
                                            harbour areas.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/trimble-sx12.jpg" alt="">
                                        </div>
                                        <h3><a
                                                href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12">Trimble
                                                SX12 Scanning Total Station</h3></a>
                                        <p>GLS-2200 là 1 loại thiết bị san laser do hãng Topcon – Nhật Bản sản xuất.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/leica-p50.jpg" alt="">
                                        </div>
                                        <h3>Leica Scanstation P50</h3>
                                        <p>For industry professionals looking to scan inaccessible places and find new
                                            business opportunities, Leica ScanStation P50 is the fastest and safest,
                                            long range 3D laser scanner. Unlike any other laser scanner, the P50
                                            solution maximises productivity by scanning inaccessible places at a safe
                                            position on site, reducing time in the field with less setups.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/leica-rtc360.jpg" alt="">
                                        </div>
                                        <h3>Leica RTC360 3D Laser Scanner</h3>
                                        <p>The Leica RTC360 3D reality capture solution empowers users to document and
                                            capture their environments in 3D, improving efficiency and productivity in
                                            the field and in the office through fast, simple-to-use, accurate, and
                                            portable hardware and software.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                    alt="Leica iCON iCR80 Robotic Total Statio"></a>
                                        </div>
                                        <h3>Leica iCON iCR80 Robotic Total Station</h3>
                                        <p>The Leica iCON iCR80 construction total station keeps its ‘eye’ on only one
                                            thing: the user’s target. Layout more points per day thanks to ATRplus, the
                                            most robust automated-aiming, lock and re-lock technology in the market.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/leica-ts60.jpg" alt="">
                                        </div>
                                        <h3>Leica Nova TS60 Total Station</h3>
                                        <p>The new Leica Nova TS60 total station is the world’s most accurate total
                                            station, designed to tackle your most demanding projects.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/topcon-gls-2200.jpg" alt="">
                                        </div>
                                        <h3>Topcon GLS-2200</h3>
                                        <p>Quickly tackle any job with the latest in scanning and workflow technology.
                                            The GLS-2200 features a unique survey style setup and user-friendly
                                            processing software that turn lengthy scanning processes into fast and easy
                                            workflows</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/faro-s350a.jpg" alt="">
                                        </div>
                                        <h3>FARO Focus S350-A</h3>
                                        <p>The FARO Focus S350-A is specially designed for outdoor applications due to
                                            its small size, extra light weight and extended scanning range. The Focus
                                            S350-A provides scanning results even in challenging environments, narrow
                                            job-sites, dusty or humid areas, in rain or direct sunlight applications.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/matterport.jpg" alt="">
                                        </div>
                                        <h3>MatterPort</h3>
                                        <p>Matterport is the standard for 3D space capture. Our all-in-one platform
                                            transforms real-life spaces into immersive digital twin models.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/unitree-go1.jpg" alt="">
                                        </div>
                                        <h3>Unitree Go1 Plus + Leica BLK 360</h3>
                                        <p>Matterport is the standard for 3D space capture. Our all-in-one platform
                                            transforms real-life spaces into immersive digital twin models.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Quotes -->
            <section id="pcc-quote" class="pcc-quotes" style="background-image: url(/public/images/cover_bg_1.jpg);"
                data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 text-center animate-box" style="margin-top:3rem">
                            <h3 class="shine-quotes">"Bringing real world information into the digital world"</h3>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Services -->
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Services</span>
                            <h2 class="pcc-heading animate-box">OUR PRODUCTS</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/scan-to-bim.jpg)"></div>
                                <div class="desc">
                                    <h3>Scan to BIM</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/point-cloud.jpg)"></div>
                                <div class="desc">
                                    <h3>3D Point Cloud Model</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/bim-modeling.jpg)"></div>
                                <div class="desc">
                                    <h3>BIM Modeling</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/mesh-3d.jpg)"></div>
                                <div class="desc">
                                    <h3>3D Mesh Models</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/deformation-surveys.jpg)">
                                </div>
                                <div class="desc">
                                    <h3>Deformation Surveys</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/volume-surveys.jpg)"></div>
                                <div class="desc">
                                    <h3>Volume Surveys</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/clash-detection.jpg)"></div>
                                <div class="desc">
                                    <h3>3D Coordination</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/topo-survey.jpg)"></div>
                                <div class="desc">
                                    <h3>Topo & Hydrological Surveys</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/gis-services.jpg)"></div>
                                <div class="desc">
                                    <h3>GIS Services</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/simulation.jpg)"></div>
                                <div class="desc">
                                    <h3>3D Simulation</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/game-ar-vr.jpg)"></div>
                                <div class="desc">
                                    <h3>Game & AR/VR/MR</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="services-wrap animate-box" data-animate-effect="fadeInRight">
                                <div class="services-img"
                                    style="background-image: url(/public/images/services/virtual-tour.jpg)"></div>
                                <div class="desc">
                                    <h3>Virtual tour 360°</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Blog -->
            <!-- <div class="pcc-blog">
				<div class="pcc-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Tin tức</span>
							<h2 class="pcc-heading">Hoạt động nổi bật</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="" class="blog-img" target="_blank"><img src="" class="img-responsive" alt=""></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="">Title</a></h3>
									<p>Nội dung</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

            <!-- Section-Brands -->
            <%- include ('partials/brands.ejs')%>
            <!-- Section-Footer -->
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include ('partials/js.ejs') %>
</body>

</html>