<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Home | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="We specialize in providing digital transformation solutions for surveying, design, construction, and infrastructure management." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Home | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Home | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="We specialize in providing digital transformation solutions for surveying, design, construction, and infrastructure management." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Home | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="We specialize in providing digital transformation solutions for surveying, design, construction, and infrastructure management." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com" />
    <meta name="twitter:card" content="summary" />
    <%- include ('partials/css.ejs')%>

</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Section-Intro-Video -->
            <section id="pcc-intro">
                <div class="bg-video-wrap">
                    <video loop muted autoplay playsinline>
                        <source src="/public/images/video-bg/video-background.mp4" type="video/mp4">
                    </video>
                    <div class="overlay1">
                    </div>
                    <div class="pcc-text animate-box">
                        <h1>Infrastructure Digital Transformation Center
                        </h1>
                        <p>We specialize in providing digital transformation solutions for surveying, design,
                            construction, and infrastructure management.</p>
                        <p><a href="/en/about" class="btn btn-primary btn-learn">Learn more!</a></p>
                    </div>
                </div>
            </section>
            <!-- Section-Solution -->
            <section class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Comprehensive Solutions</span>
                            <h2 class="pcc-heading">Surveying</h2>
                            <p>
                                This method of high definition surveying (HDS) or laser scanning is mainly
                                responsible for the high quality and speed data acquisition of a building or an
                                object that is difficult to see with the naked eye. These laser beams are emitted
                                during a scanning process that captures millions of pixels of an object with high
                                precision. They are used to measure bridges, buildings, roads, etc.</p>
                            <p>Infrastructure Digital Transformation Center is proud to be the leading 3D Laser survey
                                service provider in Vietnam. Along with our experience and constantly updated
                                equipment, we will bring to our customers the best and most accurate survey quality.
                            </p>
                            <p><a href="/en/solutions/surveying" class="btn btn-primary btn-learn">Learn more!</a>
                            </p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/topo-hydro-survey.jpg);">
                            </div>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/bim-modeling.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Comprehensive Solutions</span>
                            <h2 class="pcc-heading">BIM &amp; Scan to BIM</h2>
                            <p>The Building Information Modeling (BIM) helps optimize construction data, including
                                design, planning, construction, and management. This helps improve collaboration,
                                performance, reduce errors and make the construction project more sustainable. BIM
                                contains all the information related to the construction project that can be used
                                throughout the project's life cycle, and all relevant parties can easily access it
                                remotely. BIM allows architects, engineers, and other construction specialists to edit
                                and update the BIM model in real-time, ensuring that all stakeholders have access to the
                                updated model.
                            </p>
                            <p><a href="/en/solutions/bim" class="btn btn-primary btn-learn">Learn more!</a></p>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Comprehensive Solutions</span>
                            <h2 class="pcc-heading">GIS &amp; BIM Integration</h2>
                            <p>By providing a real-world context
                                of an asset’s existing environment
                                within which designers and engineers
                                can explore and evaluate design and
                                construction – GIS informs BIM. Then,
                                rich, more accurate models can be
                                utilized to improve the overall operations
                                and maintenance of assets within a
                                larger area – in this way, BIM fuels GIS.</p>
                            <p>The fusion of BIM and GIS provides
                                the power to build a robust
                                context model where geographic
                                information and infrastructure
                                design data are brought together,
                                helping to better understand how
                                assets interact within the context
                                of a real place and geography.</p>
                            <p><a href="/en/solutions/gis-and-bim-integration" class="btn btn-primary btn-learn">Learn
                                    more!</a></p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/bim-and-gis.jpg);">
                            </div>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/digital-twin.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Comprehensive Solutions</span>
                            <h2 class="pcc-heading">Digital Twin</h2>
                            <p>A Digital Twin is a digital representation of a physical object, process, or service
                                such
                                as a wind farm, building, or even an entire city.</p>
                            <p>The digital twin provides a 3D model that integrates a variety of information from
                                geometry to real-time data allowing management, performance simulation studies,
                                simulation of impact scenarios from natural disasters to possible incidents, in
                                order to
                                provide solutions to prevent risks as well as develop response scenarios.</p>
                            <p><a href="/en/solutions/digital-twin" class="btn btn-primary btn-learn">Learn
                                    more!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Quotes -->
            <section id="pcc-quote" class="pcc-quotes" style="background-image: url(/public/images/cover_bg_1.jpg);"
                data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 text-center animate-box" style="margin-top:3rem">
                            <h3 class="shine-quotes">"Bringing real world information into the digital world"</h3>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pcc-projects">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Projects</span>
                            <h2 class="pcc-heading">Typical Projects</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <%for(let i = 0; i < project.length; i++){ %>
                            <div class="col-md-4 col-sm-6 <%= project[i].tags.join(" ") %>">
                                <div class="projects-entry animate-box" data-animate-effect="fadeInLeft">
                                    <a href="/en/projects/<%= project[i].url_en %>" class="projects-img"><img
                                            src="/public/images/projects/<%= project[i].folder%>/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/en/projects/<%= project[i].url_en %>">
                                                <%= project[i].title_en%></a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
            </section>
            <!-- Secction Tin tức -->
            <section class="pcc-blog">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Read</span>
                            <h2 class="pcc-heading">News & Activities</h2>
                        </div>
                    </div>
                    <div class="row">
                          <%for(let item of news){%>
                            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="blog-entry">
                                    <a href="/en/news/<%= item.url_en%>" class="blog-img"><img
                                            src="/public/images/news/<%= item.folder%>/cover.jpg" class="img-responsive"
                                            alt=""></a>
                                    <div class="desc">
                                        <span><small><%=item.tag.split("-")[0]%> |
                                                <%=  [item.day,(item.month<10?`0${item.month}`: item.month),item.year].join("/")%></small></span>
                                        <h3><a href="/en/news/<%= item.url_en%>"><%=item.title_en%></a></h3>
                                        <p><%= item.description_en%></p>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>
            </section>
            <!-- Section-Equipment -->
            <section class="pcc-equipment">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Technology</span>
                            <h2 class="pcc-heading">Our state-of-the-art equipment</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                    alt="Trimble MX50 Mobile Mapping System"></a>
                                        </div>
                                        <h3>Trimble MX50 Mobile Mapping System</h3>
                                        <p>The Trimble MX50's is a practical field to finish moblie mapping solution for
                                            asset management, mapping, road maintenance. Mobile mapping system combining
                                            precise LiDAR data and immersive panoramic imagery at highway speed..</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                    alt="Polaris TLS"></a>
                                        </div>
                                        <h3>Polaris Terrestrial Laser Scanner (TLS)</h3>
                                        <p>With an integrated high-resolution camera, inclinometers, compass, GPS
                                            receiver, and weather-proof housing, the Polaris can be deployed in many
                                            environments and orientations.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/stormbee.jpg" alt="">
                                        </div>
                                        <h3>Stormbee UAV S-20</h3>
                                        <p>STORMBEE is a user-friendly Unmanned Aerial Vehicle (UAV) custom designed for
                                            lasers canning with a FARO Focus laser scanner.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.dji.com/matrice-300" target="_blank"><img
                                                    src="/public/images/home/matrice-300-rtk.jpg"
                                                    alt="Matrice 300 RTK + Zenmuse L1 + Zenmuse P1"></a>
                                        </div>
                                        <h3>Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                        <p>This is one of the most advanced drones. Equipping sensors in multiple
                                            directions gives the Matrice 300RTK outstanding safety. The Matrice 300RTK -
                                            Zenmuse L1 system is capable of capturing image and point cloud data, based
                                            on 3 times response signal from the Lidar and penetrating through the
                                            foliage…</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.shareuavtec.com/102V3" target="_blank"><img
                                                    src="/public/images/home/share-uav-psdk-102s-v3.jpg"
                                                    alt="Share PSDK 102S V3"></a>
                                        </div>
                                        <h3>Matrice 300 RTK + Share PSDK 102S V3</h3>
                                        <p>PSDK 102S V3, the 5-lens oblique camera with 3-Axis Stabilized Gimbal, is a
                                            highly integrated surveying camera specialized in aerial photogrammetry.
                                            Full-on efficiency booster brings unprecedented operating experience. The
                                            adjustable parameter allows camera applicated in various scenarios. Also
                                            widely compatible with open-source payloads.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/dji-matrice-30t.jpg"
                                                    alt="DJI Matrice 30T"></a>
                                        </div>
                                        <h3>DJI Matrice 30T
                                        </h3>
                                        <p>Professional drones are used for monitoring, geographic analysis, object
                                            detection and identification, etc. They feature multi-layer sennosor systems,
                                            super-natural cameras, GPS positioning systems, remote control capabilities,
                                            and connectivity with mobile devices.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/otter-pro.jpg"
                                                    alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                        </div>
                                        <h3>Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR</h3>
                                        <p>The OTTER Pro had integrated system between a Norbit's iWBMS Multibeam and a
                                            NORBIT's iLiDAR Laser Sensor to recorded underwater data and both sides.
                                            This system is an efficient solution (reduce cost and schedule) for
                                            surveying in shallow water areas such as lakes, canals, rivers, ponds and
                                            harbour areas.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12"
                                                target="_blank"><img src="/public/images/home/trimble-sx12.jpg"
                                                    alt="Trimble SX12 Scanning Total Station"></a>
                                        </div>
                                        <h3>Trimble SX12 Scanning Total Station</h3>
                                        <p>Trimble SX12 Scanning Total Station working harder has never been easier. It
                                            combines innovative technology with simple and intuitive functionality to
                                            help you save time, maximize efficiency and get more done in the field.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-scanstation-p50"
                                                target="_blank"><img src="/public/images/home/leica-p50.jpg"
                                                    alt="Leica Scanstation P50"></a>
                                        </div>
                                        <h3>Leica Scanstation P50</h3>
                                        <p>For industry professionals looking to scan inaccessible places and find new
                                            business opportunities, Leica ScanStation P50 is the fastest and safest,
                                            long range 3D laser scanner. Unlike any other laser scanner, the P50
                                            solution maximises productivity by scanning inaccessible places at a safe
                                            position on site, reducing time in the field with less setups.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a
                                                href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-rtc360"><img
                                                    src="/public/images/home/leica-rtc360.jpg"
                                                    alt="Leica RTC360 3D Laser"></a>
                                        </div>
                                        <h3>Leica RTC360 3D Laser Scanner</h3>
                                        <p>The Leica RTC360 3D reality capture solution empowers users to document and
                                            capture their environments in 3D, improving efficiency and productivity in
                                            the field and in the office through fast, simple-to-use, accurate, and
                                            portable hardware and software.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                    alt="Leica iCON iCR80 Robotic Total Statio"></a>
                                        </div>
                                        <h3>Leica iCON iCR80 Robotic Total Station</h3>
                                        <p>The Leica iCON iCR80 construction total station keeps its ‘eye’ on only one
                                            thing: the user’s target. Layout more points per day thanks to ATRplus, the
                                            most robust automated-aiming, lock and re-lock technology in the market.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/total-stations/robotic-total-stations/leica-nova-ts60"
                                                target="_blank"><img src="/public/images/home/leica-ts60.jpg"
                                                    alt="Leica Nova TS60 Total Station"></a>
                                        </div>
                                        <h3>Leica Nova TS60 Total Station</h3>
                                        <p>The new Leica Nova TS60 total station is the world’s most accurate total
                                            station, designed to tackle your most demanding projects.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.topconpositioning.com/scanning/laser-scanners/gls-2200"
                                                target="_blank"><img src="/public/images/home/topcon-gls-2200.jpg"
                                                    alt="Topcon GLS-2200"></a>
                                        </div>
                                        <h3>Topcon GLS-2200</h3>
                                        <p>Quickly tackle any job with the latest in scanning and workflow technology.
                                            The GLS-2200 features a unique survey style setup and user-friendly
                                            processing software that turn lengthy scanning processes into fast and easy
                                            workflows</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.faro.com/en/Products/Hardware/Focus-Laser-Scanners"
                                                target="_blank"><img src="/public/images/home/faro-s350a.jpg"
                                                    alt="FARO Focus S350-A 3D Laser Scanning"></a>
                                        </div>
                                        <h3>FARO Focus S350-A 3D Laser Scanning</h3>
                                        <p>The FARO Focus S350-A is specially designed for outdoor applications due to
                                            its small size, extra light weight and extended scanning range. The Focus
                                            S350-A provides scanning results even in challenging environments, narrow
                                            job-sites, dusty or humid areas, in rain or direct sunlight applications.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://matterport.com/cameras/pro2-3D-camera" target="_blank"><img
                                                    src="/public/images/home/matterport.jpg" alt="MatterPort Pro 2"></a>
                                        </div>
                                        <h3>MatterPort Pro 2</h3>
                                        <p>Matterport is the standard for 3D space capture. Our all-in-one platform
                                            transforms real-life spaces into immersive digital twin models.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/unitree-go1.jpg"
                                                alt="Unitree Go1 Plus & Leica BLK 360">
                                        </div>
                                        <h3>Unitree Go1 Plus &amp; Leica BLK 360</h3>
                                        <p>Unitree Go 1 is a quadrupedal mobile robot offering lots of development
                                            possibilities. It’s aimed in particular at higher education and
                                            professionals, for developing applications in fields ranging from service
                                            robotics to autonomous surveillance.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Brands -->
            <%- include ('partials/brands.ejs')%>
                            <!-- Section-Footer -->
                            <%- include ('partials/footer.ejs')%>
                        </div>
                    </div>

                    <%- include ('partials/js.ejs') %>
</body>

</html>