<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>News | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-application.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="News | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/application" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="News | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/application" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="News | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="3D Laser Scanning and Scan to BIM technology solutions have strong applications in the following fields: Industry; Maritime; Construction; Architecture; Heritage; Infrastructure,..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/application" />
    <meta name="twitter:card" content="summary" />
    <%- include ('partials/css.ejs')%>

</head>

<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>

        <div id="pcc-main">
            <!-- Secction Tin tức -->
            <section class="pcc-blog">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Read</span>
                            <h2 class="pcc-heading">News & Activities</h2>
                        </div>
                    </div>
                    <div class="row">
                        <%for(let item of news){%>
                        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                <a href="/en/news/<%= item.url_en%>" class="blog-img"><img
                                        src="/public/images/news/<%= item.folder%>/cover.jpg" class="img-responsive"
                                        alt=""></a>
                                <div class="desc">
                                    <span><small><%=item.tag.split("-")[0]%> |
                                            <%= [item.day,item.month,item.year].join("/")%></small></span>
                                    <h3><a href="/en/news/<%= item.url_en%>"><%=item.title_en%></a></h3>
                                    <p><%= item.description_en%></p>
                                </div>
                            </div>
                        </div>
                        <%}%>

                    </div>
                </div>
            </section>
            <%- include ('partials/footer.ejs')%>
                    </div>
                </div>

                <%- include ('partials/js.ejs')%>

</body>

</html>