<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Balay Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    

    <%- include('partials/css.ejs') %>

</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include('partials/nav.ejs') %>

        <div id="pcc-main">
            <div class="pcc-application">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Projects</span>
                            <h2 class="pcc-heading">Our Work</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-1.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 01</a></h3>
                                        <span>Building</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-2.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 02</a></h3>
                                        <span>House, Apartment</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-3.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 03</a></h3>
                                        <span>Dining Room</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-4.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 04</a></h3>
                                        <span>House, Building</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-5.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 05</a></h3>
                                        <span>Condo, Pad</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-6.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 06</a></h3>
                                        <span>Table, Chairs</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-7.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 02</a></h3>
                                        <span>House, Apartment</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-8.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 03</a></h3>
                                        <span>Dining Room</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-9.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 04</a></h3>
                                        <span>House, Building</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(/public/images/img-5.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Project 05</a></h3>
                                        <span>Condo, Pad</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ('partials/brands.ejs')%>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

     <%- include('partials/js.ejs') %>

</body>

</html>