<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Thiết bị | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Chúng tôi sở hữu nhiều thiết bị khảo sát tiên tiến, hiện đại, phục vụ khảo sát cho các dự án xây dựng" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/cover-equipment.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi" content="Thiết bị | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/thiet-bi" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Thiết bị | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Chúng tôi sở hữu nhiều thiết bị khảo sát tiên tiến, hiện đại, phục vụ khảo sát cho các dự án xây dựng" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-equipment.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/thiet-bi" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Thiết bị | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Chúng tôi sở hữu nhiều thiết bị khảo sát tiên tiến, hiện đại, phục vụ khảo sát cho các dự án xây dựng" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-equipment.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/thiet-bi" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%- include('partials/css.ejs') %>

</head>

<body>
    <div id="pcc-page">

        <%- include('partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Section UAV/Drone -->
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Thiết bị</span>
                                <h2 class="pcc-heading">Khảo sát trên không Drone/UAV</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a><img src="/public/images/home/stormbee.jpg"
                                                        alt="Stormbee UAV S-20"></a>
                                            </div>
                                            <h3>Máy bay không người lái (UAV)<br>Stormbee UAV S-20</h3>
                                            <p>Stormbee UAV S-20 là một thiết bị bay không người lái, nó kết hợp với máy
                                                quét Laser của Faro có thể dùng để khảo sát trên không, với độ chính xác
                                                cực
                                                kì cao. Sử dụng để khảo sát trên không các cơ sở công nghiệp, khu vực
                                                đất
                                                nông nghiệp và lâm nghiệp,...</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Máy bay không người lái Stormbee UAV S-20';
                                                changeSrc('https://sketchfab.com/models/5fe4d805cec444b79b35ddce5cfd0b12/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.dji.com/matrice-300" target="_blank"><img
                                                        src="/public/images/home/matrice-300-rtk.jpg"
                                                        alt="Matrice 300 RTK + Zenmuse L1 + Zenmuse P1"></a>
                                            </div>
                                            <h3>Máy bay không người lái (UAV)<br>
                                                Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                            <p>Máy bay không người lái có cảm biến ở 6 hướng, hệ thống định vị RTK. Hệ
                                                thống
                                                Matrice 300RTK - Zenmuse L1 có khả năng thu thập dữ liệu hình ảnh đồng
                                                thời
                                                với đám mây điểm nhiều đặc tính nhờ 3 lần tín hiệu Lidar phản hồi và có
                                                khả
                                                năng xuyên qua tán lá…</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Matrice 300 RTK + Zenmuse L1 + Zenmuse P1';
                                                changeSrc('https://sketchfab.com/models/a613d645f83e4f4583d5d0ccc37ea71b/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.shareuavtec.com/102V3" target="_blank"><img
                                                        src="/public/images/home/share-uav-psdk-102s-v3.jpg"
                                                        alt="Share UAV PSDK 102S V3"></a>
                                            </div>
                                            <h3>Máy bay không người lái (UAV)<br>Matrice 300 RTK + Share PSDK 102S V3
                                            </h3>
                                            <p>PSDK 102S V3 với 5 ống kính với Gimbal ổn định 3 trục, là một máy ảnh
                                                khảo
                                                sát tích hợp cao chuyên về phép đo ảnh trên không. Máy ảnh được kết nối
                                                liền
                                                mạch với DJI
                                                Matrice 300 RTK thông qua SkyPort.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Máy bay không người lái Matrice 300 RTK + Share PSDK 102S V3';
                                                changeSrc('https://sketchfab.com/models/4a6f7a0b1ce6477a88efbf8215a0819a/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                        src="/public/images/home/dji-matrice-30t.jpg"
                                                        alt="DJI Matrice 30T"></a>
                                            </div>
                                            <h3>Máy bay không người lái (Drone)<br>DJI Matrice 30T
                                            </h3>
                                            <p>Máy bay chuyên nghiệp ứng dụng cho giám sát, phân tích địa chính, phát
                                                hiện và nhận dạng vật thể,...Có các tính năng như hệ thống cảm biến đa
                                                tầng,
                                                camera siêu nhiên, hệ thống định vị GPS, bộ điều khiển từ xa và kết nối
                                                với
                                                các thiết bị di động thông minh.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                        src="/public/images/home/phantom-4-rtk.jpg"
                                                        alt="DJI Phantom 4 RTK"></a>
                                            </div>
                                            <h3>Máy bay không người lái (Drone)<br>DJI Phantom 4 RTK
                                            </h3>
                                            <p>Máy bay chuyên nghiệp ứng dụng cho giám sát, phân tích địa chính, phát
                                                hiện và nhận dạng vật thể,...Có các tính năng như hệ thống cảm biến đa
                                                tầng,
                                                camera siêu nhiên, hệ thống định vị GPS, bộ điều khiển từ xa và kết nối
                                                với
                                                các thiết bị di động thông minh.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section 3D Laser -->
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Thiết bị</span>
                                <h2 class="pcc-heading">Khảo sát 3D Laser</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12"
                                                    target="_blank"><img src="/public/images/home/trimble-sx12.jpg"
                                                        alt="Trimble SX12 Scanning Total Station"></a>
                                            </div>
                                            <h3>Máy quét 3D Laser<br>Trimble SX12</h3>
                                            <p>Là một thiết bị 2 trong 1: có tính năng của một robotic total station
                                                hiện
                                                đại
                                                độ chính xác cao (đo góc 1”, đo cạnh 1mm+1.5ppm) và tính năng của một
                                                laser scan tiêu chuẩn. Khi scan, độ chính xác đo góc đứng và ngang đến
                                                5”, SX12 là một laser scan siêu chính xác. Khả năng hậu thị tự động xa
                                                đến
                                                300m với gương 360⁰ giúp máy nâng cao năng suất thu thập dữ liệu.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Máy quét 3D Trimble SX12 Scanning Total Station';
                                                changeSrc('https://sketchfab.com/models/c047b095d569442eab0cd12ab8b02e51/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-scanstation-p50"
                                                    target="_blank"><img src="/public/images/home/leica-p50.jpg"
                                                        alt="Leica Scanstation P50"></a>
                                            </div>
                                            <h3>Máy quét 3D Laser (Tầm xa)<br>Leica Scanstation P50</h3>
                                            <p>Leica ScanStation P50 là máy quét laser 3D tầm xa. Giúp tối đa hóa năng
                                                suất
                                                bằng cách quét các vị trí không thể tiếp cận mà chỉ cần đặt máy tại một
                                                vị
                                                trí an toàn trong khu vực quét, giúp tiết kiệm thời gian.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Leica Scanstation P50';
                                                changeSrc('https://sketchfab.com/models/e5b270fe3ece42eaabf11937a5e1773d/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-rtc360"
                                                    target="_blank"><img src="/public/images/home/leica-rtc360.jpg"
                                                        alt="Leica RTC360 3D Laser Scanner"></a>
                                            </div>
                                            <h3>Máy quét 3D Laser<br>Leica RTC360</h3>
                                            <p>Máy quét 3D Laser Leica RTC360 là giải pháp thu thập dữ liệu thông tin
                                                môi
                                                trường, cho phép người dùng ghi lại và quét 3D toàn bộ cảnh quan, từ đó
                                                giúp
                                                nâng cao hiệu quả và năng suất nhanh chóng và chính xác.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Máy quét 3D Leica RTC360 3D Laser Scanner';
                                                changeSrc('https://sketchfab.com/models/6d32353cba3a42e0a20093061de4900b/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                    target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                        alt="Máy toàn đạc điện tử Leica iCON iCR80"></a>
                                            </div>
                                            <h3>Máy toàn đạc điện tử<br>Leica iCON iCR80 Robotic</h3>
                                            <p>Máy toàn đạc điện tử Leica iCON iCR80 Robotic giúp gia tăng số lượng các
                                                điểm
                                                quan nhờ vào công nghệ ATRplus với tính năng định vị tự động hóa cao
                                                cùng
                                                với khả năng khóa và khóa lại mạnh mẽ nhất trên thị trường hiện nay. Nó
                                                đặc
                                                biệt hữu ích ở các công trường đông đúc, nơi bị cản trở bởi nhiều máy
                                                móc và
                                                người di chuyển.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Máy toàn đạc điện tử Leica iCON iCR80 Robotic Total Station';
                                                changeSrc('https://sketchfab.com/models/7098ac327c524e22868c88301dd07e9b/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/total-stations/robotic-total-stations/leica-nova-ts60"
                                                    target="_blank"><img src="/public/images/home/leica-ts60.jpg"
                                                        alt="Máy toàn đạc điện tử Leica Nova TS60"></a>
                                            </div>
                                            <h3>Máy toàn đạc điện tử<br>Leica Nova TS60 Total Station</h3>
                                            <p>Thiết bị toàn đạc Leica Nova TS60 là thiết bị chính xác nhất trên thế
                                                giới
                                                hiện nay, được thiết kế để đáp ứng các dự án khắt khe nhất. Với độ chính
                                                xác
                                                đo góc 0,5” (ít hơn 1 giây) và đo chiều dài là 0,6mm+1ppm (ít hơn 1mm).
                                            </p>
                                            <a onclick="
                                            document.getElementById('modelTitle').innerText='Máy toàn đạc điện tử Leica Nova TS60 Total Station';
                                            changeSrc('https://sketchfab.com/models/f20333bced26492fa1cfe3e099e2ec5a/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.topconpositioning.com/scanning/laser-scanners/gls-2200"
                                                    target="_blank"><img src="/public/images/home/topcon-gls-2200.jpg"
                                                        alt="Topcon GLS-2200"></a>
                                            </div>
                                            <h3>Máy quét 3D Laser<br>Topcon GLS-2200</h3>
                                            <p>GLS-2200 là 1 loại thiết bị san laser do hãng Topcon – Nhật Bản sản xuất.
                                                Với
                                                công nghệ quét và quy trình làm việc mới nhất + phần mềm xử lý thân
                                                thiện
                                                với người dùng giúp cho chúng ta có thể hoàn thành công việc nhanh chóng
                                                và
                                                dễ dàng.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Máy quét 3D Laser Topcon GLS-2200';
                                                changeSrc('https://sketchfab.com/models/dd96414db2634329bd465882f8e9ca57/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.faro.com/en/Products/Hardware/Focus-Laser-Scanners"
                                                    target="_blank"><img src="/public/images/home/faro-s350a.jpg"
                                                        alt="FARO Focus S350-A"></a>
                                            </div>
                                            <h3>Máy quét 3D Laser<br>FARO Focus S350-A</h3>
                                            <p>FARO Focus S350-A được thiết kế đặc biệt cho các ứng dụng ngoài trời với
                                                thiết kế gọn nhẹ và tầm quét rộng. Focus S350-A cho ra dữ liệu quét ngay
                                                cả
                                                trong môi trường đầy thách thức, khoảng không làm việc chật hẹp, các khu
                                                vực
                                                bụi bặm hoặc ẩm ướt, trong trời mưa hoặc trực tiếp dưới nắng.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Máy quét 3D Laser FARO Focus S350-A';
                                                changeSrc('https://sketchfab.com/models/1f13240cd52845228181a4bd3ba4f317/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/unitree-go1.jpg"
                                                    alt="Unitree Go1 Plus & Leica BLK 360">
                                            </div>
                                            <h3>Robot điều khiển<br>Unitree Go1 Plus &amp; Leica BLK 360</h3>
                                            <p>Chú chó điều khiển Unitree Go1 Plus mang theo máy quét 3D Laser Leica BLK
                                                360, khảo sát ở những nơi có môi trường không thuận tiện (khói, bụi,
                                                nhiệt,..).</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Unitree Go1 plus & Leica BLK 360';
                                                changeSrc('https://sketchfab.com/models/34caf25bdd6f4b32b79263555a5790c5/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/scanplan.jpg"
                                                    alt="FARO ScanPlan 2D Handheld Mapper">
                                            </div>
                                            <h3>FARO ScanPlan 2D Handheld Mapper</h3>
                                            <p>FARO ScanPlan 2D Handheld Mapper là một thiết bị di động và dễ sử dụng
                                                cho phép người dùng tạo các sơ đồ tầng 2D của không gian nội thất bằng
                                                một thiết bị cầm tay đơn giản.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='FARO ScanPlan 2D Handheld Mapper';
                                                changeSrc('https://sketchfab.com/models/0e2347e9790b467dafda078087866443/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ROBOTIC TOTAL STATION & DIGITAL LEVELS -->
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Thiết bị</span>
                                <h2 class="pcc-heading">Máy toàn đạc & Máy thủy bình điện tử</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                    target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                        alt="Leica iCON iCR80 Robotic Total Statio"></a>
                                            </div>
                                            <h3>Leica iCON iCR80 Robotic Total Station</h3>
                                            <p>Leica iCON iCR80 là một Robotic Total Station được sản xuất bởi hãng
                                                Leica Geosystems. Robotic Total Station là một loại Total Station có khả
                                                năng tự động hóa quá trình đo đạc bằng cách sử dụng một robot để thực
                                                hiện các nhiệm vụ đo đạc thay vì phải có một nhân viên đứng tại thiết
                                                bị. Nó cũng tích hợp công nghệ trí tuệ nhân tạo và đồng bộ hóa dữ liệu
                                                để cải thiện độ chính xác và giảm thiểu thời gian đo đạc.
                                            </p>
                                            <a onclick="
                                            document.getElementById('modelTitle').innerText='Leica iCON iCR80 Robotic Total Station';
                                            changeSrc('https://sketchfab.com/models/7098ac327c524e22868c88301dd07e9b/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/total-stations/robotic-total-stations/leica-nova-ts60"
                                                    target="_blank"><img src="/public/images/home/leica-ts60.jpg"
                                                        alt="Leica Nova TS60 Total Station"></a>
                                            </div>
                                            <h3>Leica Nova TS60 Total Station</h3>
                                            <p>TLeica Nova TS60 Total Station là một công cụ đo đạc địa chính xác cao
                                                được sản xuất bởi hãng Leica Geosystems. Là một trong những thiết bị
                                                Total Station tiên tiến nhất của Leica, với khả năng đo đạc 3D và tích
                                                hợp công nghệ trí tuệ nhân tạo để giúp cho quá trình đo đạc trở nên
                                                nhanh chóng và chính xác hơn. </p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Leica Nova TS60 Total Station';
                                                changeSrc('https://sketchfab.com/models/f20333bced26492fa1cfe3e099e2ec5a/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/levels/digital-levels/leica-ls15-and-ls10"
                                                    target="_blank"><img src="/public/images/home/leica-ls10.jpg"
                                                        alt="Leica LS10 Digital Levels"></a>
                                            </div>
                                            <h3>Leica LS10 Digital Levels</h3>
                                            <p>Leica LS10 Digital Levels là một thiết bị đo độ cao chính xác cao của
                                                hãng Leica Geosystems. Thiết bị này sử dụng công nghệ đo tuyệt đối không
                                                tiếp xúc với đất để đo độ cao, giúp tiết kiệm thời gian và nâng cao độ
                                                chính xác và độ tin cậy của quá trình đo đạc.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Leica LS10 Digital Levels';
                                                changeSrc('https://sketchfab.com/models/9efdbf74ebcb464191266626c986d4cd/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://geospatial.trimble.com/products-and-solutions/trimble-dini-level"
                                                    target="_blank"><img
                                                        src="/public/images/home/trimble-dini-level.jpg"
                                                        alt="Trimble DiNi Level"></a>
                                            </div>
                                            <h3>Trimble DiNi Level</h3>
                                            <p>Trimble DiNi Level là một thiết bị đo độ chính xác cao để đo độ chênh
                                                lệch độ cao. Nó được sản xuất bởi Trimble. Thiết bị này được thiết kế
                                                với khả năng tự động bù độ sai lệch nhiệt độ, giúp đảm bảo độ chính xác
                                                cao của kết quả đo đạc.
                                            </p>
                                            <a onclick="
                                            document.getElementById('modelTitle').innerText='Trimble DiNi Level';
                                            changeSrc('https://sketchfab.com/models/67ccb1e6099e4023a5818b0b37b87c83/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- GPS/GNSS RTK -->
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Thiết bị</span>
                                <h2 class="pcc-heading">Máy định vị GPS/GNSS RTK</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/smart-antennas/leica-icon-gps-70-series"
                                                    target="_blank"><img
                                                        src="/public/images/home/leica-icon-gps-70t.jpg"
                                                        alt="Leica iCON GPS 70 Series"></a>
                                            </div>
                                            <h3>Leica iCON GPS 70 Series</h3>
                                            <p>The Leica iCON GPS 70 Series is a line of high-precision GNSS (Global
                                                Navigation Satellite System) receivers designed for surveying,
                                                construction, and engineering applications.
                                            </p>
                                            <a onclick="
                                            document.getElementById('modelTitle').innerText='Leica iCON GPS 70 Series';
                                            changeSrc('https://sketchfab.com/models/d47cce22d36a42c192145440a591b0af/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/gnss-systems/smart-antennas/leica-gs18-t"
                                                    target="_blank"><img src="/public/images/home/leica-gs18t.jpg"
                                                        alt="Leica GS18 T - GNSS RTK Rover"></a>
                                            </div>
                                            <h3>Leica GS18 T - GNSS RTK Rover</h3>
                                            <p>Leica GS18 T là một bộ thu tín hiệu định vị toàn cầu (GNSS) được sản xuất
                                                bởi công ty Leica Geosystems. Với công nghệ tùy chọn RTK và IMU, Leica
                                                GS18 T cho phép thu thập dữ liệu với độ chính xác cao và định vị vị trí
                                                với tốc độ nhanh hơn so với các công cụ đo đạc truyền thống khác. Nó
                                                cũng được tích hợp với các tính năng chống nước, bụi và chịu va đập,
                                                giúp nó có khả năng hoạt động tốt trong môi trường khắc nghiệt.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Leica GS18 T - GNSS RTK Rover';
                                                changeSrc('https://sketchfab.com/models/b85c22de6866411faca5b37000d3b77a/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/gnss-systems/smart-antennas/leica-gs18i"
                                                    target="_blank"><img src="/public/images/home/leica-gs18i.jpg"
                                                        alt="Leica GS18 I – GNSS RTK Rover"></a>
                                            </div>
                                            <h3>Leica GS18 I – GNSS RTK Rover</h3>
                                            <p>Leica GS18 I là một hệ thống thu thập dữ liệu định vị toàn cầu (GNSS) cao
                                                cấp của Leica Geosystems. Máy sử dụng công nghệ IMU (Inertial
                                                Measurement Unit) để đo độ nghiêng và vị trí của bộ cảm biến, tạo ra dữ
                                                liệu định vị chính xác ngay cả trong những môi trường khó khăn như trong
                                                các khu vực có địa hình phức tạp hoặc trong các công trình xây dựng có
                                                nhiều chướng ngại vật.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Leica GS18 I – GNSS RTK Rover';
                                                changeSrc('https://sketchfab.com/models/79d1a500e43d4f349e7b23d7c66389a5/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.geospatial.trimble.com/r12i-sitevision"
                                                    target="_blank"><img
                                                        src="/public/images/home/trimble-r12i-and-trimble-tsc7.jpg"
                                                        alt="Trimble R12i GNSS + Trimble TSC7"></a>
                                            </div>
                                            <h3>Trimble R12i GNSS + Trimble TSC7</h3>
                                            <p>Trimble R12i GNSS là một hệ thống định vị toàn cầu (GNSS) cao cấp được
                                                sản xuất bởi Trimble. Nó được thiết kế để cung cấp độ chính xác, độ tin
                                                cậy và hiệu suất vượt trội trong các ứng dụng định vị đòi hỏi cao như
                                                xây dựng, địa chính, nghiên cứu khoa học, nông nghiệp và các ngành công
                                                nghiệp khác. </p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Trimble R12i GNSS + Trimble TSC7';
                                                changeSrc('https://sketchfab.com/models/9b95cd0d4d7643bc9a40366586699395/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.topconpositioning.com/support/products/hiper-v">
                                                    <img src="/public/images/home/topcon-hyper-v.jpg"
                                                        alt="Topcon HiPer V"></a>
                                            </div>
                                            <h3>Topcon HiPer V</h3>
                                            <p>Topcon HiPer V là một bộ thu tín hiệu định vị toàn cầu (GNSS) được sản
                                                xuất bởi Topcon Positioning Systems. Nó cũng được trang bị công nghệ RTK
                                                và IMU, cho phép thu thập dữ liệu với độ chính xác cao và định vị vị trí
                                                nhanh chóng. </p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Topcon HiPer V';
                                                changeSrc('https://sketchfab.com/models/20ad01e349054793b7e54ea57dcc8f9c/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section Mobile Mapping -->
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Thiết bị</span>
                                <h2 class="pcc-heading">Hệ thống lập bản đồ di động (Mobile Mapping System)</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                    target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                        alt="Hệ thống lập bản đồ di động Trimble MX50 Mobile Mapping"></a>
                                            </div>
                                            <h3>Hệ thống lập bản đồ di động<br>Trimble MX50</h3>
                                            <p>Trimble MX50 là giải pháp lập bản đồ kết hợp dữ liệu LiDAR chính xác và
                                                hình
                                                ảnh trực quan để quản lý tài sản, lập bản đồ, bảo trì đường bộ,..</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Hệ thống lập bản đồ di động Trimble MX50';
                                                changeSrc('https://sketchfab.com/models/647310dfc9114f12802ff4062a59f7dc/embed?ui_infos=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                    target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                        alt="Polaris TLS"></a>
                                            </div>
                                            <h3>Thiết bị lập bản đồ di động<br>Polaris TLS</h3>
                                            <p>Thiết bị chủ yếu phục vụ khảo sát địa hình với các tính năng nổi bật như
                                                tầm hoạt động lớn lên đến 2km, nhận 4 tín hiệu phản xạ.
                                                Cảm biến GNSS có thể xác định vị trí của thiết bị tại hiện trường.
                                                Kết hợp với Novatel IMU, thiết bị trở thành một trạm quét di động có thể
                                                được gắn trên ô tô hoặc thuyền bằng phần mềm của bên thứ ba.</p>
                                            <a onclick="
                                            document.getElementById('modelTitle').innerText='Thiết bị lập bản đồ di động Polaris TLS';
                                            changeSrc('https://sketchfab.com/models/46c92900aa454761a4bafb3b16d97f70/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hydrographic Survey -->
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Thiết bị</span>
                                <h2 class="pcc-heading">Khảo sát Thủy văn</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                        src="/public/images/home/otter-pro.jpg"
                                                        alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                            </div>
                                            <h3>Tàu không người lái Otter Pro USV<br>Norbit iWBMS Multibeam Sonar &
                                                iLiDAR
                                            </h3>
                                            <p>Thiết bị USV OTTER Pro có hệ thống tích hợp giữa Đa tia iWBMS và Cảm biến
                                                Laser iLiDAR của NORBIT để ghi lại dữ liệu dưới nước và cả hai bên bờ.
                                                Giải
                                                pháp hiệu quả để khảo sát ở các khu vực nước nông như hồ, kênh, sông, ao
                                                và
                                                các khu vực bến cảng.</p>
                                            <a onclick="
                                            document.getElementById('modelTitle').innerText='Tàu không người lái Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR';
                                            changeSrc('https://sketchfab.com/models/e235c11f565a49b6bf731103e4ffacf4/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.edgetech.com/wp-content/uploads/2019/07/0004840_REV_E.pdf"
                                                    target="_blank"><img src="/public/images/home/edgetech-3200.jpg"
                                                        alt="Hệ thống EdgeTech 3200-XS Sub-bottom Profiling"></a>
                                            </div>
                                            <h3>Hệ thống<br>EdgeTech 3200-XS Sub-bottom Profiling</h3>
                                            <p>Hệ thống EdgeTech 3200-XS Sub-bottom Profiling là thiết bị đo địa tầng
                                                dưới
                                                đáy với tần số rộng (FM) và độ phân giải cao sử dụng công nghệ Full
                                                Spectrum
                                                CHIRP độc quyền của EdgeTech. Hệ thống truyền xung FM được quét tuyến
                                                tính
                                                trên tần số Toàn phổ. </p>
                                            <a onclick="
                                            document.getElementById('modelTitle').innerText='Hệ thống EdgeTech 3200-XS Sub-bottom Profiling';
                                            changeSrc('https://sketchfab.com/models/9b47e34072e64291a1a4702845b14b8f/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.edgetech.com/wp-content/uploads/2019/07/0004842_Rev_P.pdf"
                                                    target="_blank"><img
                                                        src="/public/images/home/edg-tech-4200-mp-side-scan-sonar.jpg"
                                                        alt="Hệ thống EdgeTech 4200-MP Side Scan Sonar"></a>
                                            </div>
                                            <h3>Hệ thống<br>EdgeTech 4200-MP Side Scan Sonar</h3>
                                            <p>Hệ thống EdgeTech Side Scan Sonar 4200-MP có lợi thế độc đáo so với các
                                                hệ
                                                thống quét hai tần số thông thường là việc kết hợp các công nghệ Full
                                                Spectrum và Multi-Pulse của EdgeTech trong cùng một thiết bị; Cung cấp
                                                hình
                                                ảnh của đáy biển, sông, hồ với độ phân giải cao.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Hệ thống EdgeTech 4200-MP Side Scan Sonar';
                                                changeSrc('https://sketchfab.com/models/bd936f0970614f28879277efff25768f/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="hhttps://www.nortekgroup.com/products/awac-600-khz"
                                                    target="_blank"><img src="/public/images/home/awac.jpg"
                                                        alt="Thiết bị đo lường dòng chảy Nortek AWAC"></a>
                                            </div>
                                            <h3>Thiết bị đo lường dòng chảy<br>Nortek AWAC</h3>
                                            <p>Nortek AWAC là một loại thiết bị đo lường dòng chảy nước biển hoặc dòng
                                                chảy trong các môi trường nước khác. Thiết bị sử dụng sóng âm để đo tốc
                                                độ dòng chảy và hướng chuyển động của nước. </p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Thiết bị đo lường dòng chảy Nortek AWAC';
                                                changeSrc('https://sketchfab.com/models/e0f6e569d45b4777b3590b20ac87599a/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.sontek.com/argonaut-xr" target="_blank"><img
                                                        src="/public/images/home/sontek-agonaut-xr.jpg"
                                                        alt="Thiết bị đo lường dòng chảy Sontek Agonaut-XR"></a>
                                            </div>
                                            <h3>Thiết bị đo lường dòng chảy<br>Sontek Agonaut-XR</h3>
                                            <p>Sontek Agonaut-XR là một loại thiết bị đo lường dòng chảy trong nước,
                                                được sản xuất bởi công ty Sontek. Là một trong những thiết bị đo lường
                                                dòng chảy nước cầm tay nhỏ gọn. Thiết bị này sử dụng công nghệ đo lường
                                                áp suất và giám sát phần mềm để đo lường tốc độ dòng chảy của nước.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.sontek.com/argonaut-adv" target="_blank"><img
                                                        src="/public/images/home/sontek-agonaut-adv.jpg"
                                                        alt="Thiết bị đo lường dòng chảy Sontek Agonaut-ADV®"></a>
                                            </div>
                                            <h3>Thiết bị đo lường dòng chảy<br>Sontek Agonaut-ADV®</h3>
                                            <p>Sontek Agonaut-ADV® là một hệ thống thu thập dữ liệu đo lường dòng chảy
                                                dưới nước được sản xuất bởi công ty Sontek/ Xylem Inc. Hệ thống này được
                                                thiết kế để đo lường vận tốc, độ sâu, nhiệt độ, độ mặn, oxy hóa, và các
                                                thông số khác của nước trong các môi trường nước ngọt và nước mặn.</p>
                                            <a onclick="
                                                document.getElementById('modelTitle').innerText='Thiết bị đo lường dòng chảy Sontek Agonaut-ADV®';
                                                changeSrc('https://sketchfab.com/models/835b55b5c61943c5859308af862b5dde/embed?ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=1&ui_help=0&ui_settings=0&ui_fullscreen=0')"
                                                data-bs-toggle="modal" data-bs-target="#myModal"><span
                                                    style="vertical-align:middle">View
                                                    in 3D</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Brands -->
            <%- include ('partials/brands.ejs')%>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content" id="content-modal">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelTitle"></h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <iframe id="iframeId" src="" frameborder="0" width="100%" height="100%"></iframe>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-learn"
                                data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>
    <%- include('partials/js.ejs') %>
    <script>
        function changeSrc(loc) {
            document.getElementById('iframeId').src = loc;
        }
        $(document).ready(function () {
            $('#myModal').on('hidden.bs.modal', function () {
                $('.modal-body iframe').attr('src', '');
            });
        });
    </script>
</body>

</html>