<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Trang chủ | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa Xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Trung tâm chuyển đổi số Cơ sở hạ tầng cung cấp giải pháp số hóa công trình xây dựng, dịch vụ BIM - GIS, Scan to BIM và khảo sát 3D Laser." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi" content="Trang chủ | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa Xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/trang-chu" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Trang chủ | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa Xây dựng" />
    <meta property="og:description"
        content="Trung tâm chuyển đổi số Cơ sở hạ tầng cung cấp giải pháp số hóa công trình xây dựng, dịch vụ BIM - GIS, Scan to BIM và khảo sát 3D Laser." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/trang-chu" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Trang chủ | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa Xây dựng" />
    <meta name="twitter:description"
        content="Trung tâm chuyển đổi số Cơ sở hạ tầng cung cấp giải pháp số hóa công trình xây dựng, dịch vụ BIM - GIS, Scan to BIM và khảo sát 3D Laser." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/bg-scan-to-bim.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/trang-chu" />
    <meta name="twitter:card" content="summary" />
    <%- include ('partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>
        <div id="pcc-main">
            <aside id="pcc-intro">
                <div class="bg-video-wrap">
                    <video loop muted autoplay playsinline>
                        <source src="/public/images/video-bg/video-background.mp4" type="video/mp4">
                    </video>
                    <div class="overlay1">
                    </div>
                    <div class="pcc-text">
                        <h1>Trung tâm chuyển đổi số Cơ sở hạ tầng
                        </h1>
                        <p>Chúng tôi chuyên nghiên cứu, ứng dụng, phát triển và cung cấp các dịch vụ công nghệ trong
                            lĩnh vực xây dựng mô hình thông tin (BIM), số hóa cơ sở hạ tầng, lập bản đồ GIS, úng dụng
                            vào hoạt động xây dựng.
                        </p>
                        <p><a href="/vi/gioi-thieu" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                    </div>
                </div>
            </aside>
            <!-- Section giải pháp -->
            <section class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Giải pháp toàn diện</span>
                            <h2 class="pcc-heading">Khảo sát xây dựng</h2>
                            <p>Phương pháp khảo sát độ nét cao (HDS) hoặc quét laser này chịu trách nhiệm chính
                                trong việc thu thập dữ liệu tốc độ và chất lượng cao của một tòa nhà hoặc một vật
                                thể khó nhìn thấy bằng mắt thường. Các chùm tia laze này được phát ra trong quá
                                trình quét lấy hàng triệu pixel của một vật thể với độ chính xác cao. Chúng được sử
                                dụng để đo cầu, tòa nhà, đường xá, v.v.</p>
                            <p>Trung tâm chuyển đổi số Cơ sở hạ tầng tự hào là nhà cung cấp dịch vụ khảo sát bằng công
                                nghệ 3D Laser hàng đầu tại Việt Nam. Cùng với kinh nghiệm và trang thiết bị được cập
                                nhật mới liên tục, chúng tôi sẽ mang đến cho khách hàng chất lượng khảo sát tốt
                                nhất, chính xác nhất.</p>
                            <p><a href="/vi/giai-phap/khao-sat-xay-dung" class="btn btn-primary btn-learn">Tìm hiểu
                                    thêm!</a></p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/topo-hydro-survey.jpg);">
                            </div>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/bim-modeling.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Giải pháp toàn diện</span>
                            <h2 class="pcc-heading">Mô hình thông tin xây dựng (BIM)</h2>
                            <p>Xây dựng mô hình thông tin (BIM) là một quá trình toàn diện để tạo và quản lý thông tin
                                cho một tài sản được xây dựng. Dựa trên một mô hình thông minh và được kích hoạt bởi nền
                                tảng đám mây, BIM tích hợp dữ liệu đa ngành, có cấu trúc để tạo ra một đại diện kỹ thuật
                                số của một tài sản trong suốt vòng đời của nó, từ lập kế hoạch và thiết kế đến xây dựng
                                và vận hành.
                                Mô hình hóa thông tin công trình (BIM) là nền tảng của quá trình chuyển đổi kỹ thuật số
                                trong ngành kiến ​​trúc, kỹ thuật và xây dựng (AEC).
                            </p>
                            <p><a href="/vi/giai-phap/bim" class="btn btn-primary btn-learn">Tìm hiểu thêm!</a></p>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Giải pháp toàn diện</span>
                            <h2 class="pcc-heading">Kết hợp của GIS &amp; BIM</h2>
                            <p>Bằng cách cung cấp một bối cảnh trong thế giới thực
                                môi trường xung quanh của tài sản
                                trong đó các nhà thiết kế và kỹ sư
                                có thể khám phá và đánh giá thiết kế và
                                xây dựng – GIS thông báo cho BIM. Sau đó,
                                các mô hình phong phú, chính xác hơn có thể được
                                được sử dụng để cải thiện các hoạt động tổng thể
                                và bảo trì tài sản trong một
                                khu vực – theo cách này, BIM cung cấp năng lượng GIS.</p>
                            <p>Sự hợp nhất của BIM và GIS cung cấp
                                sức mạnh để xây dựng một
                                mô hình bối cảnh mạnh mẽ, nơi thông tin địa lý
                                và dữ liệu cơ sở hạ tầng kết hợp lại với nhau,
                                giúp hiểu rõ hơn về cách
                                nội dung tương tác trong bối cảnh
                                của một địa điểm và địa lý thực.</p>
                            <p><a href="/vi/giai-phap/ket-hop-gis-va-bim" class="btn btn-primary btn-learn">Tìm hiểu
                                    thêm!</a></p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/bim-and-gis.jpg);">
                            </div>
                        </div>
                    </div>

                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="about-us-img animate-box" data-animate-effect="fadeInLeft"
                                style="background-image: url(/public/images/solutions/digital-twin.jpg);">
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Giải pháp toàn diện</span>
                            <h2 class="pcc-heading">Bản sao kỹ thuật số (Digital Twin)</h2>
                            <p>
                                Bản sao kỹ thuật số (Digital Twin) là một đại diện kỹ thuật số của một đối tượng, quy
                                trình hoặc dịch vụ vật lý như trang trại điện gió, tòa nhà hoặc thậm chí toàn bộ thành
                                phố.
                            </p>
                            <p>Bản sao kỹ thuật số cung cấp một mô hình 3D tích hợp nhiều loại thông tin từ hình học đến
                                dữ liệu theo thời gian
                                thực cho phép quản lý, thực hiện các nghiên cứu mô phỏng về hoạt động, mô phỏng các kịch
                                bản tác động rủi ro
                                từ thiên tai cho đến sự cố có thể xảy ra, nhằm đưa ra các giải pháp ngăn ngừa rủi ro
                                cũng như xây dựng các kịch
                                bản ứng phó.</p>
                            <p><a href="/vi/giai-phap/ban-sao-ky-thuat-so" class="btn btn-primary btn-learn">Tìm hiểu
                                    thêm!</a></p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="pcc-quote" class="pcc-quotes" style="background-image: url(/public/images/cover_bg_1.jpg);"
                data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 text-center animate-box" style="margin-top:3rem">
                            <h3 class="shine-qoutes">"Đưa thông tin thế giới thật vào thế giới kỹ thuật số"</h3>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pcc-projects">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Dự án</span>
                            <h2 class="pcc-heading">Dự án tiêu biểu</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md animate-box" data-animate-effect="fadeInLeft">
                        <div class="gallery">
                            <div class="col-md-4 col-sm-6 heritage">
                                <div class="projects-entry">
                                    <a href="/vi/du-an/nha-hat-thanh-pho-ho-chi-minh" class="projects-img"><img
                                            src="/public/images/projects/saigon-opera-house/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/vi/du-an/nha-hat-thanh-pho-ho-chi-minh">Nhà hát Thành phố Hồ Chí
                                                Minh</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 architecture">
                                <div class="projects-entry">
                                    <a href="/vi/du-an/merryland-quy-nhon" class="projects-img"><img
                                            src="/public/images/projects/merryland-quy-nhon/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/vi/du-an/merryland-quy-nhon">MerryLand Quy Nhơn</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 port">
                                <div class="projects-entry">
                                    <a href="/vi/du-an/trung-tam-logistics-cai-mep-ha" class="projects-img"><img
                                            src="/public/images/projects/logistics-cai-mep-ha/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/vi/du-an/trung-tam-logistics-cai-mep-ha">Trung tâm Logistic Cái
                                                Mép Hạ</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 infrastructure">
                                <div class="projects-entry">
                                    <a href="/vi/du-an/tuyen-so-1-duong-sat-do-thi-tphcm" class="projects-img"><img
                                            src="/public/images/projects/metro-saigon/cover.jpg" class="img-responsive"
                                            alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/vi/du-an/tuyen-so-1-duong-sat-do-thi-tphcm">Tuyến số 1 (Đường sắt
                                                đô thị TP. Hồ Chí Minh)</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 port">
                                <div class="projects-entry">
                                    <a href="/vi/du-an/cang-sai-gon-hiep-phuoc" class="projects-img"><img
                                            src="/public/images/projects/saigon-hiep-phuoc-port/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/vi/du-an/cang-sai-gon-hiep-phuoc">Cảng Sài Gòn - Hiệp Phước</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 port">
                                <div class="projects-entry">
                                    <a href="/vi/du-an/cang-hyosung-vina-chemicals" class="projects-img"><img
                                            src="/public/images/projects/hyosung-vina-chemicals-port/cover.jpg"
                                            class="img-responsive" alt=""></a>
                                    <div class="desc">
                                        <h3><a href="/vi/du-an/cang-hyosung-vina-chemicals">Cảng Hyosung Vina
                                                Chemicals</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Secction Tin tức -->
            <section class="pcc-blog">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Bản tin</span>
                            <h2 class="pcc-heading">Tin tức hoạt động</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                <a href="/vi/tin-tuc/portcoast-dt-trinh-bay-tai-hoi-thao-chuyen-doi-so-nen-tang-xay-dung-thanh-pho-thong-minh"
                                    class="blog-img"><img
                                        src="/public/images/news/20221217-portcoast-presented-at-a-seminar-about-digital-transformation-the-foundation-for-building-a-smart-city/cover.jpg"
                                        class="img-responsive" alt=""></a>
                                <div class="desc">
                                    <span><small>Hoạt động | 17/12/2022</small></span>
                                    <h3><a
                                            href="/vi/tin-tuc/portcoast-dt-trinh-bay-tai-hoi-thao-chuyen-doi-so-nen-tang-xay-dung-thanh-pho-thong-minh">Hội
                                            thảo “Chuyển đổi số - Nền tảng xây dựng thành phố thông
                                            minh”</a></h3>
                                    <p>Ngày 17/12/2022 tại Hà Nội, đã diễn ra buổi Hội thảo khoa học với chủ đề “Chuyển
                                        đổi số - Nền tảng xây dựng đô thị thông minh” do Tổng hội Xây dựng Việt Nam và
                                        các đơn vị phối hợp tổ chức.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                <a href="/vi/tin-tuc/tap-doan-deo-ca-day-manh-ap-dung-cong-nghe-so-trong-quan-tri-du-an-giao-thong"
                                    class="blog-img"><img
                                        src="/public/images/news/20221216-deo-ca-group-promotes-the-application-of-digital-technology-in-traffic-project-management/cover.jpg"
                                        class="img-responsive" alt=""></a>
                                <div class="desc">
                                    <span><small>Tin tức | 16/12/2022 | baodautu.vn</small></span>
                                    <h3><a
                                            href="/vi/tin-tuc/tap-doan-deo-ca-day-manh-ap-dung-cong-nghe-so-trong-quan-tri-du-an-giao-thong">Tập
                                            đoàn Đèo Cả đẩy mạnh áp dụng công nghệ số trong quản trị
                                            dự án giao thông</a></h3>
                                    <p>Tập đoàn Đèo Cả sẽ hợp tác với các đơn vị tư vấn hàng đầu trong nước để đẩy mạnh
                                        ứng dụng công nghệ số trong khảo sát, thiết kế và quản lý dự án hạ tầng giao
                                        thông.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                <a href="/vi/tin-tuc/portcoast-ky-ket-hop-tac-chien-luoc-voi-hung-thinh-incons-day-manh-chuyen-doi-so-trong-xay-dung"
                                    class="blog-img"><img
                                        src="/public/images/news/20220916-portcoast-sign-an-mou-with-hung-thinh-incons-joint-stock-company/cover.jpg"
                                        class="img-responsive" alt=""></a>
                                <div class="desc">
                                    <span><small>Hoạt động | 16/09/2022</small></span>
                                    <h3><a
                                            href="/vi/tin-tuc/portcoast-ky-ket-hop-tac-chien-luoc-voi-hung-thinh-incons-day-manh-chuyen-doi-so-trong-xay-dung">Portcoast
                                            ký kết hợp tác chiến lược với Hưng Thịnh Incons,
                                            đẩy mạnh chuyển đổi số trong xây dựng</a></h3>
                                    <p>Portcoast ký kết hợp tác chiến lược với Hưng Thinh nhằm thúc đẩy ứng dụng công
                                        nghệ chuyển đổi số trong xây dựng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pcc-equipment">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Công nghệ</span>
                            <h2 class="pcc-heading">Thiết bị hiện đại</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                    alt="Hệ thống lập bản đồ di động Trimble MX50 Mobile Mapping"></a>
                                        </div>
                                        <h3>Hệ thống lập bản đồ di động<br>Trimble MX50</h3>
                                        <p>Trimble MX50 là giải pháp lập bản đồ kết hợp dữ liệu LiDAR chính xác và hình
                                            ảnh trực quan để quản lý tài sản, lập bản đồ, bảo trì đường bộ,..</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                    alt="Polaris TLS"></a>
                                        </div>
                                        <h3>Thiết bị lập bản đồ di động<br>Polaris TLS</h3>
                                        <p>Thiết bị chủ yếu phục vụ khảo sát địa hình với các tính năng nổi bật như
                                            tầm hoạt động lớn lên đến 2km, nhận 4 tín hiệu phản xạ.
                                            Cảm biến GNSS có thể xác định vị trí của thiết bị tại hiện trường.
                                            Kết hợp với Novatel IMU, thiết bị trở thành một trạm quét di động có thể
                                            được gắn trên ô tô hoặc thuyền bằng phần mềm của bên thứ ba.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a><img src="/public/images/home/stormbee.jpg" alt="Stormbee UAV S-20"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>Stormbee UAV S-20</h3>
                                        <p>Stormbee UAV S-20 là một thiết bị bay không người lái, nó kết hợp với máy
                                            quét Laser của Faro có thể dùng để khảo sát trên không, với độ chính xác cực
                                            kì cao. Sử dụng để khảo sát trên không các cơ sở công nghiệp, khu vực đất
                                            nông nghiệp và lâm nghiệp,...</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.dji.com/matrice-300" target="_blank"><img
                                                    src="/public/images/home/matrice-300-rtk.jpg"
                                                    alt="Matrice 300 RTK + Zenmuse L1 + Zenmuse P1"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>
                                            Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                        <p>Máy bay không người lái có cảm biến ở 6 hướng, hệ thống định vị RTK. Hệ thống
                                            Matrice 300RTK - Zenmuse L1 có khả năng thu thập dữ liệu hình ảnh đồng thời
                                            với đám mây điểm nhiều đặc tính nhờ 3 lần tín hiệu Lidar phản hồi và có khả
                                            năng xuyên qua tán lá…</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.shareuavtec.com/102V3" target="_blank"><img
                                                    src="/public/images/home/share-uav-psdk-102s-v3.jpg"
                                                    alt="Share UAV PSDK 102S V3"></a>
                                        </div>
                                        <h3>Máy bay không người lái (UAV)<br>Matrice 300 RTK + Share PSDK 102S V3</h3>
                                        <p>PSDK 102S V3 với 5 ống kính với Gimbal ổn định 3 trục, là một máy ảnh khảo
                                            sát tích hợp cao chuyên về phép đo ảnh trên không. Máy ảnh được kết nối liền
                                            mạch với DJI
                                            Matrice 300 RTK thông qua SkyPort.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/dji-matrice-30t.jpg"
                                                    alt="DJI Matrice 30T"></a>
                                        </div>
                                        <h3>Máy bay không người lái (Drone)<br>DJI Matrice 30T
                                        </h3>
                                        <p>Thiết bị bay không người lái model Matrice 30T là 1 trong 2 thiết bị thuộc
                                            dòng matrice 30 series mới được DJI ra mắt tháng 3 vừa qua. Nó là công cụ
                                            cực kì hữu ích đối với nhiều ngành công nghiệp. Với khả năng hình ảnh và
                                            camera nhiệt cho phép chúng thực hiện các công việc kiểm tra trong ngành
                                            công nghiệp năng lượng một cách nhanh chóng và hiệu quả.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/otter-pro.jpg"
                                                    alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                        </div>
                                        <h3>Tàu không người lái Otter Pro USV<br>Norbit iWBMS Multibeam Sonar & iLiDAR
                                        </h3>
                                        <p>Thiết bị USV OTTER Pro có hệ thống tích hợp giữa Đa tia iWBMS và Cảm biến
                                            Laser iLiDAR của NORBIT để ghi lại dữ liệu dưới nước và cả hai bên bờ. Giải
                                            pháp hiệu quả để khảo sát ở các khu vực nước nông như hồ, kênh, sông, ao và
                                            các khu vực bến cảng.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12"
                                                target="_blank"><img src="/public/images/home/trimble-sx12.jpg"
                                                    alt="Trimble SX12 Scanning Total Station"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser<br>Trimble SX12</h3>
                                        <p>Là một thiết bị 2 trong 1: có tính năng của một robotic total station hiện
                                            đại
                                            độ chính xác cao (đo góc 1”, đo cạnh 1mm+1.5ppm) và tính năng của một
                                            laser scan tiêu chuẩn. Khi scan, độ chính xác đo góc đứng và ngang đến
                                            5”, SX12 là một laser scan siêu chính xác. Khả năng hậu thị tự động xa đến
                                            300m với gương 360⁰ giúp máy nâng cao năng suất thu thập dữ liệu.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-scanstation-p50"
                                                target="_blank"><img src="/public/images/home/leica-p50.jpg"
                                                    alt="Leica Scanstation P50"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser (Tầm xa)<br>Leica Scanstation P50</h3>
                                        <p>Leica ScanStation P50 là máy quét laser 3D tầm xa. Giúp tối đa hóa năng suất
                                            bằng cách quét các vị trí không thể tiếp cận mà chỉ cần đặt máy tại một vị
                                            trí an toàn trong khu vực quét, giúp tiết kiệm thời gian.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/laser-scanners/scanners/leica-rtc360"
                                                target="_blank"><img src="/public/images/home/leica-rtc360.jpg"
                                                    alt="Leica RTC360 3D Laser Scanner"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser<br>Leica RTC360</h3>
                                        <p>Máy quét 3D Laser Leica RTC360 là giải pháp thu thập dữ liệu thông tin môi
                                            trường, cho phép người dùng ghi lại và quét 3D toàn bộ cảnh quan, từ đó giúp
                                            nâng cao hiệu quả và năng suất nhanh chóng và chính xác.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                    alt="Máy toàn đạc điện tử Leica iCON iCR80"></a>
                                        </div>
                                        <h3>Máy toàn đạc điện tử<br>Leica iCON iCR80 Robotic</h3>
                                        <p>Máy toàn đạc điện tử Leica iCON iCR80 Robotic giúp gia tăng số lượng các điểm
                                            quan nhờ vào công nghệ ATRplus với tính năng định vị tự động hóa cao cùng
                                            với khả năng khóa và khóa lại mạnh mẽ nhất trên thị trường hiện nay. Nó đặc
                                            biệt hữu ích ở các công trường đông đúc, nơi bị cản trở bởi nhiều máy móc và
                                            người di chuyển.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://leica-geosystems.com/products/total-stations/robotic-total-stations/leica-nova-ts60"
                                                target="_blank"><img src="/public/images/home/leica-ts60.jpg"
                                                    alt="Máy toàn đạc điện tử Leica Nova TS60"></a>
                                        </div>
                                        <h3>Máy toàn đạc điện tử<br>Leica Nova TS60 Total Station</h3>
                                        <p>Thiết bị toàn đạc Leica Nova TS60 là thiết bị chính xác nhất trên thế giới
                                            hiện nay, được thiết kế để đáp ứng các dự án khắt khe nhất. Với độ chính xác
                                            đo góc 0,5” (ít hơn 1 giây) và đo chiều dài là 0,6mm+1ppm (ít hơn 1mm).</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.topconpositioning.com/scanning/laser-scanners/gls-2200"
                                                target="_blank"><img src="/public/images/home/topcon-gls-2200.jpg"
                                                    alt="Topcon GLS-2200"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser<br>Topcon GLS-2200</h3>
                                        <p>GLS-2200 là 1 loại thiết bị san laser do hãng Topcon – Nhật Bản sản xuất. Với
                                            công nghệ quét và quy trình làm việc mới nhất + phần mềm xử lý thân thiện
                                            với người dùng giúp cho chúng ta có thể hoàn thành công việc nhanh chóng và
                                            dễ dàng.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.faro.com/en/Products/Hardware/Focus-Laser-Scanners"
                                                target="_blank"><img src="/public/images/home/faro-s350a.jpg"
                                                    alt="FARO Focus S350-A"></a>
                                        </div>
                                        <h3>Máy quét 3D Laser<br>FARO Focus S350-A</h3>
                                        <p>FARO Focus S350-A được thiết kế đặc biệt cho các ứng dụng ngoài trời với
                                            thiết kế gọn nhẹ và tầm quét rộng. Focus S350-A cho ra dữ liệu quét ngay cả
                                            trong môi trường đầy thách thức, khoảng không làm việc chật hẹp, các khu vực
                                            bụi bặm hoặc ẩm ướt, trong trời mưa hoặc trực tiếp dưới nắng.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://matterport.com/cameras/pro2-3D-camera" target="_blank"><img
                                                    src="/public/images/home/matterport.jpg" alt="MatterPort"></a>
                                        </div>
                                        <h3>Máy ảnh 3D<br>MatterPort Pro 2</h3>
                                        <p>Matterport là tiêu chuẩn để chụp không gian 3D. Nền tảng tất cả trong một của
                                            chúng tôi biến không gian trong đời thực thành các mô hình đôi kỹ thuật số
                                            sống động.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/unitree-go1.jpg"
                                                alt="Unitree Go1 Plus & Leica BLK 360">
                                        </div>
                                        <h3>Robot điều khiển<br>Unitree Go1 Plus &amp; Leica BLK 360</h3>
                                        <p>Chú chó điều khiển Unitree Go1 Plus mang theo máy quét 3D Laser Leica BLK
                                            360, khảo sát ở những nơi có môi trường không thuận tiện (khói, bụi,
                                            nhiệt,..).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include ('partials/brands.ejs')%>
            <%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include ('partials/js.ejs') %>
</body>

</html>