<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-language" content="vi" />
    <title>Ứng dụng - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
	<meta name="robots" content="noodp, index, follow">
	<meta name="thumbnail" content="https://www.portcoast.com.vn/public/images/cover-application.jpg" />

	<!-- GEO -->
	<meta name="DC.title" lang="vi" content="Ứng dụng - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta name="geo.region" content="VN" />
	<meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
	<meta name="DC.identifier" content="https://portcoast-bim.com/vi/ung-dung" />
	<meta name="geo.position" content="10.798656;106.664696" />
	<meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Ứng dụng - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta property="og:description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
	<meta property="og:image:width" content="800" />
	<meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/ung-dung" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:type" content="website" />

    <meta name="twitter:title" content="Ứng dụng - Trung tâm chuyển đổi số Portcoast | Dịch vụ BIM | Scan to BIM & Khảo sát 3D Laser" />
	<meta name="twitter:description" content="Giải pháp công nghệ Laser Scan và Scan to BIM ứng dụng mạnh mẽ cho các lĩnh vực: Công nghiệp; Hàng hải; Xây dựng; Kiến trúc; Quy hoạch; Bảo tồn,..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/cover-application.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/ung-dung" />
    <%- include ('partials/css.ejs')%>
</head>
<body>
    <div id="pcc-page">
        <a class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include ('partials/nav.ejs')%>
        <div id="pcc-main">
            <div class="pcc-application">
				<div class="pcc-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
							data-animate-effect="fadeInLeft">
							<span class="heading-meta">Ứng dụng</span>
							<h2 class="pcc-heading">Laser Scanning trong các lĩnh vực</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="pcc-icon">
										<a target="_blank"><img src="/images/icon/oil-industry.png"></a>
									</div>
									<div class="pcc-text">
										<a><h3>Công nghiệp</h3></a>
										<p><br></p>
									</div>
								</div>

								<div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="pcc-icon">
										<a target="_blank"><img src="/images/icon/construction.png"></a>
									</div>
									<div class="pcc-text">
										<a><h3>Xây dựng</h3></a>
										<p><br></p>
									</div>
								</div>

								<div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="pcc-icon">
										<a target="_blank"><img src="/images/icon/map.png"></a>
									</div>
									<div class="pcc-text">
										<a><h3>Khảo sát &amp; Quy hoạch</h3></a>
										<p><br></p>
									</div>
								</div>

								<div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="pcc-icon">
										<a target="_blank"><img src="/images/icon/maritime.png"></a>
									</div>
									<div class="pcc-text">
										<a><h3>Hàng hải</h3></a>
										<p><br></p>
									</div>
								</div>
								<div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="pcc-icon">
										<a target="_blank"><img src="/images/icon/heritage.png"></a>
									</div>
									<div class="pcc-text">
										<a><h3>Kiến trúc &amp; Di tích</h3></a>
										<p><br></p>
									</div>
								</div>
								<div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="pcc-icon">
										<a target="_blank"><img src="/images/icon/facility-management.png"></a>
									</div>
									<div class="pcc-text">
										<a><h3>Quản lý cơ sở vật chất</h3></a>
										<p><br></p>
									</div>
								</div>
								<div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="pcc-icon">
										<a target="_blank"><img src="/images/icon/infratructure.png"></a>
									</div>
									<div class="pcc-text">
										<a><h3>Infrastructure</h3></a>
										<p><br></p>
									</div>
								</div>
								<div class="col-md-6 pcc-feature animate-box" data-animate-effect="fadeInLeft">
									<div class="pcc-icon">
										<a target="_blank"><img src="/images/icon/accident.png"></a>
									</div>
									<div class="pcc-text">
										<a><h3>Accident</h3></a>
										<p><br></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include ('partials/brands.ejs')%>
			<%- include ('partials/footer.ejs')%>
        </div>
    </div>

    <%- include ('partials/js.ejs')%>

</body>

</html>