<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Tham quan 360° | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Tham quan 360° đang ngày càng trở nên phổ biến trên thế giới. Được phát triển dựa trên công nghệ tiên tiến, sản phẩm này cho phép người dùng trải nghiệm một cuộc hành trình thú vị mà không cần phải đến thực tế." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Tham quan 360° | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham/tham-quan-ao-360" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Tham quan 360° | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Tham quan 360° đang ngày càng trở nên phổ biến trên thế giới. Được phát triển dựa trên công nghệ tiên tiến, sản phẩm này cho phép người dùng trải nghiệm một cuộc hành trình thú vị mà không cần phải đến thực tế." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham/tham-quan-ao-360" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Tham quan 360° | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Tham quan 360° đang ngày càng trở nên phổ biến trên thế giới. Được phát triển dựa trên công nghệ tiên tiến, sản phẩm này cho phép người dùng trải nghiệm một cuộc hành trình thú vị mà không cần phải đến thực tế." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham/tham-quan-ao-360" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <div class="pcc-solution">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">Sản phẩm</span>
                                        <h2 class="pcc-heading animate-box">Tham quan 360°</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="animate-box" data-animate-effect="fadeInLeft">
                                        <h5>Tham quan 360° đang ngày càng trở nên phổ biến trên thế giới, áp dụng cho nhiều lĩnh vực du lịch, bất động sản, bảo tàng, giáo dục,... Được phát
                                            triển dựa trên công nghệ tiên tiến, sản phẩm này cho phép
                                            người dùng trải nghiệm một cuộc hành trình thú vị mà không cần phải đến thực
                                            tế.</h5>
                                        <div class="animate-box mb-3" data-animate-effect="fadeInLeft">
                                            <iframe width="100%" height="600px"
                                                src="https://www.portcoast.com.vn/virtual-tour/ba-ria-secere/"></iframe>
                                        </div>
                                        <p>Với chuyến tham quan 360° giúp người dùng có thể tham quan toàn diện các
                                            địa điểm,
                                            khu vực nổi tiếng ở bất kì nơi nào mà không cần phải đặt chân đến đó. Từ đó,
                                            người dùng có thể tiết kiệm được thời gian và chi phí cho việc đi lại, đồng
                                            thời đảm bảo an toàn cho sức khỏe của mình trong bối cảnh dịch bệnh hiện
                                            nay.</p>
                                        <p>Việc sử dụng chuyến Tham quan 360° cũng rất đơn giản. Người dùng chỉ
                                            cần truy cập trình duyệt hoặc ứng dụng của dịch vụ, chọn địa điểm muốn
                                            tham quan và bắt đầu cuộc hành trình ảo của mình. Ngoài ra, bằng sự
                                            kết hợp với các thiết bị thực tế ảo VR (Virtual Reality) sẽ tạo ra một trải nghiệm sống
                                            động hơn cho người dùng, cho phép họ đắm mình trong một môi
                                            trường ảo hoàn toàn, có cảm giác như đang thực sự ở trong đó.</p>
                                        <p>Không chỉ mang lại những trải nghiệm tuyệt vời
                                            cho người dùng mà còn hỗ trợ cho các doanh nghiệp trong nhiều lĩnh vực như
                                            du lịch,
                                            khách sạn, nhà hàng, trường học, bảo tàng và giải trí trong việc quảng bá và
                                            tiếp cận
                                            đến khách
                                            hàng của mình.</p>
                                        <p>Tại Trung tâm chuyển đổi số cơ sở hạ tầng, chúng tôi còn cung cấp chuyến Tham quan 3D và Triển lãm 3D giàu tính năng cho
                                            phép người dùng tương tác với các mô hình 3D, video nhằm mang lại trải nghiệm đầy thú vị, sinh động và chân thực.</p>
                                        <p>Lợi ích chuyến tham quan ảo và Triển lãm ảo mang lại bao gồm:</p>
                                        <ul class="pcc-list">
                                            <li>Cho phép người dùng trải nghiệm các địa điểm, triển lãm và sự kiện một cách trực tuyến và từ xa</li>
                                            <li>Tiết kiệm thời gian và chi phí cho người dùng</li>
                                            <li>Dễ dàng chia sẻ trên nền tảng trực tuyến</li>
                                            <li>Tăng phạm vi tiếp cận khách hàng</li>
                                            <li>Giảm đáng kể chi phí quảng cáo</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include (dir+'partials/products.ejs')%>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>