<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Tham quan ảo 360 | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Trung tâm chuyển đổi số Cơ sở hạ tầng chuyên tạo các chuyến tham quan ảo 360 độc đáo, giàu tính năng, chất lượng cao được thiết kế để phú hợp cho doanh nghiệp của bạn." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Tham quan ảo 360 | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham/tham-quan-ao-360" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Tham quan ảo 360 | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Trung tâm chuyển đổi số Cơ sở hạ tầng chuyên tạo các chuyến tham quan ảo 360 độc đáo, giàu tính năng, chất lượng cao được thiết kế để phú hợp cho doanh nghiệp của bạn." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham/tham-quan-ao-360" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Tham quan ảo 360 | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Trung tâm chuyển đổi số Cơ sở hạ tầng chuyên tạo các chuyến tham quan ảo 360 độc đáo, giàu tính năng, chất lượng cao được thiết kế để phú hợp cho doanh nghiệp của bạn." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham/tham-quan-ao-360" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <div class="pcc-solution">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">Sản phẩm</span>
                                        <h2 class="pcc-heading animate-box">Tham quan ảo 360°</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                        <p>Chuyến tham quan ảo là một nền tảng tiếp thị năng động và hiện đại để quảng
                                            bá các sản
                                            phẩm và dịch vụ đặc biệt phù hợp với các ngành định hướng nội dung như bất
                                            động sản,
                                            khách sạn, đô thị, bảo tàng và sản phẩm triển lãm - nơi các hình ảnh trực
                                            quan được coi
                                            là có tác động mạnh hơn bất kỳ hình thức truyền thông nào khác.</p>
                                        <p>Trung tâm chuyển đổi số Cơ sở hạ tầng chuyên tạo các chuyến tham quan ảo 360°
                                            độc đáo,
                                            giàu tính năng, chất lượng cao được thiết kế để phú hợp cho doanh nghiệp của
                                            bạn. Hình
                                            ảnh 360° đầy trực quan, cho phép tương tác và xem xét chi tiết mọi không
                                            gian.</p>
                                        <p>Lợi ích của Chuyến tham quan ảo:</p>
                                        <ul class="pcc-list">
                                            <li>Trực quan, giàu tính năng, tăng mức độ tương tác, trải nghiệm</li>
                                            <li>Dễ dàng chia sẻ trên nền tảng trực tuyến</li>
                                            <li>Phạm vi tiếp cận đối tượng rộng hơn</li>
                                            <li>Giảm đáng kể chi phí quảng cáo, tiết kiệm thời gian</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                        <img class="img-fluid"
                                            src="/public/images/products/360-virtual-tours/cover.jpg">
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <iframe width="100%" height="800px"
                                            src="https://www.portcoast.com.vn/virtual-tour/ba-ria-secere/"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include (dir+'partials/products.ejs')%>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>