<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Trực quan hóa (AR/VR/MR) | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Trực quan hóa dự án bằng VR, AR và MR cho phép người dùng tương tác với mô hình 3D của dự án, trải nghiệm những không gian tương lai của dự án, hoặc thậm chí điều khiển các yếu tố trong không gian ảo." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail"
        content="https://portcoast-bim.com/public/images/products/3d-visualization/visualization.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Trực quan hóa (AR/VR/MR) | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/san-pham/truc-quan-hoa" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Trực quan hóa (AR/VR/MR) | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta property="og:description"
        content="Trực quan hóa dự án bằng VR, AR và MR cho phép người dùng tương tác với mô hình 3D của dự án, trải nghiệm những không gian tương lai của dự án, hoặc thậm chí điều khiển các yếu tố trong không gian ảo." />
    <meta property="og:image"
        content="https://portcoast-bim.com/public/images/products/3d-visualization/visualization.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/san-pham/truc-quan-hoa" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Trực quan hóa (AR/VR/MR) | Trung tâm chuyển đổi số Cơ sở hạ tầng | Số hóa xây dựng" />
    <meta name="twitter:description"
        content="Trực quan hóa dự án bằng VR, AR và MR cho phép người dùng tương tác với mô hình 3D của dự án, trải nghiệm những không gian tương lai của dự án, hoặc thậm chí điều khiển các yếu tố trong không gian ảo." />
    <meta name="twitter:image"
        content="https://portcoast-bim.com/public/images/products/3d-visualization/visualization.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/san-pham/truc-quan-hoa" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <div class="pcc-solution">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">Sản phẩm</span>
                                        <h2 class="pcc-heading animate-box">Trực quan hóa (VR/AR/MR)</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="animate-box mb-3" data-animate-effect="fadeInRight">
                                        <img class="img-fluid"
                                            src="/public/images/products/3d-visualization/visualization.jpg">
                                    </div>
                                    <div class="animate-box" data-animate-effect="fadeInRight">
                                        <p>Trực quan hóa dự án bằng VR, AR và MR cho phép người dùng tương tác với mô
                                            hình
                                            3D của dự án, trải nghiệm những không gian tương lai của dự án, hoặc thậm
                                            chí điều khiển
                                            các yếu tố trong không gian ảo. Điều này giúp cho người dùng có thể hiểu rõ
                                            hơn về dự
                                            án, đồng thời giúp cho các doanh nghiệp hoặc nhà phát triển có thể thu thập
                                            phản hồi và
                                            thay đổi dự án theo ý kiến của khách hàng.</p>
                                        <p>Ngoài ra, trực quang hóa dự án bằng Game platform kết hợp VR, AR và MR là một
                                            cách tiếp cận độc đáo để tăng trải nghiệm tương tác và thực tế ảo cho khách
                                            hàng của mình. Nó cho phép họ có thể dễ dàng tùy chỉnh, thêm vào hoặc xóa bỏ
                                            các yếu tố trong mô hình 3D của dự án một cách nhanh chóng. Điều này giúp
                                            cho các nhà phát triển có thể đáp ứng nhanh chóng các yêu cầu thay đổi của
                                            khách hàng.</p>
                                        <p>Nó được áp dụng rộng rãi trong nhiều lĩnh vực như kiến trúc, xây dựng, bất
                                            động sản, quảng cáo và giải trí. Giúp cho các doanh nghiệp có thể tiết kiệm
                                            chi phí, thời gian và tăng độ chính xác trong quá trình thiết kế, phát triển
                                            và quảng bá sản phẩm của mình.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include (dir+'partials/products.ejs')%>
                    </div>
                </div>
            </div>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>