<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title><%=news.title_vi%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= news.description_vi%>" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi" content="<%=news.title_vi%>" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/tin-tuc/<%= news.url_vi%>" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="<%=news.title_vi%>" />
    <meta property="og:description" content="<%= news.description_vi%>" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/tin-tuc/<%= news.url_vi%>" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="<%=news.title_vi%>" />
    <meta name="twitter:description" content="<%= news.description_vi%>" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/tin-tuc/<%= news.url_vi%>" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            <%=news.tag.split("-")[1]%> |
                                            <%=  [news.day,(news.month<10?`0${news.month}`: news.month),news.year].join("/")%></span>
                                        <h2 class="pcc-heading animate-box">
                                            <%= news.title_vi%>
                                        </h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder %>/capture-a-5-hectare-coastal-construction-site-in-3d-cover.jpg"
                                                alt="<%= news.title_vi %>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <p>Năm 2018, dự án xây dựng cảng hóa chất Hyosung Vina đã bắt đầu triển khai tại
                                            tỉnh Bà Rịa-Vũng Tàu, miền Nam Việt Nam. Đây là một dự án hợp tác giữa Chính
                                            phủ Việt Nam và tập đoàn công nghiệp lớn của Hàn Quốc - Hyosung Corporation,
                                            cảng mới là một phần của Cụm hóa chất Hyosung. Khi hoàn thành, Cụm hóa chất
                                            Hyosung sẽ bao gồm một nhà máy sản xuất propane dehydrogenation (PDH), một
                                            nhà máy sản xuất polypropylene (PP), một bể chứa khí hóa lỏng (LPG) và một
                                            kho hàng hóa LPG và sản phẩm hóa chất tại Khu công nghiệp Cái Mép, Bà
                                            Rịa-Vũng Tàu, nằm gần Thành phố Hồ Chí Minh.</p>
                                        <p>Một trong những công việc cuối cùng trong quá trình phát triển là xây dựng
                                            cầu tàu LPG của cảng. Với hơn 30 năm kinh nghiệm trong lĩnh vực cơ sở hạ
                                            tầng đường thủy, giao thông và vận tải, Portcoast là tư vấn viên hàng đầu về
                                            khảo sát cảng và bờ biển tại Việt Nam. Công ty đã tham gia tạo bản đồ 3D cho
                                            khảo sát địa hình, mô hình xây dựng cầu tàu LPG và các cơ sở, và thực hiện
                                            báo cáo kiểm tra vách đá bảo vệ cầu tàu.</p>
                                        <p>Khảo sát địa hình đã bao phủ một diện tích hơn 5 ha - và với nhiều khu vực
                                            nằm trong nước, mức độ chuyên môn và kinh nghiệm của Portcoast là rất cần
                                            thiết để thu thập dữ liệu trong những khu vực khó tiếp cận này. Để làm phức
                                            tạp hơn những thách thức về khả năng tiếp cận, trong khi một số khu vực của
                                            khu phức hợp vẫn đang được xây dựng, thì những khu vực khác đã hoạt động.
                                        </p>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder %>/capture-a-5-hectare-coastal-construction-site-in-3d-001.jpg"
                                                alt="<%= news.title_vi %>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <p>Tiến sĩ Hoàng Hiệp, trưởng nhóm dự án của Portcoast, cho biết: <i>"Thách thức
                                            chính khi quét toàn bộ cảng là việc lựa chọn các vị trí quét trong một khu
                                            phức tạp có lưu lượng giao thông đáng kể và các công trình xây dựng đang
                                            diễn ra có thể ảnh hưởng đến tính ổn định yêu cầu cho việc quét chính
                                            xác."</i></p>
                                        <p>Để giảm thiểu các thách thức khi làm việc trong môi trường ồn ào, đông đúc và có nhiều phương tiện di chuyển, Portcoast quyết định tiến hành quét từ các vị trí cao hơn trên đường nội bộ.</p>
                                        <p>Tiến sĩ Hoàng Hiệp của Portcoast giải thích: <i>"Làm việc từ độ cao trên trang trại yêu cầu một máy quét có thể cung cấp mức độ chính xác cao trên một phạm vi đo lường xa. Leica ScanStation P50 cung cấp độ chính xác lên đến 3mm để chúng tôi có thể bao phủ toàn bộ phạm vi với sự tự tin và chính xác."</i></p>
                                        <p>Trong khi ScanStation P50 được sử dụng để thu thập dữ liệu trên đầu cầu, dưới cầu, nhóm sử dụng thiết bị được sửa đổi đặc biệt, chẳng hạn như cần cẩu được tùy chỉnh để lắp đặt Leica RTC360 và Leica BLK360 để đo và thu thập dữ liệu chi tiết cao trong các khu vực phức tạp, hẹp và không thể tiếp cận, chẳng hạn như hệ thống bể chứa chất lỏng, hệ thống đường ống, cầu tiếp cận và tay cẩu tải hàng hải.</p>
                                        <h5>Thời gian là tiền</h5>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder %>/capture-a-5-hectare-coastal-construction-site-in-3d-002.jpg"
                                                alt="<%= news.title_vi %>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <p>Hứa hẹn mang lại những lợi ích kinh tế đáng kể cho khu vực, dự án xây dựng này ước tính đã tạo ra công việc cho khoảng 2.000 công nhân trong quá trình thi công. Một khi hoàn thành, cảng được ước tính sẽ đóng góp 80 triệu USD hàng năm vào ngân sách nhà nước, vì vậy rất cần thiết để đảm bảo cảng có thể hoạt động đầy đủ càng nhanh càng tốt. Tốc độ, do đó, là yếu tố quan trọng trong việc lựa chọn thiết bị cho Portcoast và đào tạo đội ngũ sử dụng thiết bị này.</p>
                                        <p><i>"Không chỉ thời gian đào tạo cho đội ngũ được giảm gần một nửa khi làm việc với đội ngũ Leica Geosystems, mà tốc độ cao của việc thu thập dữ liệu với thiết bị của Leica cũng giảm thiểu đáng kể thời gian khảo sát. Trong một dự án như thế này, khảo sát địa hình của bờ chắn bè thường mất khoảng 12 giờ với một lưới khảo sát 20m mỗi lần thiết lập. Trong khi đó, nó có thể được giảm xuống còn 3 giờ khi sử dụng ScanStation P50. Việc tăng tốc quá trình này cũng giảm thiểu rủi ro hoạt động của chúng tôi và số lượng nhân viên cần thiết cho công việc này"</i> Tiến sĩ Hoàng Hiệp giải thích.</p>
                                        <h5>Tăng cường hợp tác từ công trường và văn phòng phân tích dữ liệu</h5>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder %>/capture-a-5-hectare-coastal-construction-site-in-3d-003.jpg"
                                                alt="<%= news.title_vi %>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <p>Để quét cổng, Portcoast cần phải kết hợp hàng ngàn điểm và kết hợp dữ liệu từ các thiết bị khác nhau, chẳng hạn như các thiết bị toàn đạc, GNSS và máy quét laser - điều này thường rất phức tạp và tốn thời gian. Sự tích hợp mượt mà giữa thiết bị và giải pháp phần mềm của Leica Geosystems có nghĩa là dữ liệu có thể dễ dàng được chuyển giữa đội xử lý dữ liệu ở nơi khác và đội tại hiện trường.</p>
                                        <p>Sau khi làm việc trong các dự án tương tự trên khắp Đông Nam Á, Pakistan và UAE, Portcoast đặc biệt nhận thức được tầm quan trọng của việc truyền dữ liệu nhanh chóng trong các nước nhiệt đới. Điều kiện thời tiết thay đổi nhanh chóng đòi hỏi việc truyền dữ liệu nhanh chóng giữa đội tại hiện trường và văn phòng để xác minh dữ liệu và tránh mất mát dữ liệu. Sau khi thu thập dữ liệu điểm từ thiết bị đo đạc, Portcoast đã sử dụng Leica Cyclone, Leica Cyclone 3DR và Leica Infinity ở nơi khác để xử lý dữ liệu.</p>
                                        <p><i>Tốc độ cao và độ chính xác cao trong việc thu thập dữ liệu tại hiện trường giúp tránh việc chậm trễ trong việc xử lý dữ liệu tại văn phòng vì phần mềm giúp chúng tôi kiểm tra các điểm mỗi khi cần thiết. "Với Infinity và ConX, việc truyền dữ liệu giữa hiện trường và văn phòng dễ dàng trong vòng 1 phút,"</i> chia sẻ từ Tiến sĩ Hoàng Hiệp..</p>
                                        <p><i>“Bản đồ kết quả được tạo ra bởi Cyclone là một mô hình rất chính xác, mà chúng ta có thể sử dụng để tạo ra một mô hình 3D và hệ thống VR. Bằng cách sử dụng Cyclone 3DR, chúng ta có thể tinh chỉnh mô hình để cung cấp mức độ chính xác và khả năng nhìn thấy cao hơn.”</i></p>
                                        <p>Bằng cách thu thập dữ liệu điểm đám mây vào các thời điểm khác nhau và sử dụng Leica CloudWorx cho Revit để chuyển đổi nó thành các bản vẽ thực tế đã được xây dựng, độ chênh lệch (một vấn đề về vài milimét) cho sự ổn định hoặc di chuyển của các giá treo ống có thể được ước tính với độ chính xác tối đa.</p>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder %>/capture-a-5-hectare-coastal-construction-site-in-3d-004.jpg"
                                                alt="<%= news.title_vi %>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <p>Các bản vẽ đã được xây dựng và BIM sẽ hỗ trợ cho khía cạnh Quản lý Cơ sở Vật chất của cảng bằng cách cung cấp tham chiếu cho báo cáo kiểm tra và cho phép Hyosung lên kế hoạch và mô hình hóa các phát triển và cải tạo tương lai cho cảng bằng cách sử dụng mô hình số.</p>
                                        <p>Công việc mà đội ngũ bảy kỹ sư hoàn thành chỉ trong vài tuần sẽ giảm đáng kể số lượt thăm dò cần thiết cho việc bảo trì trong tương lai và có thể được sử dụng để nâng cao và bảo vệ hoạt động của cảng trong nhiều thập kỷ tới.</p>
                                        <p><i>“Khi chúng tôi nhận dự án này, chỉ có một nửa đội có bất kỳ kinh nghiệm nào với thiết bị đo đạc địa chất này. Hiệu suất tăng lên từ tích hợp trên toàn hệ sinh thái sản phẩm của Leica Geosystems đã tiết kiệm được rất nhiều thời gian, và bây giờ toàn bộ đội ngũ đều háo hức sử dụng thiết bị đo đạc địa chất của Leica Geosystems thường xuyên,”</i> kết luận của Tiến sĩ Hoàng Hiệp.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include(dir+'partials/news.ejs')%>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>