<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title><%=news.title_vi%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= news.description_vi%>" />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi" content="<%=news.title_vi%>" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/vi/tin-tuc/<%= news.url_vi%>" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="<%=news.title_vi%>" />
    <meta property="og:description" content="<%= news.description_vi%>" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/vi/tin-tuc/<%= news.url_vi%>" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="<%=news.title_vi%>" />
    <meta name="twitter:description" content="<%= news.description_vi%>" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/vi/tin-tuc/<%= news.url_vi%>" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            <%=news.tag.split("-")[1]%> |
                                            <%=  [news.day,(news.month<10?`0${news.month}`: news.month),news.year].join("/")%></span>
                                        <h2 class="pcc-heading animate-box">
                                            <%= news.title_vi%>
                                        </h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-001.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <p>In 2016 the construction of Hyosung Vina Chemicals Port began in the Ba Ria-VungTau province, southern Vietnam. A collaboration between the Vietnamese Government and South Korean industrial conglomerate Hyosung Corporation, the new port is a part of the Hyosung Chemical Complex. Once completed, the Hyosung Chemical Complex will include a propane dehydrogenation (PDH) production plant, a polypropylene (PP) plant, a liquefied petroleum gas (LPG) storage tank and an LPG and petrochemical product warehouse in the Cai Mep Industrial Zone in Ba Ria - Vung Tau, located near Ho Chi Minh City.</p>
                                        <p>To mitigate the challenges of working in this disruptive, heavy traffic environment, Portcoast decided to conduct the scans from elevated locations above the internal road.</p>
                                        <p>Dr. Hoang Hiep of Portcoast explained, <i>“Working from high above the site required a scanner which could deliver a high level of precision over a long measurable range. The Leica ScanStation P50 delivered an accuracy of up to 3mm so we could cover the full range with confidence and precision.”</i></p>
                                        <p>Whilst the ScanStation P50 was used to capture the data on top of the bridge, under the bridge the team used specially modified equipment, such as customised cranes to install the Leica RTC360 and Leica BLK360 to measure and capture highly-detailed data in the complex, narrow and inaccessible areas, such as the liquid tanks, the pipeline systems, access bridge and the marine loading arm.</p>
                                        <p></p>

                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-002.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-003.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-004.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-005.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-006.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-007.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-008.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/capture-a-5-hectare-coastal-construction-site-in-3d-009.jpg"
                                                alt="<%=news.title_vi%>" class="img-fluid">
                                            <figcaption></figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include(dir+'partials/news.ejs')%>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>