<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="vi" />
    <title>Tập đoàn Đèo Cả đẩy mạnh áp dụng công nghệ số trong quản trị dự án giao thông</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Tập đoàn Đèo Cả sẽ hợp tác với các đơn vị tư vấn hàng đầu trong nước để đẩy mạnh ứng dụng công nghệ số trong khảo sát, thiết kế và quản lý dự án hạ tầng giao thông." />
    <meta name="keywords" content="Dịch vụ BIM, Scan to BIM, Khảo sát 3D Laser, Số hóa công trình xây dựng" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="vi"
        content="Tập đoàn Đèo Cả đẩy mạnh áp dụng công nghệ số trong quản trị dự án giao thông" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Tp. Hồ Chí Minh, Việt Nam" />
    <meta name="DC.identifier"
        content="https://portcoast-bim.com/vi/tin-tuc/tap-doan-deo-ca-day-manh-ap-dung-cong-nghe-so-trong-quan-tri-du-an-giao-thong" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Tập đoàn Đèo Cả đẩy mạnh áp dụng công nghệ số trong quản trị dự án giao thông" />
    <meta property="og:description"
        content="Tập đoàn Đèo Cả sẽ hợp tác với các đơn vị tư vấn hàng đầu trong nước để đẩy mạnh ứng dụng công nghệ số trong khảo sát, thiết kế và quản lý dự án hạ tầng giao thông." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url"
        content="https://portcoast-bim.com/vi/tin-tuc/tap-doan-deo-ca-day-manh-ap-dung-cong-nghe-so-trong-quan-tri-du-an-giao-thong" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Tập đoàn Đèo Cả đẩy mạnh áp dụng công nghệ số trong quản trị dự án giao thông" />
    <meta name="twitter:description"
        content="Tập đoàn Đèo Cả sẽ hợp tác với các đơn vị tư vấn hàng đầu trong nước để đẩy mạnh ứng dụng công nghệ số trong khảo sát, thiết kế và quản lý dự án hạ tầng giao thông." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/news/<%= news.folder%>/cover.jpg" />
    <meta name="twitter:url"
        content="https://portcoast-bim.com/vi/tin-tuc/tap-doan-deo-ca-day-manh-ap-dung-cong-nghe-so-trong-quan-tri-du-an-giao-thong" />
    <%- include (dir+'partials/css.ejs')%>
</head>

<body>
    <div id="pcc-page">

        <%- include (dir+'partials/nav.ejs')%>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">
                                    Tin tức | 16/12/2022 | baodautu.vn</span>
                                <h2 class="pcc-heading animate-box">Tập đoàn Đèo Cả đẩy mạnh áp dụng công nghệ số trong
                                    quản trị dự án giao thông</h2>
                            </div>
                        </div>
                        <div class="row row-bottom-padded-md">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                <p><strong>Tập đoàn Đèo Cả sẽ hợp tác với các đơn vị tư vấn hàng đầu trong nước để đẩy
                                        mạnh
                                        ứng dụng công nghệ số trong khảo sát, thiết kế và quản lý dự án hạ tầng giao
                                        thông.</strong></p>
                                <figure>
                                    <img src="/public/images/news/<%= news.folder%>/20221216-deo-ca-group-promotes-the-application-of-digital-technology-in-traffic-project-management-001.jpg"
                                        alt="Portcoast DT trình bày tại hội thảo 'Chuyển đổi số - Nền tảng xây dựng thành phố thông minh'"
                                        class="img-fluid">
                                    <figcaption>Quang cảnh buổi ký thỏa thuận hợp tác</figcaption>
                                </figure>
                                <p>Ngày 15/12, tại Hà Nội, Tập đoàn Đèo Cả đã ký thỏa thuận hợp tác với Liên danh Công
                                    ty cổ
                                    phần Tư vấn xây dựng A2Z (A2Z) - Công ty cổ phần Tư vấn thiết kế cảng - kỹ thuật
                                    biển
                                    (PORTCOAST) về việc ứng dụng công nghệ số trong khảo sát, thiết kế và quản lý dự án
                                    hạ
                                    tầng giao thông.</p>
                                <p>Cụ thể, hai đơn vị tư vấn nói trên sẽ hợp tác, hỗ trợ Tập đoàn Đèo Cả ứng dụng công
                                    nghệ
                                    số nâng cao quản trị dự án thông qua việc sử dụng các thiết bị LiDAR hoặc 3D-LASER
                                    SCANNING, kết hợp mô hình BIM trên điện toán đám mây.</p>
                                <p>Theo ông Hồ Minh Hoàng, Chủ tịch HĐQT Tập đoàn Đèo Cả, đúc kết từ các sai sót của các
                                    dự
                                    án hạ tầng trong thời gian qua, đơn vị nhận thấy nhiều đánh giá nhận định về công
                                    tác
                                    triển khai công trình chưa thật sự khách quan. Doanh nghiệp thi công trong ngành
                                    GTVT
                                    hiện nay đang đối mặt với nhiều thách thức đặt ra khi phải làm nhanh để phục vụ
                                    người
                                    dân nhưng chất lượng hồ sơ khảo sát, thiết kế và lập dự toán còn nhiều sai sót.</p>
                                <p>“Chính vì vậy, việc kiểm soát thông qua thiết bị hiện đại, số hóa quá trình quản lý
                                    và
                                    tiếp cận thông tin nhanh chóng để quyết định chính xác là cần thiết”, ông Hoàng nhấn
                                    mạnh.</p>
                                <p>Lãnh đạo Tập đoàn Đèo Cả cho rằng, việc Bộ GTVT đã lựa chọn nhà thầu thực hiện Dự án
                                    cao
                                    tốc Bắc - Nam giai đoạn 2 theo hình thức chỉ định thầu sẽ giảm được thủ tục về hành
                                    chính cũng như việc giảm giá 5% sẽ có lợi ích cho Nhà nước; nhưng điều này cũng gây
                                    bất
                                    lợi cho nhà thầu. Đặc biệt là khi thông điệp của chủ đầu tư đưa ra là sẽ tính đúng,
                                    tính
                                    đủ nhưng lại yêu cầu nhà thầu đứng đầu phải chịu trách nhiệm quản lý dự án để đảm
                                    bảo
                                    chất lượng, tiến độ thi công khi đã cam kết.</p>
                                <p>Với bài toán đặt ra để hoàn thành cao tốc như trên là rất khó, yêu cầu lời giải phải
                                    tối
                                    ưu. Với dữ liệu đầu vào của bài toán cao tốc giai đoạn 2 là giá trị gói thầu chỉ còn
                                    95%
                                    (giảm giá 5% theo quy định); vật tư, vật liệu, định mức nhân công rất thấp và biến
                                    động
                                    giá diễn ra hàng ngày; yêu cầu phải hoàn thành công trình đường, cầu trong 28 tháng,
                                    công trình hầm trong 34 tháng dưới sự giám sát trực tiếp là các cơ quan của Bộ GTVT;
                                    Hội
                                    đồng kiểm tra Nhà nước; Thanh tra; Kiểm toán Nhà nước…</p>
                                <p>Đây là lý do mà người đứng đầu tập đoàn Đèo Cả yêu cầu Liên danh Tư vấn A2Z và
                                    PORTCOAST
                                    phải chứng minh tính thực tiễn khi ứng dụng công nghệ số hay sử dụng các thiết bị
                                    bay
                                    chụp LiDAR hoặc 3D-LASER SCANNING, kết hợp mô hình BIM trên điện toán đám mây để
                                    kiểm
                                    soát địa hình, khối lượng, hiện trạng dự án kể cả công tác GPMB hay xác định mỏ vật
                                    liệu, bải thải làm cơ sở để đề xuất dự án và ký kết hợp đồng; quản lý chất lượng,
                                    tiến
                                    độ trong giai đoạn thi dự án thông qua việc số hóa kết cấu công trình; vật tư, thiết
                                    bị,
                                    máy móc trên công trường xác định chính xác khối lượng đào đắp, kích thước hình học
                                    của
                                    kết cầu đường.</p>
                                <p>Bên cạnh đó, ứng dụng này còn phục vụ công tác hậu kiểm của Tập đoàn Đèo Cả như kiểm
                                    soát
                                    chuyển vị của công trình, hoàn công, kiểm toán, quyết toán, cơ sở để làm giai trình
                                    thanh, kiểm tra và tranh chấp khiếu kiện khi các dự liệu đã được tích hợp từ đám mây
                                    ngay từ đầu.</p>
                                <p>“Với vai trò là nhà đầu tư cho các dự án PPP sắp tới, khi Tập đoàn Đèo Cả sẽ triển
                                    khai
                                    như cao tốc Đồng Đăng - Trà Lĩnh, Hữu Nghị - Chi Lăng, Tân Phú - Bảo Lộc… và đặc
                                    biệt là
                                    các dự án theo hình thức hợp đồng BTL tại Điện Biên, Quảng Bình; chúng tôi sẽ ứng
                                    dụng
                                    công nghệ số trong toàn bộ các khâu để kiểm soát khối lượng, tổng mức đầu tư, tối ưu
                                    hóa
                                    kịch bản tài chính”, lãnh đạo Tập đoàn Đèo Cả thông tin.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include (dir+'partials/js.ejs')%>
</body>

</html>