<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>GIS &amp; BIM Integration | Portcoast Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="By providing a real-world context of an asset’s existing environment within which designers and engineers can explore and evaluate design and construction – GIS informs BIM." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/bim-and-gis.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="GIS &amp; BIM Integration | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="GIS &amp; BIM Integration | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="By providing a real-world context of an asset’s existing environment within which designers and engineers can explore and evaluate design and construction – GIS informs BIM." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/bim-and-gis.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="GIS &amp; BIM Integration | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="By providing a real-world context of an asset’s existing environment within which designers and engineers can explore and evaluate design and construction – GIS informs BIM." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/bim-and-gis.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Comprehensive Solutions</span>
                                        <h2 class="pcc-heading animate-box">GIS &amp; BIM Integration</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class=" animate-box" data-animate-effect="fadeInLeft">
                                        <img class="img-fluid mb-5" src="/public/images/solutions/bim-and-gis.jpg">
                                        <h5>What is GIS?</h5>
                                        <p>Geographic Information Systems (GIS) is a 2D & 3D representation system of
                                            geospatial shapes.</p>
                                        <p>It provides information on natural and man-made environmental assets and
                                            other important factors considering geography, socio-economics and
                                            environment. It is a system for collecting, generating, integrating,
                                            managing, analyzing and visualizing spatial data using maps. It helps users
                                            understand patterns, spatial relationships, and geographic context.
                                            Ultimately, it helps make effective decisions about facility management,
                                            operations, and maintenance of those assets.
                                        </p>
                                    </div>
                                    <div class="animate-box" data-animate-effect="fadeInLeft">
                                        <h5>What is BIM?</h5>
                                        <p>Building Information Modeling (BIM) is the holistic process of creating and
                                            managing information for a built asset. Based on an intelligent model and
                                            enabled by a cloud platform, BIM integrates structured, multi-disciplinary
                                            data to produce a digital representation of an asset across its lifecycle,
                                            from planning and design to construction and operations.
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div>
                                        <h5>The connection between GIS and BIM</h5>
                                        <img class="img-fluid mb-3" src="/public/images/solutions/bim-and-gis/bim-gis.jpg">
                                        <p>By providing a real-world context
                                            of an asset’s existing environment
                                            within which designers and engineers
                                            can explore and evaluate design and
                                            construction – GIS informs BIM. Then,
                                            rich, more accurate models can be
                                            utilized to improve the overall operations
                                            and maintenance of assets within a
                                            larger area – in this way, BIM fuels GIS.</p>
                                        <p>The fusion of BIM and GIS provides
                                            the power to build a robust
                                            context model where geographic
                                            information and infrastructure
                                            design data are brought together,
                                            helping to better understand how
                                            assets interact within the context
                                            of a real place and geography.
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <h5>Application of the combination of GIS and BIM</h5>
                                        <p>The developed BIM & GIS model includes all information about the utility
                                            infrastructure used in the planning, design, construction and operation
                                            phases. BIM-GIS integration application is as follows:</p>

                                        <ul class="pcc-list">
                                            <li><strong>Visualization:</strong><br>The BIM & GIS platform provides
                                                geometric 3D images of each component containing geometrical and
                                                semantic information. Visualization facilitates project planning and
                                                execution. The visualization of the topography, detailed topography,
                                                surrounding facilities, and ground and underground infrastructure can be
                                                performed in a GIS environment.</li>
                                            <li><strong>Facility management:</strong><br>Operation and maintenance work
                                                is required due to utility failures or on a regular schedule. The BIM &
                                                GIS integrated model makes information available to us about utilities
                                                that operations and maintenance teams can use to determine location,
                                                type, and material. Information is readily available about the utility,
                                                making the system efficient, reducing time delays and cost overruns.
                                            </li>
                                            <li><strong>Conflict detection:</strong><br>Renovation and repair activities
                                                are common in operation stages. Traditionally, utility information was
                                                not available or readily available in 2D CAD drawings. It is difficult
                                                to extract accurate utility information from 2D drawings causing
                                                potential conflicts between utilities. In this BIM-GIS integration
                                                platform, many BIM tools like Civil 3D, Navisworks and GIS tools like
                                                ArcGIS provide 3D utility model conflict detection. 3D models help
                                                provide information that will help take further actions.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <h5>Benefits of integrating GIS and BIM</h5>
                                        <ul class="pcc-list">
                                            <li>Advanced geospatial context information in great detail</li>
                                            <li>Improved workflows, which reduce data reuse for all stakeholders</li>
                                            <li>Make more informed decisions to accelerate project delivery and improve
                                                operations and maintenance of completed assets.</li>
                                            <li>Approve architects and engineers to design smarter, more efficient
                                                buildings and infrastructure</li>
                                            <li>Collect and analyze data from the field and improve communication with
                                                key stakeholders</li>
                                            <li>Connecting existing records systems to create a linked source of
                                                credentials helps to reduce costly errors and delays associated with
                                                critical design decisions</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include(dir+'partials/solutions.ejs') %>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include(dir+'partials/js.ejs') %>
    <script>
        fetch('/api/project', {
                method: "GET",
            }).then(response => response.json())
            .then(data => {
                for (let item of data) {
                    document.getElementById("project").innerHTML += ` <div class="d-flex rounded overflow-hidden mb-3">
    <img class="img-fluid" src="/public/images/projects/${item.folder}/cover.jpg"
        style="width: 100px; height: 100px; object-fit: cover;" alt="">
    <a href="/en/projects/${item.url_en}" class="d-flex align-items-center px-3 mb-0">${item.title_en}
    </a>
</div>`
                }
            })
    </script>
</body>

</html>