<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>GIS &amp; BIM Integration | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="By providing a real-world context of an asset’s existing environment within which designers and engineers can explore and evaluate design and construction – GIS informs BIM." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/bim-and-gis.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="GIS &amp; BIM Integration | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="GIS &amp; BIM Integration | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="By providing a real-world context of an asset’s existing environment within which designers and engineers can explore and evaluate design and construction – GIS informs BIM." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/bim-and-gis.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="GIS &amp; BIM Integration | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="By providing a real-world context of an asset’s existing environment within which designers and engineers can explore and evaluate design and construction – GIS informs BIM." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/bim-and-gis.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/solutions/surveying" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Comprehensive Solutions</span>
                                        <h2 class="pcc-heading animate-box">GIS &amp; BIM Integration</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class=" animate-box" data-animate-effect="fadeInLeft">
                                        <h4>What is GIS?</h4>
                                        <p>Geographic Information Systems (GIS) is a 2D & 3D representation system of
                                            geospatial shapes.</p>
                                        <p>It provides information on natural and man-made environmental assets and
                                            other important factors considering geography, socio-economics and
                                            environment. It is a system for collecting, generating, integrating,
                                            managing, analyzing and visualizing spatial data using maps. It helps users
                                            understand patterns, spatial relationships, and geographic context.
                                            Ultimately, it helps make effective decisions about facility management,
                                            operations, and maintenance of those assets.
                                        </p>
                                    </div>
                                    <div class="animate-box" data-animate-effect="fadeInLeft">
                                        <h4>What is BIM?</h4>
                                        <p>Building Information Modeling (BIM) is the holistic process of creating and
                                            managing information for a built asset. Based on an intelligent model and
                                            enabled by a cloud platform, BIM integrates structured, multi-disciplinary
                                            data to produce a digital representation of an asset across its lifecycle,
                                            from planning and design to construction and operations.
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                        <h4>The connection between GIS and BIM</h4>
                                        <p>By providing a real-world context
                                            of an asset’s existing environment
                                            within which designers and engineers
                                            can explore and evaluate design and
                                            construction – GIS informs BIM. Then,
                                            rich, more accurate models can be
                                            utilized to improve the overall operations
                                            and maintenance of assets within a
                                            larger area – in this way, BIM fuels GIS.</p>
                                        <p>The fusion of BIM and GIS provides
                                            the power to build a robust
                                            context model where geographic
                                            information and infrastructure
                                            design data are brought together,
                                            helping to better understand how
                                            assets interact within the context
                                            of a real place and geography.
                                        </p>
                                    </div>
                                    <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                        <img width="100%" src="/public/images/solutions/bim-and-gis/bim-gis.jpg">
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <h4>Application of the combination of GIS and BIM</h4>
                                        <p>The developed BIM & GIS model includes all information about the utility
                                            infrastructure used in the planning, design, construction and operation
                                            phases. BIM-GIS integration application is as follows:</p>

                                        <ul class="pcc-list">
                                            <li><strong>Visualization:</strong><br>The BIM & GIS platform provides
                                                geometric 3D images of each component containing geometrical and
                                                semantic information. Visualization facilitates project planning and
                                                execution. The visualization of the topography, detailed topography,
                                                surrounding facilities, and ground and underground infrastructure can be
                                                performed in a GIS environment.</li>
                                            <li><strong>Facility management:</strong><br>Operation and maintenance work
                                                is required due to utility failures or on a regular schedule. The BIM &
                                                GIS integrated model makes information available to us about utilities
                                                that operations and maintenance teams can use to determine location,
                                                type, and material. Information is readily available about the utility,
                                                making the system efficient, reducing time delays and cost overruns.
                                            </li>
                                            <li><strong>Conflict detection:</strong><br>Renovation and repair activities
                                                are common in operation stages. Traditionally, utility information was
                                                not available or readily available in 2D CAD drawings. It is difficult
                                                to extract accurate utility information from 2D drawings causing
                                                potential conflicts between utilities. In this BIM-GIS integration
                                                platform, many BIM tools like Civil 3D, Navisworks and GIS tools like
                                                ArcGIS provide 3D utility model conflict detection. 3D models help
                                                provide information that will help take further actions.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <h4>Benefits of integrating GIS and BIM</h4>
                                        <ul class="pcc-list">
                                            <li>Advanced geospatial context information in great detail</li>
                                            <li>Improved workflows, which reduce data reuse for all stakeholders</li>
                                            <li>Make more informed decisions to accelerate project delivery and improve
                                                operations and maintenance of completed assets.</li>
                                            <li>Approve architects and engineers to design smarter, more efficient
                                                buildings and infrastructure</li>
                                            <li>Collect and analyze data from the field and improve communication with
                                                key stakeholders</li>
                                            <li>Connecting existing records systems to create a linked source of
                                                credentials helps to reduce costly errors and delays associated with
                                                critical design decisions</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include(dir+'partials/solutions.ejs') %>
                    </div>
                </div>
            </section>
            <!-- Section-Equipment -->
            <section class="pcc-equipment">
                <div class="container">
                    <div class="pcc-narrow-content">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Technology</span>
                                <h2 class="pcc-heading">Our state-of-the-art equipment</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-testimonials owl-carousel animate-box"
                                    data-animate-effect="fadeInRight">
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                    target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                        alt="Trimble MX50 Mobile Mapping System"></a>
                                            </div>
                                            <h3>Trimble MX50 Mobile Mapping System</h3>
                                            <p>The Trimble MX50's is a practical field to finish moblie mapping solution
                                                for
                                                asset management, mapping, road maintenance. Mobile mapping system
                                                combining
                                                precise LiDAR data and immersive panoramic imagery at highway speed..
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                    target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                        alt="Polaris TLS"></a>
                                            </div>
                                            <h3>Polaris Terrestrial Laser Scanner (TLS)</h3>
                                            <p>With an integrated high-resolution camera, inclinometers, compass, GPS
                                                receiver, and weather-proof housing, the Polaris can be deployed in many
                                                environments and orientations.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/stormbee.jpg" alt="">
                                            </div>
                                            <h3>Stormbee UAV S-20</h3>
                                            <p>STORMBEE is a user-friendly Unmanned Aerial Vehicle (UAV) custom designed
                                                for
                                                lasers canning with a FARO Focus laser scanner.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/matrice-300-rtk.jpg" alt="">
                                            </div>
                                            <h3>Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                            <p>This is one of the most advanced drones. Equipping sensors in multiple
                                                directions gives the Matrice 300RTK outstanding safety. The Matrice
                                                300RTK -
                                                Zenmuse L1 system is capable of capturing image and point cloud data,
                                                based
                                                on 3 times response signal from the Lidar and penetrating through the
                                                foliage…</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/share-uav-psdk-102s-v3.jpg" alt="">
                                            </div>
                                            <h3>Matrice 300 RTK + Share PSDK 102S V3</h3>
                                            <p>PPSDK 102S V3, the 5-lens oblique camera with 3-Axis Stabilized Gimbal,
                                                is a
                                                highly integrated surveying camera specialized in aerial photogrammetry.
                                                Full-on efficiency booster brings unprecedented operating experience.
                                                The
                                                adjustable parameter allows camera applicated in various scenarios. Also
                                                widely compatible with open-source payloads.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                        src="/public/images/home/otter-pro.jpg"
                                                        alt="Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR"></a>
                                            </div>
                                            <h3>Otter Pro USV + Norbit iWBMS Multibeam Sonar & iLiDAR</h3>
                                            <p>The OTTER Pro had integrated system between a Norbit's iWBMS Multibeam
                                                and a
                                                NORBIT's iLiDAR Laser Sensor to recorded underwater data and both sides.
                                                This system is an efficient solution (reduce cost and schedule) for
                                                surveying in shallow water areas such as lakes, canals, rivers, ponds
                                                and
                                                harbour areas.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a
                                                    href="https://geospatial.trimble.com/products-and-solutions/trimble-sx12"><img
                                                        src="/public/images/home/trimble-sx12.jpg" alt=""></a>
                                            </div>
                                            <h3>Trimble SX12 Scanning Total Station</h3>
                                            <p>Trimble SX12 Scanning Total Station working harder has never been easier.
                                                It
                                                combines innovative technology with simple and intuitive functionality
                                                to
                                                help you save time, maximize efficiency and get more done in the field.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/leica-p50.jpg" alt="">
                                            </div>
                                            <h3>Leica Scanstation P50</h3>
                                            <p>For industry professionals looking to scan inaccessible places and find
                                                new
                                                business opportunities, Leica ScanStation P50 is the fastest and safest,
                                                long range 3D laser scanner. Unlike any other laser scanner, the P50
                                                solution maximises productivity by scanning inaccessible places at a
                                                safe
                                                position on site, reducing time in the field with less setups.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/leica-rtc360.jpg" alt="">
                                            </div>
                                            <h3>Leica RTC360 3D Laser Scanner</h3>
                                            <p>The Leica RTC360 3D reality capture solution empowers users to document
                                                and
                                                capture their environments in 3D, improving efficiency and productivity
                                                in
                                                the field and in the office through fast, simple-to-use, accurate, and
                                                portable hardware and software.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <a href="https://leica-geosystems.com/products/construction-tps-and-gnss/robotic-total-stations/leica-icon-icr-80"
                                                    target="_blank"><img src="/public/images/home/leica-icr80.jpg"
                                                        alt="Leica iCON iCR80 Robotic Total Statio"></a>
                                            </div>
                                            <h3>Leica iCON iCR80 Robotic Total Station</h3>
                                            <p>The Leica iCON iCR80 construction total station keeps its ‘eye’ on only
                                                one
                                                thing: the user’s target. Layout more points per day thanks to ATRplus,
                                                the
                                                most robust automated-aiming, lock and re-lock technology in the market.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/leica-ts60.jpg" alt="">
                                            </div>
                                            <h3>Leica Nova TS60 Total Station</h3>
                                            <p>The new Leica Nova TS60 total station is the world’s most accurate total
                                                station, designed to tackle your most demanding projects.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/topcon-gls-2200.jpg" alt="">
                                            </div>
                                            <h3>Topcon GLS-2200</h3>
                                            <p>Quickly tackle any job with the latest in scanning and workflow
                                                technology.
                                                The GLS-2200 features a unique survey style setup and user-friendly
                                                processing software that turn lengthy scanning processes into fast and
                                                easy
                                                workflows</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/faro-s350a.jpg" alt="">
                                            </div>
                                            <h3>FARO Focus S350-A 3D Laser Scanning</h3>
                                            <p>The FARO Focus S350-A is specially designed for outdoor applications due
                                                to
                                                its small size, extra light weight and extended scanning range. The
                                                Focus
                                                S350-A provides scanning results even in challenging environments,
                                                narrow
                                                job-sites, dusty or humid areas, in rain or direct sunlight
                                                applications.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/matterport.jpg" alt="">
                                            </div>
                                            <h3>MatterPort Pro 2</h3>
                                            <p>Matterport is the standard for 3D space capture. Our all-in-one platform
                                                transforms real-life spaces into immersive digital twin models.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="equipment-item pcc-text">
                                            <div class="icon">
                                                <img src="/public/images/home/unitree-go1.jpg"
                                                    alt="Unitree Go1 Plus & Leica BLK 360">
                                            </div>
                                            <h3>Unitree Go1 Plus &amp; Leica BLK 360</h3>
                                            <p>Unitree Go 1 is a quadrupedal mobile robot offering lots of development
                                                possibilities. It’s aimed in particular at higher education and
                                                professionals, for developing applications in fields ranging from
                                                service
                                                robotics to autonomous surveillance.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include(dir+'partials/js.ejs') %>
    <script>
        fetch('/api/project', {
                method: "GET",
            }).then(response => response.json())
            .then(data => {
                for (let item of data) {
                    document.getElementById("project").innerHTML += ` <div class="d-flex rounded overflow-hidden mb-3">
    <img class="img-fluid" src="/public/images/projects/${item.folder}/cover.jpg"
        style="width: 100px; height: 100px; object-fit: cover;" alt="">
    <a href="/en/projects/${item.url_en}" class="d-flex align-items-center px-3 mb-0">${item.title_en}
    </a>
</div>`
                }
            })
    </script>
</body>

</html>