<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Mobile Mapping | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Mobile Mapping is the process of collecting geospatial data using mapping sensors mounted on moving platforms such as cars, marine vessels or airplanes." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/mobile-mapping/mobile-mapping.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Mobile Mapping | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/solutions/mobile-mapping" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Mobile Mapping | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="Mobile Mapping is the process of collecting geospatial data using mapping sensors mounted on moving platforms such as cars, marine vessels or airplanes." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/mobile-mapping/mobile-mapping.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/solutions/mobile-mapping" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Mobile Mapping | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="Mobile Mapping is the process of collecting geospatial data using mapping sensors mounted on moving platforms such as cars, marine vessels or airplanes." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/mobile-mapping/mobile-mapping.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/solutions/mobile-mapping" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>
<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-solution">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Comprehensive Solutions</span>
                            <h2 class="pcc-heading animate-box">Mobile Mapping</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Mobile Mapping is the process of collecting geospatial data using mapping sensors mounted on moving platforms such as cars, marine vessels or airplanes.</p>
                            <p>The mobile mapping system uses GNSS technology in combination with the Inertial Positioning System (IMU) to enable quick and accurate calculation of 3D position, velocity and continuous state. It is important that all GNSS/IMU position data are time-synchronized with the sensors to enable accurate and direct mapping of landscapes and objects. The advantage of the latest mobile mapping technology solution allows us to provide our customers with a cost effective way to conduct large scale surveys in a short amount of time.</p>
                            <p>Infrastructure Digital Transformation Center  has experience in performing mobile mapping surveys to collect 3Dpoint cloud, 360° photography, high definition video and thermal imagery for the route corridor.</p>
                            <h4>Applications for Mobile Mapping:</h4>
                            <ul class="pcc-list">
                                <li>Roads, Highways, Railway Systems and Waterways infrastructure management</li>
                                <li>Topographic surveys for large road projects
                                </li>
                                <li>3D digital database, serving smart city construction – Smart City
                                </li>
                                <li>Airport runway & Taxiway surveys
                                </li>
                                <li>Mapping quarries, tunnels
                                </li>
                                <li>Topographical Surveys
                                </li>
                                <li>GIS
                                </li>
                            </ul>
                            <p>Time-saving solution - Mobile mapping vehicles can collect data at speeds up to 50 mph, cover considerable distances, and collect large amounts of data very quickly without encountering trouble.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="video-container animate-box" data-animate-effect="fadeInRight">
                                <iframe src="https://www.youtube.com/embed/qxXKzquF01U" title="Mobile Mapping System"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="video-container animate-box" data-animate-effect="fadeInRight">
                                <iframe src="https://www.youtube.com/embed/iZHUCAvf2_s" title="Mobile Mapping System"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section-Equipment -->
            <section class="pcc-equipment">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Technology</span>
                            <h2 class="pcc-heading">Our state-of-the-art equipment</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://geospatial.trimble.com/products-and-solutions/trimble-mx50"
                                                target="_blank"><img src="/public/images/home/trimble-mx50.jpg"
                                                    alt="Trimble MX50 Mobile Mapping System"></a>
                                        </div>
                                        <h3>Trimble MX50 Mobile Mapping System</h3>
                                        <p>The Trimble MX50's is a practical field to finish moblie mapping solution for
                                            asset management, mapping, road maintenance. Mobile mapping system combining
                                            precise LiDAR data and immersive panoramic imagery at highway speed..</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.teledyneoptech.com/en/products/static-3d-survey/polaris/"
                                                target="_blank"><img src="/public/images/home/polaris-tls.jpg"
                                                    alt="Polaris TLS"></a>
                                        </div>
                                        <h3>Polaris Terrestrial Laser Scanner (TLS)</h3>
                                        <p>With an integrated high-resolution camera, inclinometers, compass, GPS
                                            receiver, and weather-proof housing, the Polaris can be deployed in many
                                            environments and orientations.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/brands.ejs')%>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include(dir+'partials/js.ejs') %>

</body>

</html>