<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Topographical Survey UAV/Drone | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="We provide products from Scan to BIM solution: 3D Laser Survey; BIM Model; 3D Mesh Model; 3D Simulation; GIS Services; Virtual tour website;..." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Topographical Survey UAV/Drone | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/solutions/topographical-survey" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Topographical Survey UAV/Drone | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="We provide products from Scan to BIM solution: 3D Laser Survey; BIM Model; 3D Mesh Model; 3D Simulation; GIS Services; Virtual tour website;..." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/solutions/topographical-survey" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Topographical Survey UAV/Drone | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="We provide products from Scan to BIM solution: 3D Laser Survey; BIM Model; 3D Mesh Model; 3D Simulation; GIS Services; Virtual tour website;..." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/solutions/uav-survey/rtk300.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/solutions/topographical-survey" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
     
        <%- include(dir+'partials/nav.ejs') %>
              <div id="pcc-main">
         <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-solution">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Comprehensive Solutions</span>
                            <h2 class="pcc-heading animate-box">Topographical Survey UAV/Drone</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Infrastructure Digital Transformation Center  specializes in providing surveying services to collect topographic data by UAV/Drone unmanned aerial vehicle. With LiDAR technology on the drone has simplified the whole surveying process, safer and cost-effective.</p>
                            <p>We apply this solution for topographical survey of land, buildings, construction sites, quarries, mines and highways, etc.
                            </p>
                            <h4>Applications of UAV/Drone surveying:</h4>
                            <ul class="pcc-list">
                                <li>Land surveying
                                </li>
                                <li>Urban planning
                                </li>
                                <li>Precise measurements
                                </li>
                                <li>Land management and development
                                </li>
                                <li>Volumetric measurements
                                </li>
                                <li>Slope monitoring
                                </li>
                            </ul>
                            <h4>Benefits of UAV/Drone surveying:</h4>
                             <ul class="pcc-list">
                                 <li>Drones can collect high-precision data much faster than traditional survey methods
                                 </li>
                                 <li>Data acquisition and processing by powerful software deliver the required output quickly. Our survey results can be sent to customers as soon as possible
                                 </li>
                                 <li>The use of drones avoids the need for human access to hazardous, hard-to-reach terrain and environments without disrupting field operations
                                 </li>
                                 <li>Digital data also allows easy data storage, retrieval and comparison in the Internet environment
                                 </li>
                                 <li>Cloud-based data processing and analysis tools further benefit your team by enabling engineers, project managers, site managers, and subcontractors to perform measure and perform calculations on survey data using just a simple PC, laptop or even tablet computer, reasonable Internet data connection
                                 </li>
                             </ul>
                            <h4>Deliverables:</h4>
                            <ul class="pcc-list">
                                <li>Digital Elevation Model
                                </li>
                                <li>Model 3D Mesh
                                </li>
                                <li>Model 3D Point cloud
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="video-container">
                                <iframe src="https://www.youtube.com/embed/Pj531Q5zKx4" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <!-- Section-Equipment -->
            <section class="pcc-equipment">
                <div class="container">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Technology</span>
                            <h2 class="pcc-heading">Our state-of-the-art equipment</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-testimonials owl-carousel animate-box" data-animate-effect="fadeInRight">
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/stormbee.jpg" alt="">
                                        </div>
                                        <h3>Stormbee UAV S-20</h3>
                                        <p>STORMBEE is a user-friendly Unmanned Aerial Vehicle (UAV) custom designed for
                                            lasers canning with a FARO Focus laser scanner.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/matrice-300-rtk.jpg" alt="">
                                        </div>
                                        <h3>Matrice 300 RTK + Zenmuse L1 + Zenmuse P1</h3>
                                        <p>This is one of the most advanced drones. Equipping sensors in multiple
                                            directions gives the Matrice 300RTK outstanding safety. The Matrice 300RTK -
                                            Zenmuse L1 system is capable of capturing image and point cloud data, based
                                            on 3 times response signal from the Lidar and penetrating through the
                                            foliage…</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <img src="/public/images/home/share-uav-psdk-102s-v3.jpg" alt="">
                                        </div>
                                        <h3>Matrice 300 RTK + Share PSDK 102S V3</h3>
                                        <p>PPSDK 102S V3, the 5-lens oblique camera with 3-Axis Stabilized Gimbal, is a
                                            highly integrated surveying camera specialized in aerial photogrammetry.
                                            Full-on efficiency booster brings unprecedented operating experience. The
                                            adjustable parameter allows camera applicated in various scenarios. Also
                                            widely compatible with open-source payloads.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/dji-matrice-30t.jpg"
                                                    alt="DJI Matrice 30T"></a>
                                        </div>
                                        <h3>DJI Matrice 30T
                                        </h3>
                                        <p>Professional drones are used for monitoring, geographic analysis, object detection and identification, etc. They feature multi-layer sensor systems, super-natural cameras, GPS positioning systems, remote control capabilities, and connectivity with mobile devices.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="equipment-item pcc-text">
                                        <div class="icon">
                                            <a href="https://www.maritimerobotics.com/otter" target="_blank"><img
                                                    src="/public/images/home/phantom-4-rtk.jpg"
                                                    alt="DJI Phantom 4 RTK"></a>
                                        </div>
                                        <h3>DJI Phantom 4 RTK
                                        </h3>
                                        <p>Phantom 4 RTK is an unmanned aerial vehicle with built-in topographic surveying capabilities, 2-frequency GPS receiver, combined with a base station… It is highly effective in tasks: flying and capturing topographic maps. main, topographic map flight, electric route capture flight, or real-time RTK dynamic measurement, PPK GPS post-processing dynamic measurement…</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <%- include (dir+'partials/brands.ejs')%>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>

    <%- include(dir+'partials/js.ejs') %>

</body>

</html>