<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>Saigon Opera House - Portcoast Digital Transformation Center | BIM & GIS Services | Scan to BIM & 3D Laser Scanning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="Saigon Opera House - Portcoast Digital Transformation Center | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/projects/sai-gon-opera-house />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="Saigon Opera House - Portcoast Digital Transformation Center | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta property="og:description"
        content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/projects/sai-gon-opera-house />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="Saigon Opera House - Portcoast Digital Transformation Center | BIM & GIS Services | Scan to BIM & 3D Laser Scanning" />
    <meta name="twitter:description"
        content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/projects/saigon-opera-house/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/projects/sai-gon-opera-house />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">
        <a href="#" class="js-pcc-nav-toggle pcc-nav-toggle"><i></i></a>
        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <section class="pcc-services">
                <div class="pcc-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
                            data-animate-effect="fadeInLeft">
                            <span class="heading-meta">
                                Projects</span>
                            <h2 class="pcc-heading animate-box">Saigon Opera House</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <ul class="pcc-list">
                                <li><strong>Location:</strong> Ho Chi Minh City, Vietnam</li>    
                            </ul>
                           <p>Ho Chi Minh City Theater (often referred to as the City Theater or Opera House for short) was built in 1898 by French architect Eugene Ferret in the flashy architecture of the Third French Republic. . The theater was built two meters above the road surface, with a two-layer soundproof door system to prevent street noise from entering. Built with a symmetrical structure, the theater is located right on the central axis of the city, connecting the metro station, and from here one can see straight out the roundabout of Ben Thanh market. The dome with its characteristic floating sculpture makes the theater look like a splendid ‘Arc de Triomphe’. Theater architecture attracts from delicate carvings, brilliant crystal chandeliers, to the shiny granite floor of the hall. The resonance-shaped oval auditorium can accommodate 468 guests, ensuring sound quality and visibility from all seats to the stage.</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <img class="img-fluid" src="/public/images/projects/saigon-opera-house/cover.jpg">
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="row gallery-item">
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-opera-house/01.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/01.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/02.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/02.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/03.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/03.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/04.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/04.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-opera-house/05.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/05.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/06.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/06.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/07.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/07.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="/public/images/projects/saigon-opera-house/08.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/08.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/public/images/projects/saigon-opera-house/09.jpg"
                                        alt="Saigon Opera House" data-lightbox="photos"
                                        class="img-gal">
                                        <div class="single-gallery-image"
                                            style="background: url(/public/images/projects/saigon-opera-house/09.jpg);">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/brands.ejs')%>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>