<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title><%=news.title_en%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= news.description_en%>" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/news/<%= news.folder %>/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US" content="<%=news.title_en%>" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/news/<%= news.title_en %>" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="<%= news.title_en %>" />
    <meta property="og:description" content="<%= news.description_en%>" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/news/<%= news.folder %>/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/news/<%= news.title_en %>" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="<%=news.title_en%>" />
    <meta name="twitter:description" content="<%= news.description_en%>" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/news/<%= news.folder %>/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/news/<%= news.title_en %>" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            <%=news.tag.split("-")[0]%> |
                                            <%= [(news.day<10?`0${news.day}`: news.day),(news.month<10?`0${news.month}`: news.month),news.year].join("/")%>
                                            <% if(news.tag === "News-Tin Tức" ){%>
                                            | Source: <a href="<%= news.original_url %>">
                                                <%= new URL(news.original_url).hostname.replace('www.','') %>
                                            </a>
                                            <%}%>
                                        </span>
                                        <h2 class="pcc-heading animate-box"> <%= news.title_en %> </h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                        <p>In the recent past, besides actively coordinating with ship owners, port
                                            owners, and related units to research and develop a marine safety plan for
                                            ships with a gross tonnage of over 200,000 DWT leaving the ports in the Cai
                                            Mep area (where the port inlet is only designed and invested in accordance
                                            with the standard size of 80,000 DWT ships), for oil drilling rigs,
                                            super-heavy cargo ships with a total tonnage of over 30,000 DWT leaving the
                                            ports in the Dinh river area, Ba Ria - Vung Tau province (where the port
                                            inlet is only designed and invested in accordance with the standard size of
                                            10,000 DWT ships), it has been recognized that the world's Smart Port model,
                                            along with its Digital Twin, has been effectively applied at the Port of
                                            Rotterdam (Netherlands) - the gateway port of Europe. The digital twin is
                                            used to establish, monitor, operate transportation activities, and manage
                                            the infrastructure system based on data analysis of weather, geography,
                                            hydrographic conditions, which brings many benefits such as supporting port
                                            management and operation activities, optimizing the process of berthing ship
                                            movements, reducing waiting time for ships, saving costs, improving safety
                                            in port exploitation activities, predicting equipment maintenance times,
                                            etc. Applying Industry 4.0 technology to gradually digitize the
                                            infrastructure of Ba Ria - Vung Tau's seaports as a database, building a
                                            digital twin, and moving towards building a smart port is the optimal
                                            solution to realize the government's policy and the Ministry of Transport
                                            and the Vietnam Maritime Administration's direction to apply the
                                            achievements of the Industrial Revolution 4.0 to the management and
                                            operation of the seaport system. Therefore, the Maritime Administration of
                                            Vung Tau has
                                            worked with the Portcoast Consultant Corporation (Portcoast) to research and
                                            propose a "digitization" solution for Vung Tau
                                            seaport data.</p>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/accelerating-the-digitization-of-vung-tau-seaport-001.jpg"
                                                alt="<%=news.title_en%>" class="img-fluid">
                                            <figcaption>(Leadership: The Maritime Administration and Portcoast are working together to discuss solutions for coordination)</figcaption>
                                        </figure>
                                        <p>To implement this policy and solution, the Vung Tau Maritime Port Authority
                                            proactively provided Portcoast with information and data on the port (port
                                            construction design files, maritime traffic flow, detailed data on types of
                                            ships passing through Vung Tau port, maritime conditions in the area, etc.),
                                            as well as information on the nearly 50 ports, mooring areas, and floating
                                            docks in the management area. They collaborated with Portcoast to conduct
                                            surveys, gather necessary data, and organize work, mobilizing port companies
                                            operating in the cooperation area to provide data related to
                                            design/conversion/upgrading of port bridges, waterfront areas, etc., to
                                            ensure sufficient necessary data and create conditions for Portcoast to use
                                            Digital Twin - a "twin" of the physical environment in the digital space,
                                            such as a 3D model of the port or infrastructure project - data generated
                                            throughout the project life cycle from survey, design, construction to
                                            operation, exploitation, and maintenance. However, unlike static data
                                            models, the Digital Twin model is "alive," automatically collecting
                                            real-time data through sensors, cameras, connected via the Internet of
                                            Things (IoT) network, and integrating artificial intelligence (AI). The
                                            project also applied Building Information Modeling (BIM) and Scan-to-BIM
                                            technology (using modern technologies such as 3D laser scanners, mobile
                                            mapping, or aerial mapping) to accurately record the current state of
                                            structural objects, ship traffic flow, and detailed port planning in the
                                            form of point cloud clusters (Pointcloud is a collection of millions of
                                            accurately reflected points in the real environment, with coordinates in 3D
                                            space X, Y, Z, and color parameters, to become a reliable reference object
                                            for building digital models), to build and manage most of the port bridge
                                            and ship traffic flow models at Vung Tau seaport, through the following
                                            solutions:</p>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/accelerating-the-digitization-of-vung-tau-seaport-002.jpg"
                                                alt="<%=news.title_en%>" class="img-fluid">
                                            <figcaption>(Illustration of the Digital Twin at Vung Tau Seaport)
                                            </figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/accelerating-the-digitization-of-vung-tau-seaport-003.jpg"
                                                alt="<%=news.title_en%>" class="img-fluid">
                                            <figcaption>- Quét 3D laser mặt đất (Terrestrial Laser Scanning): sử dụng
                                                các thiết bị laser scanner từ các hãng thiết bị nổi tiếng như: Leica,
                                                Trimble, Topcon.

                                            </figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/accelerating-the-digitization-of-vung-tau-seaport-004.jpg"
                                                alt="<%=news.title_en%>" class="img-fluid">
                                            <figcaption>(Portcoast has organized 3D laser scanning and digital modeling for the Baria Serece port)</figcaption>
                                        </figure>
                                        <p>- The 3D laser mobile mapping solution is applied, using a 3D laser scanner
                                            device with integrated GPS mounted on a motorized vehicle to collect data
                                            while moving, and utilizing an Unmanned Surface Vehicle (USV) equipped with
                                            devices including the NORBIT iLidar 3D laser scanner placed on the bow of
                                            the vessel to record data around it, and a NORBIT iWBMS device mounted under
                                            the vessel to record seabed and riverbed terrain. This synchronized solution
                                            enables quick and accurate data collection both onshore and underwater.</p>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/accelerating-the-digitization-of-vung-tau-seaport-005.jpg"
                                                alt="<%=news.title_en%>" class="img-fluid">
                                            <figcaption>(Portcoast sử dụng thiết bị mobile mapping tại hệ thống đường
                                                liên cảng)</figcaption>
                                        </figure>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/accelerating-the-digitization-of-vung-tau-seaport-006.jpg"
                                                alt="<%=news.title_en%>" class="img-fluid">
                                            <figcaption>(Portcoast sử dụng thiết bị mobile mapping gắn trên USV và dữ
                                                liệu thu được tại cảng Hyosung Vina Chemicals)</figcaption>
                                        </figure>
                                        <p>- Aerial mapping is used to complete the data collection system, utilizing a
                                            3D laser scanner device to quickly and accurately record panoramic data
                                            without obstacles. Portcoast uses two renowned devices for this purpose, the
                                            Stormbee integrating the Faro S350-A scanner and the DJI Matrice 300 RTK
                                            integrating the Zenmuse L1/P1/Share module.</p>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/accelerating-the-digitization-of-vung-tau-seaport-007.jpg"
                                                alt="<%=news.title_en%>" class="img-fluid">
                                            <figcaption>(Portcoast uses Aerial mapping equipment to survey the seaport from the air)</figcaption>
                                        </figure>
                                        <p>- Setting up data for the model: The 3 solutions provide a comprehensive
                                            and adaptable set of solutions for all terrain scale requirements. Based on
                                            collected data, the 3D modeling process of the construction from point
                                            clouds is performed in Autodesk Revit software and 3D laser scanner
                                            manufacturer support software. The digitized model is completed and applied
                                            to asset information management, building virtual port tour models, and most
                                            importantly, developing a digital twin.</p>
                                        <p>As the gateway and international container transshipment port, Vung Tau
                                            seaport plays a significant role in Vietnam's seaport system. Therefore,
                                            actively coordinating research and completing the initial digitization of
                                            the planning, management, and operation of the port has great significance
                                            in terms of technological application and practical needs. This will help
                                            state management agencies, investors, operators, and related businesses
                                            manage and operate the seaport more effectively. Digitization will maximize
                                            operational capacity, improve operational safety, minimize environmental
                                            impact, and integrate the port system into the development process of the
                                            global maritime transportation ecosystem. In the future, the digital model
                                            will allow the reproduction of what is happening in the port system,
                                            establish scenarios for simulating all port activities, such as traffic
                                            activities, and possible emergency situations. From there, developing
                                            response scenarios and moving towards a comprehensive seaport management
                                            system to meet the trend of smart port development in the Industry 4.0
                                            era... This is a great effort of Portcoast Company, as well as related
                                            agencies and units, and completing the "digitization of Vung Tau seaport"
                                            soon will be a prerequisite for evaluating effectiveness, drawing
                                            experience, and moving towards experimental application in important
                                            seaports nationwide.</p>
                                        <figure>
                                            <img src="/public/images/news/<%= news.folder%>/accelerating-the-digitization-of-vung-tau-seaport-008.jpg"
                                                alt="<%=news.title_en%>" class="img-fluid">
                                            <figcaption>(Portcoast establishes a feature for visiting the Hyosung Vina Chemicals port through a BIM model and a game on their website)</figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include(dir+'partials/news.ejs')%>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>