<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>360° Virtual Tour | Portcoast Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="360° virtual tour is becoming increasingly popular worldwide and are being applied in various fields such as tourism, real estate, museums, education, etc." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="360° Virtual Tour | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/products/360-virtual-tours" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="360° Virtual Tour | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="360° virtual tour is becoming increasingly popular worldwide and are being applied in various fields such as tourism, real estate, museums, education, etc." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/products/360-virtual-tours" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="360° Virtual Tour | Portcoast Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="360° virtual tour is becoming increasingly popular worldwide and are being applied in various fields such as tourism, real estate, museums, education, etc." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/360-virtual-tours/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/products/360-virtual-tours" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Products</span>
                                        <h2 class="pcc-heading animate-box">360° Virtual Tour</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="animate-box" data-animate-effect="fadeInLeft">
                                        <h5>360° virtual tour is becoming increasingly popular worldwide and are being applied in various fields such as tourism, real estate, museums, education, etc. Developed based on advanced technology, this product allows users to experience an exciting journey without the need to be physically present.</h5>
                                        <div class="mb-3">
                                            <iframe width="100%" height="600px"
                                                src="https://www.portcoast.com.vn/virtual-tour/ba-ria-secere/"></iframe>
                                        </div>
                                        <p>With 360° virtual tour, users can fully explore famous locations and areas without having to physically be there. This saves time and travel expenses while ensuring the safety of users during the current pandemic.</p>
                                        <p>Using a 360° virtual tour is also very simple. Users just need to access the service's browser or application, select the location they want to explore, and start their virtual journey. Additionally, by combining with Virtual Reality (VR) devices, the experience becomes even more immersive, allowing users to fully immerse themselves in a completely virtual environment and feel like they are really there.
                                        </p>
                                        <p>Not only does this provide a great experience for users, it also helps businesses in many fields such as tourism, hotels, restaurants, schools, museums, and entertainment to promote and reach their customers.</p>
                                        <p>At Portcoast Digital Transformation Center, we also provide feature-rich 3D tours and exhibitions that allow users to interact with 3D models and videos, providing an exciting, vivid, and authentic experience.</p>
                                        <p>Benefits of virtual tours and exhibitions include:</p>
                                        <ul class="pcc-list">
                                            <li>Allowing users to experience locations, exhibitions, and events online and from a distance</li>
                                            <li>Saving time and costs for users</li>
                                            <li>Easy sharing on online platforms</li>
                                            <li>Increasing reach to customers</li>
                                            <li>Significantly reducing advertising costs</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include (dir+'partials/products.ejs')%>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>