<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>3D Mapping | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/3d-mapping/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="3D Mapping | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/products/3d-mapping" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="3D Mapping | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/3d-mapping/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/products/3d-mapping" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="3D Mapping | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/3d-mapping/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/products/3d-mapping" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Products</span>
                                        <h2 class="pcc-heading animate-box">3D Mapping</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="animate-box" data-animate-effect="fadeInLeft">
                                        <p>The Infrastructure Digitalization Center provides 3D mapping services using
                                            <a href="/en/solutions/topographical-survey">unmanned aerial vehicle
                                                (UAV)</a> surveying technology and <a
                                                href="/en/solutions/mobile-mapping">mobile mapping solutions</a>. The
                                            collected data is processed to create 2D or 3D terrain maps or extract
                                            information for land or asset measurement. The 2D and 3D maps can be used in
                                            urban management, agriculture, forestry, mining, land management, pollution
                                            control, planning, etc.</p>
                                        <img class="img-fluid mb-3" src="/public/images/products/3d-mapping/cover.jpg">
                                        <p>Using UAVs for 3D mapping at mining and construction sites is rapidly
                                            becoming an effective data collection method. It reduces the time and
                                            increases safety and accuracy compared to manual data collection.</p>
                                        <p>The benefits of 3D mapping include:</p>
                                        <ul class="pcc-list">
                                            <li>Creating highly accurate 3D models of any object on Earth. Using this
                                                data helps calculate area, describe terrain, vegetation, and optimize
                                                planning and design stages</li>
                                            <li>Highly detailed, sharp, and visually appealing images</li>
                                            <li>Using 3D maps can enhance virtual and augmented reality experiences</li>
                                            <li>Customers can measure the length and area of structures</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include (dir+'partials/products.ejs')%>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>