<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <title>BIM Model | Infrastructure Digital Transformation Center | Construction Digitization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Our services include Architectural BIM Modeling, Structural BIM Modeling, MEP BIM Modeling, and BIM Coordination in construction." />
    <meta name="keywords" content="BIM Services, Scan to BIM, 3D Laser Scanning, Digitization" />
    <meta name="author" content="PortcoastDT" />
    <meta name="robots" content="noodp, index, follow">
    <meta name="thumbnail" content="https://portcoast-bim.com/public/images/products/bim-modeling/cover.jpg" />

    <!-- GEO -->
    <meta name="DC.title" lang="en-US"
        content="BIM Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City, Viet Nam" />
    <meta name="DC.identifier" content="https://portcoast-bim.com/en/products/bim-models" />
    <meta name="geo.position" content="10.798656;106.664696" />
    <meta name="ICBM" content="10.798656, 106.664696" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title"
        content="BIM Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta property="og:description"
        content="Our services include Architectural BIM Modeling, Structural BIM Modeling, MEP BIM Modeling, and BIM Coordination in construction." />
    <meta property="og:image" content="https://portcoast-bim.com/public/images/products/bim-modeling/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://portcoast-bim.com/en/products/bim-models" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:title"
        content="BIM Model | Infrastructure Digital Transformation Center | Construction Digitization" />
    <meta name="twitter:description"
        content="Our services include Architectural BIM Modeling, Structural BIM Modeling, MEP BIM Modeling, and BIM Coordination in construction." />
    <meta name="twitter:image" content="https://portcoast-bim.com/public/images/products/bim-modeling/cover.jpg" />
    <meta name="twitter:url" content="https://portcoast-bim.com/en/products/bim-models" />
    <meta name="twitter:card" content="summary" />
    <%- include(dir+'partials/css.ejs') %>
</head>

<body>
    <div id="pcc-page">

        <%- include(dir+'partials/nav.ejs') %>
        <div id="pcc-main">
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <section class="pcc-services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="pcc-narrow-content">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3 col-md-pull-3 animate-box"
                                        data-animate-effect="fadeInLeft">
                                        <span class="heading-meta">
                                            Products</span>
                                        <h2 class="pcc-heading animate-box">BIM Model</h2>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-md">
                                    <div class="animate-box mb-3" data-animate-effect="fadeInRight">
                                        <img class="img-fluid" src="/public/images/products/bim-modeling/cover.jpg">
                                    </div>
                                    <div class="animate-box" data-animate-effect="fadeInLeft">
                                        <p>Building Information Modeling (BIM) is quickly becoming an industry standard
                                            for construction projects. It not only provides a digital representation of
                                            a building project, but also allows for increased collaboration between
                                            design teams, architects, engineers, and contractors in the design and
                                            construction environment.</p>
                                        <p>Our services include Architectural BIM Modeling, Structural BIM Modeling, MEP
                                            BIM Modeling, and BIM Coordination in construction. In addition, we also
                                            provide Scan to BIM modeling services, Virtual Design and Construction
                                            (VDC), 4D simulation, and Revit Landscape Architecture.</p>
                                        <p>The benefits of BIM model in construction projects include:</p>
                                        <ul class="pcc-list">
                                            <li>Increased efficiency: BIM helps contractors and construction teams
                                                optimize the construction process and reduce project completion time
                                            </li>
                                            <li>Cost reduction: BIM provides accurate cost information, helping
                                                investors and contractors manage project costs accurately and
                                                effectively</li>
                                            <li>Increased collaboration: BIM increases collaboration between
                                                contractors, construction teams, and investors, making project
                                                management easier and more effective</li>
                                            <li>Time savings: BIM optimizes time in the construction process and reduces
                                                project completion time</li>
                                            <li>Increased safety: BIM identifies risks and provides safety solutions
                                                before construction begins</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include (dir+'partials/products.ejs')%>
                    </div>
                </div>
            </section>
            <%- include (dir+'partials/footer.ejs')%>
        </div>
    </div>
    <%- include(dir+'partials/js.ejs') %>
</body>

</html>